<section class="banner-section">
    <owl-carousel
        [options]="bannerOptions"
        [items]="home_banner"
        [carouselClasses]="['owl-theme', 'row', 'sliding']" style="margin-right:0px;margin-left: 0px;">
        <div class="item" *ngFor="let banner of home_banner;let i = index">
            <div class="thumbnail-image">
              <img src="{{banner.banner_image_url}}" alt="banner1" title="">
              <div class="banner-con">
                <a class="main-button mr-10" href="{{banner.banner_link}}" ><span>view more</span></a>
                <a class="main-button" href="{{banner.banner_link1}}"><span>Buy now</span></a></div>
            </div>
        </div>
    </owl-carousel>
</section>
<!-- <section class="title-product-section container-fluid" data-aos="fade-up">
    <div class="title-section">
        <div class="title-image-section"><span>Choose a category</span></div>
    </div>
</section>
<section class="choose-a-category-section container-fluid lisiting-section" *ngIf="subCategories != [] "  >
    <owl-carousel [options]="subCategoryOptions" [items]="subCategories" [carouselClasses]="['owl-theme', 'row', 'sliding']" style="margin-right:0px;margin-left: 0px;">
        <div class="row "  *ngFor="let sub_category of subCategories" >
            <div class="category-box text-center " >
                <div class="row ">
                    <div class="col-12">
                        <a href="javascript:void(0);" routerLink="//products/{{sub_category.category_link}}/{{sub_category.link}}">
                            <img class="img-fluid owl-image" src="{{sub_category.subcategory_image_path}}" title="">
                        </a>
                        <br>
                        <h4 style="transform: capital">{{sub_category.subcategory_name}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </owl-carousel>
</section> -->
<section class="title-product-section container-fluid" id="all-product-section" #allProductDiv  data-aos="fade-up">
    <div class="title-section">
        <div class="title-image-section"><span>all products</span></div>
    </div>
</section>
<form #filterForm="ngForm" >
    <section class="all-product-section-top container-fluid lisiting-section mt-30" >
        <div class="row">
            <aside class="col-12 col-md-12 ">
                <div class="price-high-to-low-section float-right">
                    <select class="form-control" (change)="productSort = $event.target.value;getAllProducts();">
                        <option value = "PHTL"> sort by: price high to low</option>
                        <option value = "PLTH"> sort by: price low to high</option>
                        <option value = "NF"> sort by: Newest First</option>
                        <option value = "POPL"> sort by: Popularity</option>
                    </select>
                </div>
            </aside>
        </div>
    </section>  
    <section class="all-product-section " [class.fixed-container] = "fixedFilterFlag" >
        <aside class="col-lg-3 " [class.pirate] = "fixedFilterFlag">
            <div class="all-product-section-top pl-10">
                <ul class="list-inline filter-results-section">
                    <li class="list-inline-item"><a class="active" href="javascript:;"><span>Filter results</span></a></li>
                    <li class="list-inline-item"><span>|</span></li>
                    <li class="list-inline-item"><a href="javascript:void(0);" (click)="clearFilter()"><span>X reset filters</span></a></li>
                </ul>
            </div>
            <div class="filter-left-section">
                <div class="accordion" id="accordionFilter"></div>
                <div class="accordion" id="accordionFilter">
                    <div class="card" *ngFor="let category_filter of categoryFilter;let category_filter_count = index;"  ngModelGroup = "filters" >
                        <!-- <div class="card-header" id="filter_{{category_filter_count}}">
                            <h5>
                                <button id="bt" type="button" data-toggle="collapse" [attr.data-target]="'#' + 'colapse_filter'+category_filter_count" aria-expanded="false"  aria-controls="features-section">{{category_filter.category_filter_name}} </button>
                            </h5>
                        </div>
                        <div class="collapse " [ngClass]="{'show1': categoryFilterChecked.length > 0 }"  id="colapse_filter{{category_filter_count}}" aria-labelledby="features" data-parent="#accordionFilter">
                            <div class="card-body">
                                <ul class="list-unstyled" (click)="filterfunction(filterForm)">
                                    <li *ngFor="let filterParams of category_filter.filter_parameters;let i = index;" >
                                        <div class="form-check" >
                                            <label for="#screen-size1" ><span>{{filterParams.category_filter_parameter}}</span>
                                            <input  class="flat-red" [attr.checked] ="filterParams.isChecked " icheck  value="{{filterParams.category_filter_parameter_id}}"  id="screen-size1" type="checkbox" name="filter_id[{{filterParams.category_filter_parameter_id}}]"   filter-name="categoryFilter" someattribute="filterParams.category_filter_parameter_id" >
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                        <div class="card-header" id="filter_{{category_filter_count}}">
                            <h5>
                                <button id="bt" type="button" data-toggle="collapse" [attr.data-target]="'#' + 'colapse_filter'+category_filter_count" aria-expanded="false"  aria-controls="features-section">{{category_filter['filters_heading'] | removeunderscore}} </button>
                            </h5>
                        </div>
                        <div class="collapse " [ngClass]="{'show1': categoryFilterChecked.length > 0 }"  id="colapse_filter{{category_filter_count}}" aria-labelledby="features" data-parent="#accordionFilter">
                            <div class="card-body">
                                <ul class="list-unstyled" (click)="filterfunction(filterForm)">
                                    <li *ngFor="let filterParams of category_filter['filters_params'];let i = index;" >
                                        <div class="form-check" >
                                            <label for="#screen-size1" ><span>{{filterParams}}</span>
                                            <input  class="flat-red" [attr.checked] ="filterParams.isChecked " icheck  value="{{filterParams}}"  id="screen-size1" type="checkbox" name="{{filterParams}}"   [attr.filter-name]="category_filter['filters_heading']" someattribute="filterParams" [attr.filter-type]="category_filter['filters_heading']" >
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card"  ngModelGroup = "filters" >
                        <div class="card-header" id="filter_price">
                            <h5>
                                <button id="bt" type="button" data-toggle="collapse" data-target="#price-range-filter" aria-expanded="false" aria-controls="price-range-filter">Price</button>
                            </h5>
                        </div>
                        <div class="collapse " id="price-range-filter" aria-labelledby="filter_price" data-parent="#accordionFilter">
                            <div class="card-body">
                                <ul class="list-unstyled" >
                                    <li *ngFor="let price_filter_array of priceFilter;let i = index;" >
                                        <div class="form-check" >
                                            <label for="#screen-size1" ><span>₹ {{price_filter_array.min}} to ₹ {{price_filter_array.max}}</span>
                                            <input  class="flat-red" [attr.checked] ="price_filter_array.isChecked " icheck  value="{{price_filter_array.min}}-{{price_filter_array.max}}"  id="screen-size1" type="checkbox" name="price_filter"   [attr.filter-name]="'price_filter'" someattribute="price_filter" [attr.filter-type]="'price_filter'" >
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- price filter -->
                    <div class="card" ngModelGroup = "price_filters">
                        <div class="card-header" id="price-range">
                            <h5>
                                <button id="bt" type="button" data-toggle="collapse" data-target="#price-range-section" aria-expanded="false" aria-controls="price-range-section">Price range</button>
                            </h5>
                        </div>
                        <div class="collapse" id="price-range-section" aria-labelledby="price-range" data-parent="#accordionFilter">
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <!-- <li >
                                        <div class="d-flex align-items-center">
                                            <div class="form-check">
                                                <label class="price-label border-bottom-none">₹
                                                <button class="btn btn-primary" type="button" (click)="pricrRangefilterfunction('input')">Go</button>
                                                <input class="price-input unfill-input-price" type="number" value="" name = "minValueInput" [(ngModel)]="minValueInput"><span>T0</span>
                                                <input class="price-input unfill-input-price" type="number" value="" name = "maxValueInput" [(ngModel)]="maxValueInput">
                                                </label>
                                            </div>
                                        </div>
                                    </li> -->
                                   <!--  <li class="p20">
                                        <ng5-slider [(value)]="minValue" [(ngModel)]="priceSliderValue" name="priceSliderValue" [(highValue)]="maxValue" [options]="options" (userChangeEnd)="pricrRangefilterfunction('slider')"></ng5-slider>
                                    </li> -->
                                    <li class="" style="padding: 20px 50px 20px 20px;" >
                                        <nouislider
                                            [config]="priceSliderConfig" 
                                            [min]="minValue" 
                                            [max]="maxValue" 
                                            style="margin-top: 3em;width:100%;" 
                                            (change) = "onChangeSlider($event)"
                                            [(ngModel)]="priceRange" 
                                            name = "priceRange" 
                                            #priceRangeSlider >
                                        </nouislider>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- category filter -->
                </div>
            </div>
        </aside>
        <aside class="col-lg-9 row " *ngIf="(allProducts | json) != '{}' && !productLoading "  >
            <div class="col-12 buy-section" data-aos="fade-up" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="true" >
            <!-- <div class="col-12 buy-section" data-aos="fade-up" > -->
                <!-- <div class="row coming-section categroy-section-row product-listing-wrapper"  *ngFor="let products_by_row of allProducts | paginate: { itemsPerPage: itemsPerPage, currentPage: pageOffset,totalItems: totalProducts  }" > -->
                <div class="row coming-section categroy-section-row product-listing-wrapper"  *ngFor="let products_by_row of allProducts " >
                    <div class="col-sm-6 col-md-4 category-box text-center product-tile-box" *ngFor="let products of products_by_row"  >
                        <div class="row justify-content-sm-center ">
                            <div class="col-12 category-img">
                                <a routerLink="//products-details/{{products.link}}">
                                    <img class="img-fluid lazy" src="{{products.product_image_path}}" alt="" />
                                </a>
                                <div class="like-section" title="Add To Wishlist">
                                    <i (click)="addEditWishList(products)"
                                    [ngClass]="products.wishlisted ? 'fa fa-heart' : 'fa fa-heart-o'">
                                    </i> 
                                </div>
                            </div>
                            <div class="col-12 col-sm-9 col-equal">
                                <div class="row">
                                    <div class="col-12 category-title">{{products.product_model}}</div>
                                    <div class="col-12 category-price">₹ {{products.product_price}}/-</div>
                                    <div class="col-12 category-product-title">{{products.product_name  }}</div>
                                </div>
                            </div>
                            <div class="col-12 button-section btn-align-bottom mt-12"><a class="main-button" href="javascript:void(0);" routerLink="//products-details/{{products.link}}"><span>Buy Now</span></a></div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 col-lg-12 col-md-12 text-center" class="product-loader" *ngIf="prodcutLoaderBottom">
                <img src="{{assetsUrl}}images/product_loader.gif" alt="">
            </div>
            <!-- <div class="col-sm-12 col-lg-12 col-md-12 text-center" *ngIf="(allProducts | json) != '{}'">
                <hr>
                <pagination-controls (pageChange)="pageOffset = $event;getAllProducts();" class=""></pagination-controls>
            </div> -->
        </aside>
       <aside class="col-lg-9 row " *ngIf="(allProducts | json) == '{}' && !productLoading" >
            <img src="{{assetsUrl}}images/noproduct_gray.png" alt="" class="center" >
            <div class="clearfix"></div>
        </aside>
        <aside class="col-lg-9 row" *ngIf="productLoading">
            <app-loading></app-loading>
        </aside>
    </section>
</form>
<app-recently-viewed></app-recently-viewed>

