.product-tiles  .product-tiles-heading:before{
    position: absolute;
    top: 10px;
    left: -9px;
    content: url('src/assets/images/review-box.png');
}
.all-product-section aside.col-lg-9 {
    float: none;
    margin: 0px auto;
}

label.checkbox-class-label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-right: 15px; /* 10 px padding right + 15px input type*/
    margin-right: 0px; /* margin between inputs types */
}

label.checkbox-class-label:after {  
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;  
    right: 5px;
    width: 40px;
    height: 40px;
    background-size: 40px !important;
    top: -2px;
}

/* .checkbox-class {  
    display: none;  
} */

label.checkbox-class-label:after {
    background: url('/../assets/images/radio_button.png') right center no-repeat;
    background-size: 40px;
}

input[type=checkbox].checkbox-class:checked + label.checkbox-class-label:after {  
    background: url('/../assets/images/check_radio_button.png') right center no-repeat ;  
    background-size: 40px;
} 
/* .product-tile-box{
    position:relative;
}
.product-tile-box .button-section .main-button{
    position: absolute;
    top:85%;
} */

.choose-a-category-section .owl-image{
    width: 88% !important;
    height: auto !important;
    margin:0px auto !important;
}

