.product-tiles {
    margin-top: 20px !important;
    padding: 10px 10px 20px 10px;
    box-shadow: 0 0 2px rgba(33, 33, 33, .2);
}

.product-tiles:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.product-tiles {
    .product-tiles-img {
        img {
            width: 100% !important;
        }
    }
}
.product-loader{
    width: 100% ;
    text-align: center;
}
.product-tiles {
    .product-tiles-heading {
        position: relative;
        border-bottom: 1px solid #1d4a99;
        padding-left: 40px;
        padding-top: 9px;
        font-size: 20px;
        margin-bottom: 0;
        text-transform: uppercase;
        text-align: left;
    }
}

.product-tiles {
    .product-tiles-action {
        float: left;
        width: 100%;
    }
    .product-tiles-action {
        a.main-button {
            margin: 10px auto !important;
            float: none;
        }
    }
    .product-tiles-price {
        padding-top: 9px;
        font-size: 20px;
        margin-bottom: 0;
        text-transform: uppercase;
        text-align: left;
    }
}
mat-slider {
    width: 100%;
}
.fixed-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.pirate {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
}
.noUi-marker-horizontal.noUi-marker {
    display: none !important;
}
.noUi-target{
    background: #1c4899 !important;
    border-radius: 25px !important ;
}
.noUi-handle {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #FFF;
    cursor: default;
    box-shadow: inset 0 0 1px #FFF;
}
.noUi-handle:after {
    content: "Some words here"; /* Add something like this */
}
.noUi-connect {
    background: red !important;
}
