<div class="particles-wrapper" #mainDiv>
  <app-particles>
  </app-particles>
  <div class="description">
    <h1>Career</h1>
  </div>
</div>
<div class="career-container mt-30 fixed-container" [class.fixed-container] ="fixedFilterFlag"> 
  <div class="col-sm-6 col-md-6 col-xs-12 col-lg-6 float-left ">
    <h2>
      Apply Here
    </h2>
    <form action="" method="post" #careerFormObj = "ngForm" enctype='multipart/form-data' class="mt-30" [formGroup]="careerForm" >
      <div class="form-group">
        <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name" formControlName="first_name">
        <div *ngIf="careerFormSubmitted && careerForm.controls.first_name.errors">
          <div *ngIf="careerForm.controls.first_name.errors.required" class="text-danger">Please Enter the First Name</div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" name="middle_name" id="middle_name" class="form-control" placeholder="Middle Name" formControlName="middle_name">
        <div *ngIf="careerFormSubmitted && careerForm.controls.middle_name.errors">
          <div *ngIf="careerForm.controls.middle_name.errors.required" class="text-danger">Please Enter the Middle Name</div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name" formControlName="last_name">
        <div *ngIf="careerFormSubmitted && careerForm.controls.last_name.errors">
          <div *ngIf="careerForm.controls.last_name.errors.required" class="text-danger">Please Enter the Last Name</div>
        </div>
      </div>
      <div class="form-group">
        <select name="gender" id="gender" class="form-control" formControlName="gender">
          <option value="">Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        <div *ngIf="careerFormSubmitted && careerForm.controls.gender.errors">
          <div *ngIf="careerForm.controls.gender.errors.required" class="text-danger">Please select Gender</div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" name="email" id="email" class="form-control" placeholder="Email Address" formControlName="email">
        <div *ngIf="careerFormSubmitted && careerForm.controls.email.errors">
          <div *ngIf="careerForm.controls.email.errors.required" class="text-danger">Please Enter the Email Address</div>
          <div *ngIf="careerForm.controls.email.errors.email" class="text-danger">Please Enter valid Email Address</div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" name="mobile" id="mobile" class="form-control" placeholder="Mobile" formControlName="mobile" maxlength="10">
        <div *ngIf="careerFormSubmitted && careerForm.controls.mobile.errors">
          <div *ngIf="careerForm.controls.mobile.errors.required" class="text-danger">Please Enter the Mobile Number</div>
          <div *ngIf="careerForm.controls.mobile.errors.pattern" class="text-danger">Please Enter only Numbers</div>
        </div>
      </div>
      <div class="form-group">
        <textarea  name="message" id="message" class="form-control address-textarea" placeholder="Message" formControlName="message"></textarea>
        <div *ngIf="careerFormSubmitted && careerForm.controls.message.errors">
          <div *ngIf="careerForm.controls.message.errors.required" class="text-danger">Please Enter some Message</div>
        </div>
      </div>
      <div class="form-group">
        <select name="designation" id="designation" class="form-control" formControlName="designation">
          <option value="">Select Designation</option>
          <option [value]="opening.job_code" *ngFor = "let opening of openingsDetails">
            {{opening.opening_name}}
          </option>
          <option value="Others">Others</option>
        </select>
        <div *ngIf="careerFormSubmitted && careerForm.controls.designation.errors">
          <div *ngIf="careerForm.controls.designation.errors.required" class="text-danger">Please Select Designation</div>
        </div>
      </div>
      <h3 class="mt-30">Upload Resume :</h3>
      <div class="form-group">
        <input type="file" name="resume" id="resume" class="form-control file-form-control"  formControlName="resume" (change)="handleFileInput($event.target.files)">
        <div *ngIf="careerFormSubmitted && careerForm.controls.resume.errors">
          <div *ngIf="careerForm.controls.resume.errors.required" class="text-danger">Please Upload Resume</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="onSubmit()">Send</button>&nbsp;
        <button class="btn btn-primary" (click) ="careerFormObj.reset();careerFormSubmitted=false;">Cancel</button>
      </div>
    </form>
  </div>
  <div class="col-sm-6 col-md-6 col-xs-12 col-lg-6 float-left career-opening-accordian " [class.pirate] ="fixedFilterFlag">
    <div >
      <h2>Current Openings</h2>
      <div class="tabs " *ngIf="openingsDetails?.length > 0">
        <div class="tab" *ngFor="let openings of openingsDetails;let i = index">
          <input type="checkbox" id="chck{{i}}">
          <label class="tab-label" for="chck{{i}}">{{openings.opening_name}}</label>
          <div class="tab-content">
            <label for="">Qualifications : </label> {{openings.job_education}}<br>
            <label for="">Job Department : </label> {{openings.job_dept}}<br>
            <label for="">Job Location : </label> {{openings.job_location}}<br>
            <label for="">Job Description :</label><p [innerHtml]="openings.opening_des | safeHtml" ></p>
            <label for="">Job Skills : </label> <p [innerHtml]="openings.skills | safeHtml">
          </div>
        </div>
      </div>
      <div class="tabs " *ngIf="openingsDetails?.length <= 0">
        <div class="alert alert-danger">
          No openings Found.
        </div>
      </div>
    </div>
  </div>
</div>