.career-container{
    width:95% !important;
    margin:0px auto;
}
.particles-wrapper {
    position: relative;
    background:linear-gradient(to right,#1cb5e0,#000046);
    color: white;
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.particles-wrapper .description {
    padding:40px;
    text-align: center;
}
.particles-wrapper .description h1{
    margin-top: 80px;
    text-transform: uppercase;
}
.float-left{
    float:left !important;
}
label{
    color:#7e7e7e;
}
.tabs label{
  color:#000;
  font-weight:bold;
}
.address-textarea{
    max-width:100%;
    min-height:200px;
}
.file-form-control{
    padding: 8px 10px !important;
    height: 45px !important;
}
/* accordian css */

.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.career-opening-accordian input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.career-opening-accordian .tabs {
  overflow: hidden;
  width: 100%;
  border-bottom:1px solid #cdcdcd;
  margin-top: 25px !important;
}

.career-opening-accordian .tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.career-opening-accordian .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  color: #1d4a99;
  font-size:20px;
  font-weight: bold;
  cursor: pointer;
  border-top:1px solid #cdcdcd;
  /* Icon */
}

.career-opening-accordian .tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
}
.career-opening-accordian .tab-content {
  max-height: 0;
  padding: 1px 1em;
  color: #2c3e50;
  background: white;
  transition: all .35s;
  margin-top: -7px;
}
.career-opening-accordian .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}

.career-opening-accordian input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.career-opening-accordian input:checked ~ .tab-content {
  max-height: 100%;
  padding: 1em;
}
.fixed-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.pirate {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
}