<section class="col-lg-12 row" *ngIf="productLoading"  >
    <app-loading></app-loading>
</section>

<div #BuyNowSection></div>
<div class="col-md-12 banner-section-first" >
  <div class="row bg-ligh-gray ">
    <div class="col-md-4 breadcrumb-section">
      <nav aria-label="breadcrumb">
          <nav class="scroll-menu">
            <div class="menu__wrapper">
              <ul class="menu__menu">
                  <li class="breadcrumb-item menu__item"><a routerLink="/">Home</a></li>
                  <li class="breadcrumb-item menu__item"  *ngIf="breadcrumLinks != {}" >
                      <a routerLink="//products/{{breadcrumLinks?.category_link}}">{{breadcrumLinks?.category_name}}</a>
                  </li>
                  <li class="breadcrumb-item menu__item" *ngIf="breadcrumLinks != {}" >
                      <a routerLink="//products/{{breadcrumLinks?.category_link}}/{{breadcrumLinks?.subcategory_link}}">{{breadcrumLinks?.subcategory_name}}</a>
                  </li>
                  <li class="breadcrumb-item menu__item" *ngIf="productSku != ''" >
                      <a href="javascript:void(0)">{{productSku}}</a>
                  </li>
              </ul>
            </div>
          </nav>
      </nav>
    </div>
    <div class="col-md-8 float-right">
      <div class="content product-scroll-menu">
        <nav class="scroll-menu">
          <div class="menu__wrapper">
            <ul class="menu__menu">
                <li class="nav-item menu__item"  *ngIf="productFeatures?.length > 0"><a class="nav-link js-scroll-trigger"  href="javascript:void(0)" (click)="scrollToSection(FeatureSection)" ><span>FEATURES</span></a></li>
                <li class="nav-item menu__item" *ngIf="productTechniacalFeatures?.length > 0 " ><a class="nav-link js-scroll-trigger" href="javascript:void(0)" (click)="scrollToSection(SpecificationSection)" ><span>SPECS</span></a></li>
                <!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="javascript:;" (click)="scrollToSection(ReviewsSection)"><span>REVIEW</span></a></li> -->
                <li class="nav-item menu__item"><a class="nav-link js-scroll-trigger" href="javascript:;"><span>SUPPORT</span></a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="javascript:;" (click)="addToCompare(compareProductDetails)"><span>COMPARE</span></a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="javascript:;"><span><img class="Share-Icon-hover" src="{{assetsUrl}}images/Share-Icon-hover.png" alt="Share-Icon" title=""></span></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<section class="product-details-main-sectionz" *ngIf="!productLoading">
  <section class="banner-section-bottom container-fluid" >
    <div class="row title-main-section fixed-container" >
      <div class="product-details-left pirate" >
        <div class="thumbnail-slider-wrapper " >
            <div class="pull-right product-details-wishlist-fa" title="Add To Wishlist" style="position:absolute;">
              <i (click)="addEditWishList(wishlistedFlag,wishlistedId)"
              [ngClass]="wishlistedFlag ? 'fa fa-heart' : 'fa fa-heart-o'"
              data-toggle="tooltip" >
              </i> 
            </div>
            <div *ngIf="bigScreen">
              <div class="thumbnail-slider-wrapper-inner " >
                <div class="left-thumb">
                  <button (click)="thumbScroll('top')" class="thumb-scroll-nav"><img src="http://attoinfotech.website/demo/mitashi/images/top-arrow.png" alt="" style="width: 35px;"></button>
                  <div id="left-thumb-container">
                    <p class="item" *ngFor="let gallery_image of galleryImagesSlider;let i = index" (click)="goToSlide(i);">
                      <img src="{{gallery_image.product_thumbnail_image_url}}" alt="banner1" title="" style="width:50px;">
                    </p>
                    <span id="inner-element"></span>
                    <div class="clearfix"></div>
                  </div>
                  <button (click)="thumbScroll('bottom')" class="thumb-scroll-nav"><img src="http://attoinfotech.website/demo/mitashi/images/bottom-arrow.png" alt="" style="width: 35px;"></button>
                </div>
              </div>
              <div class="big-slider-wrapper-inner" >
                  <owl-carousel
                  [options]="galleryImageOptions"
                  [items]="gallery_image"
                  [carouselClasses]="['owl-theme', 'row', 'sliding']" style="margin-right:0px;margin-left: 0px;" 
                  #owlElement>
                  <div class="item" *ngFor="let gallery_image of galleryImagesSlider;let i = index" (click)="openImageViewer(i)">
                      <!-- <pinch-zoom [zoom-button]="true" class="custome-button"> -->
                        <img src="{{gallery_image.product_big_image_url}}" alt="banner1" title=""  >
                      <!-- </pinch-zoom> -->
                  </div>
                </owl-carousel>
                <div class="col-sm-12 text-center color-gray">Click here to zoom</div>
              </div>
            </div>
            <div *ngIf="!bigScreen">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="margin-top: 25px;"></ngx-gallery>
            </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="product-details-right" >
        <div class="title-bg-section" *ngIf="productDetails != {} ">
          <div class="col-md-12 title-bgimage-section">
            <div class="title-bg-box">
              <div class="title-section">
                <div class="title-section-title" >
                  {{productName}}
                  <!-- <h5>[ {{productSku}} ]</h5> -->
                </div>
               <!--  <div >
                  <star-rating value="{{overAllRating}}" checkedcolor="#1c4899" uncheckedcolor="#c1c1c1" size="35px"    readonly="true" >
                  </star-rating>
                  <p >
                    <a href="javascript:;" >
                      <i class="fa fa-user"></i> {{totalReviewCount}} users Reviews & Ratings 
                    </a> 
                  </p>
                </div> -->
              </div>
              <div class="title-section" *ngIf="shortDescription != '' ">
                <p>{{shortDescription}}</p>
              </div>
              <div class="color-section" *ngIf="productColors?.length>0" #colorSection>
                <h4 class="pl-0">COLORS</h4>
                <ul class="toggleButton" >
                  <li *ngFor="let product_color of productColors;let i = index;">
                      <input type="radio" id="product_color_{{i}}" name="productSelectedColor" [value]="product_color.color_id" (click)="selectColor(product_color.color_id)" [checked]="i==0"  />
                      <label for="product_color_{{i}}">{{product_color.color_name}}({{product_color.product_quantity}})</label>
                  </li>
                  <input type="hidden" name="productSelectedColor" [(ngModel)]="productSelectedColor"  >
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="key-features-section" >
                <ul class="list-unstyled" >
                  <h4 class="pl-0">KEY FEATURES</h4>
                  <li *ngFor="let key_feature of productKeyFeatures">
                    {{key_feature.short_features_title}}
                  </li>
                </ul>
              </div>
              <div class="col-12 title-section" >
                  <h4 class="pl-0">&#8377;{{productFinalPrice}}/-</h4>
                <!-- <div class="title-section-price" >&#8377;{{productFinalPrice}}/-</div> -->
              </div>
              <div class="clearfix"></div>
              <div class="col-12 title-button">
                <a class="main-button" href="javascript:void(0);" (click)="addTocart(productId)"><span>Add to Cart</span></a>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div  #FeatureSection></div>
  <section class="title-product-section container-fluid"  *ngIf="productFeatures?.length > 0 ">
    <div class="title-section"  data-aos="fade-up">
      <div class="title-image-section"><span>Features</span></div>
    </div>
  </section>
  <div class="clearfix"></div>
  <section *ngIf="productFeatures?.length > 0" class="feature-section "><br>
    <div *ngFor="let product_feature of productFeatures" data-aos="fade-up" class="mb50">
      <owl-carousel
        [options]="FeaturesOptions"
        [items]="product_feature.features_images"
        [carouselClasses]="['owl-theme', 'row', 'sliding']" style="margin-right:0px;margin-left: 0px;" >
        <div class="item" *ngFor="let product_feature_image of product_feature.features_images;let i = index;let isOdd = odd;let isEven = even">
          <section class="detail-image-section detail-image-section-2 container-fluid p-0">
              <div class="detail-box title-bg-section ">
                <div class="col-sm-12 text-center feature-details-images">
                  <article>
                    <h1 class="text-center" >{{product_feature_image.features_title}}</h1>
                    <h3  >{{product_feature_image.features_description}}</h3>
                  </article>
                  <div class="clearfix"></div>
                </div>
                <div class="detail-img">
                  <img class="detail-img" src="{{product_feature_image.features_images_path}}" alt="banner1" title="">
                </div>
              <!-- <div class="gray-section breadcrumb-section " [class.position-left]="product_feature_image.position == 'top'" [class.position-right]="product_feature_image.position == 'bottom'" > 
                  <h2 class="detail-title" >{{product_feature_image.features_title}}</h2>
                  <p class="deatail-text" >{{product_feature_image.features_description}}</p>
                </div> -->
              </div>
            </section>
        </div>
      </owl-carousel>
    </div>
  </section>
  <div #SpecificationSection></div>
  <section class="title-product-section container-fluid" id="specs" data-aos="fade-up" *ngIf="productTechniacalFeatures?.length > 0 " >
    <div class="title-section">
      <div class="title-image-section"><span>All specs</span></div>
    </div>
  </section>
  <section class="all-specs-section container-fluid detail-setion" data-aos="fade-up" *ngIf="productTechniacalFeatures?.length > 0 "  >
    <div class="row">
      <div class="container-fluid">
        <div class="row justify-content-sm-center">
          <div class="col-md-12">
            <div class="all-spes-box">
              <div class="accordion" id="accordionSpecs">
                <div class="col-12 title-button pl-0" >
                  <a class="main-button" href="javascript:void(0);" (click)="expandToggleActions();"><span>{{expandButtonText}}</span></a>
                </div>
                <div class="card " *ngFor="let specification_details of productTechniacalFeatures;let count = index;">
                  <div class="row">
                    <div class="card-header col-md-4" id="specs{{count}}">
                      <h5><a data-toggle="collapse"  [attr.aria-expanded]="expandToggle" data-parent="#accordionSpecs" [attr.href]="'#specs-section'+count" aria-expanded="false" [attr.aria-controls]="'specs-section'+count" >
                        <img class="accordion img-fluid" src="{{assetsUrl}}images/accordion.png" alt="accordion" title=""><img class="accordion-checkd img-fluid" src="{{assetsUrl}}images/accordion-checkd.png" alt="accordion" title=""><span>{{specification_details.attribute_group_name}}</span></a></h5>
                    </div>
                    <div class="collapse col-md-12 specs-section-table-div"  [class.show]="expandToggle" id="specs-section{{count}}">
                      <table>
                        <tr *ngFor="let technical_specs_values of specification_details.technical_attributes">
                          <td style="color:#000;">{{technical_specs_values.attribute_name}}</td>
                          <td style="color:#000;">{{technical_specs_values.attribute_value}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <div #ReviewsSection></div>
  <!-- <section class="title-product-section container-fluid" id="specs" data-aos="fade-up" >
    <div class="title-section">
      <div class="title-image-section"><span>Reviews</span></div>
    </div>
  </section>
  <section class="all-specs-section container-fluid detail-setion" data-aos="fade-up" >
    <div class="review-listing-wrapper">
      <div class="col-sm-4 col-md-4 col-lg-4 pull-right">
        <a href="javascript:void(0);" routerLink="//add-review/{{productLink}}" class="main-button pull-right">
          <span>
              Add Review
          </span>
        </a>
      </div>
    
      <div class="claerfix"></div>
      <div class="col-sm-12 col-md-12 col-lg-12"  >
        <div class="col-sm-4 col-md-2 col-lg-2 pull-left text-center pt-20">
          <h2>
            {{overAllRating }} <i class="fa fa-star"></i>
          </h2>
          <p>
            Reviews & Ratings <br>
           <i class="fa fa-user"></i> {{totalReviewCount}} 
          </p>
        </div>
        <div class="col-sm-8 col-md-4 col-lg-4 pull-left">
          <div class="progress">
            <span>
              5<i class="fa fa-star"></i>
            </span>
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
            aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': rating5+'%'}" >
            </div>
          </div>
          <div class="progress">
            <span>
              4<i class="fa fa-star"></i>
            </span>
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': rating4+'%'}">
            </div>
          </div>
          <div class="progress">
            <span>
              3<i class="fa fa-star"></i>
            </span>
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
            aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': rating3+'%'}">
            </div>
          </div>
          <div class="progress">
            <span>
              2<i class="fa fa-star"></i>
            </span>
            <div class="progress-bar progress-bar-light-danger" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': rating2+'%'}">
            </div>
          </div>
          <div class="progress">
            <span>
              1<i class="fa fa-star"></i>
            </span>
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': rating1+'%'}">
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 pull-left reviews-list-wrapper" *ngIf="productReviewDetails?.length>0">
        <ul>
          <li *ngFor="let reviews of productReviewDetails">
            <h5>
              <span _ngcontent-c1="" class="badge product-rating-badge badge-info" 
                [class.badge-success] ="reviews.rating == 5"
                [class.badge-info] ="reviews.rating == 4"
                [class.badge-warning] ="reviews.rating == 3"
                [class.badge-light-danger] ="reviews.rating == 2"
                [class.badge-danger] ="reviews.rating == 2"
              >
                {{reviews.rating}} <i class="fa fa-star"></i>
              </span>
            
              {{reviews.review_title}}
            </h5>
            <p>
              {{reviews.review_content}}
            </p>
            <p>
              <span class="rating-user"> 
                <i class="fa fa-user"></i>{{reviews.name}}              
              </span>             
            </p>
          </li>
        </ul>
        <div class="col-sm-12 text-center" *ngIf="totalReviewCount > 5">
          <a href="javascript:void(0)" class="main-button" routerLink="//product-reviews/{{productLink}}">
            <span>
              View More Reviews
            </span>
          </a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </section> -->
</section>
<div class="product-details-fixed-bottom">
  <!-- <button class="btn btn-primary" (click)="addTocart(productId)">Add to cart</button> -->
  <!-- <button class="btn btn-success" (click)="addEditWishList(wishlistedFlag,wishlistedId)" [innerHtml]="wishlistedFlag ? 'Remove From Wishlist' : 'Add To Wishlist'">
  </button> -->
</div>
<app-recently-viewed></app-recently-viewed> 
