.ngx-gallery-image {
    background-size:  60% !important;
}
.product-details-left{
    width:70%;
    float:left;
}
.product-details-right{
    width:30% ;
    float:right; 
    margin-top: -15px;
}
.feature-details-images{
    padding-top:20px;
    padding-bottom:10px;
}
.product-image-slider-big{
    width:85%;
    float:right;
    padding:0px 10px;
}
.product-image-slider-thumb{
    width:15%;
    float:left;
    padding:0px 10px;
}
.product-details-fixed-bottom{
    display:none;
    height:40px;
    position: fixed;
    bottom:0;
    width:100%;
    z-index: 9999;
    text-transform: uppercase;
}
.product-details-fixed-bottom .btn{
    width:50%;
    float:left;
    border-radius:0px;
    height: 100%;
    text-transform: uppercase;
}
.breadcrumb-section{
  padding-top:8px;
} 
  
.scroll-menu {
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  /* height: 40px; */
  height: 35px;
}
.scroll-menu input[type="checkbox"] {
  display: none;
}
.scroll-menu input[type="checkbox"]:checked ~ * {
  display: block;
}
.menu__wrapper {
  overflow: hidden;
  position: relative;
  top: -20px;
  z-index: 2;
}
.menu__wrapper:before, .menu__wrapper:after {
  content: '';
  position: absolute;
  width: 1em;
  height: 100%;
  top: 0;
  z-index: 3;
}
.menu__wrapper:before {
  left: 0;
}
.menu__wrapper:after {
  right: 0;
}
.menu__wrapper[data-submenu-name] {
  display: none;
  z-index: 1;
  margin-top: -1em;
}
.menu__wrapper[data-submenu-name]:before {
  left: 0;
}
.menu__wrapper[data-submenu-name]:after {
  right: 0;
}
.menu__wrapper--active {
  display: block;
}
.menu__menu, .menu__submenu {
  margin: 0;
  list-style: none;
  overflow-x: scroll;
  position: relative;
  top: 1em;
  /* padding: 0 0 1em 0; */
}
.scroll-menu li {
  display: inline-block;
  /* margin: 1em 0 1em 1em; */
}
.scroll-menu li:last-child {
  margin-right: 1em;
}
.scroll-menu li[data-submenu] .menu__item:after {
  content: '';
  margin-left: 5px;
  top: -.1em;
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 0.375em solid transparent;
  border-left: 0.375em solid transparent;
}
.menu__item {
  padding: .625em 0.25em;
  display: inline-block;
  border-radius: 100em;
  cursor: pointer;
  position: relative;
}

.menu__item--active:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  top: 100%;
  right: 50%;
  margin-right: -1em;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
}
.scroll-menu .nav-link {
  padding: 0.5rem 0.5rem !important;
}
.scroll-menu ul{
  padding-left: 0px !important;
}
.product-scroll-menu .scroll-menu{
    text-align: right;
}





/* ======================================== */
.thumbnail-slider-wrapper .thumbnail-slider-wrapper-inner{
  width:20%;float:left;padding:10px;
}
.thumbnail-slider-wrapper .big-slider-wrapper-inner{
  width:80%;float:left;padding:10px;
  margin-top: 10px;
}
#left-thumb-container {
  height: 350px;
  width: 130px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 4px;
  text-align: center;
}

#left-thumb-container  p {
    height: auto;
    padding: 2px;
    border: 1px solid #cdcdcd;
}
#left-thumb-container  p img{
  width: 80px !important;
}
#inner-element {
    background: red;
}
.left-thumb{
  width:114px;
  overflow:hidden;
  height:auto;
  border: 1px solid #f8f8f8;
  margin: 0px auto;
  cursor:pointer;
}
.left-thumb .thumb-scroll-nav{
  width:115px;
  text-align:center;
  background: #f8f8f8;
  padding: 5px 0px;
  cursor:pointer;
}
.left-thumb .thumb-scroll-nav:hover{
  background: #cdcdcd;
}
.left-thumb p.item:hover{
  box-shadow: 0 1px 8px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.left-thumb p.item:focus{
  box-shadow: 0 1px 8px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.fixed-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.pirate {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
}

.product-details-wishlist-fa{
  z-index: 2;
  right: 20px !important;
}
.product-details-wishlist-fa .fa {
  font-size: 20px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
  padding: 12px 11px 9px 11px;
  border-radius: 50%;
}
.product-details-wishlist-fa .fa.fa-heart-o{
  color: #8b7a7a;
}
textarea.review-comments{
  height:150px;
  max-width:100%;
}
.pull-right{
  float:right
}
.pull-left{
  float:left;
}
.custome-button div.pz-zoom-button{
  width: 30px !important;
  height: 30px !important;
  border-radius: 0px !important;
  background-size: 100% !important;
  right:0 !important;
}
.color-gray{
  color:#cdcdcd;
}
.image-viewer .img-container{
  background: #fff !important;
}
/* ======================================== */
@media (max-width:780px){
  .product-details-left,.product-details-right{
      width:100% !important;
      margin:20px 0px;
  }
  .product-details-right{
      background:#efefef;
  }
  .product-image-slider-big{
      width:70%;
 
  }
  .product-image-slider-thumb{
      width:30%;
  }

  .thumbnail-slider-wrapper .thumbnail-slider-wrapper-inner{
    width:30%;
  }
  .thumbnail-slider-wrapper .big-slider-wrapper-inner{
    width:60%;
  }
  .pirate {
    position:unset;
  }
  #left-thumb-container {
    height: 200px;
  }
}

@media (max-width:600px){
  .thumbnail-slider-wrapper .thumbnail-slider-wrapper-inner{
    display:none;
  }
  .thumbnail-slider-wrapper .big-slider-wrapper-inner{
    width:100%;
  }
}

@media (max-width:800px){
  .product-details-fixed-bottom{
      display: block;
  }
  .product-scroll-menu .scroll-menu{
      text-align: left;
  }
 
  .breadcrumb-section{
      background:#1c4899;
      height: 40px !important;
  }
  .breadcrumb-section a {
      color: #fff;
  }
  .product-details-wishlist-fa{
    top:10px;
  }
}
 
