.mat-dialog-container .mat-dialog-content { max-height: calc(100vh - 220px) !important; }
.mat-expansion-panel{
	box-shadow:unset !important;
	padding:0px !important;
}
.modal-close-button{
	float: right;
	/* border: 1px solid; */
	border-radius: 50%;
	padding: 1px 8px 0px 9px;
	font-size: 20px;
	position: relative;
	right: 0;
}
.modal-close-button:hover{	
	background:red;
	color:#fff;
}