<button class="modal-close-button" type="button" (click)="onNoClick()"><i class="fa fa-remove"></i></button>
<h2 mat-dialog-title >Add Address</h2>
<form class="ac-info-personal" #f="ngForm" [formGroup]="addressForm" >
  <mat-divider></mat-divider>  
  <div mat-dialog-content scrollStrategy  >
    <h5>Billing Address</h5>
    <input type="hidden" name="userId" formControlName="userId">
    <input type="hidden" name="addressId" formControlName="addressId">
    <div class="form-group">
      <label for="Address Title">Address Title*</label>
      <input type="text" class="form-control" id="billAddressTitle" name="billAddressTitle" formControlName="billAddressTitle">
      <div *ngIf="addressFormSubmitted && addressForm.controls.billAddressTitle.errors">
        <div *ngIf="addressForm.controls.billAddressTitle.errors.required" class="text-danger">Please Enter the Address Title</div>
      </div>
    </div>
    <div class="form-group">
      <label for="Name">Name*</label>
      <input type="text" class="form-control" id="billName" name="billName" formControlName="billName">
      <div *ngIf="addressFormSubmitted && addressForm.controls.billName.errors">
        <div *ngIf="addressForm.controls.billName.errors.required" class="text-danger">Please Enter the Name</div>
      </div>
    </div>
    <div class="form-group">
      <label for="Email Address">Email Address*</label>
      <input type="text" class="form-control" id="billEmail" name="billEmail" formControlName="billEmail">
      <div *ngIf="addressFormSubmitted && addressForm.controls.billEmail.errors">
        <div *ngIf="addressForm.controls.billEmail.errors.required" class="text-danger">Please Enter Email Address</div>
        <div *ngIf="addressForm.controls.billEmail.errors.email " class="text-danger">Please Enter Valid Email Address</div>
      </div>
    </div>
    <div class="form-group">
      <label for="Address 1">Address 1*</label>
      <textarea name="billAddress1" class="form-control" formControlName="billAddress1" id="billAddress1" cols="30" rows="10" ></textarea>
      <div *ngIf="addressFormSubmitted && addressForm.controls.billAddress1.errors">
        <div *ngIf="addressForm.controls.billAddress1.errors.required" class="text-danger">Please Enter Address1</div>
      </div>
    </div>
    <div class="form-group">
      <label for="Address 2">Address 2</label>
      <textarea name="billAddress2" class="form-control" formControlName="billAddress2" id="billAddress2" cols="30" rows="10" ></textarea>
    </div>
    <div class="form-group">
      <label for="Landmark">Landmark</label>
      <input type="text" class="form-control" id="billLandmark" name="billLandmark" formControlName="billLandmark">
    </div>
    <div class="form-group">
      <label for="City">Zipcode</label>
      <input type="text" class="form-control" id="billZipcode" name="billZipcode" formControlName="billZipcode" [required]="!sameShippingAddress">
      <div *ngIf="addressFormSubmitted && addressForm.controls.billZipcode.errors">
        <div *ngIf="addressForm.controls.billZipcode.errors.required" class="text-danger">Please Enter Zipcode</div>
        <!-- <div *ngIf="addressForm.controls.billZipcode.errors.maxLength || addressForm.controls.billZipcode.errors.minLength" class="text-danger">The Zipcode must Contain 6 Numbers</div> -->
        <div *ngIf="addressForm.controls.billZipcode.errors.pattern" class="text-danger">Please Enter only Numbers</div>
      </div>
    </div>
    <div class="form-group">
      <label for="City">City</label>
      <input type="text" class="form-control" id="billCity" name="billCity" formControlName="billCity">
      <div *ngIf="addressFormSubmitted && addressForm.controls.billCity.errors">
        <div *ngIf="addressForm.controls.billCity.errors.required" class="text-danger">Please Enter City</div>
      </div>
    </div>
    <div class="form-group">
      <label for="State">State</label>
      <input type="text" class="form-control" id="billState" name="billState" formControlName="billState">
      <div *ngIf="addressFormSubmitted && addressForm.controls.billState.errors">
        <div *ngIf="addressForm.controls.billState.errors.required" class="text-danger">Please Enter State</div>
      </div>
    </div>
    <div class="form-group">
      <label for="Country">Country</label>
      <input type="text" class="form-control" id="billCountry" name="billCountry" formControlName="billCountry">
      <div *ngIf="addressFormSubmitted && addressForm.controls.billCountry.errors">
        <div *ngIf="addressForm.controls.billCountry.errors.required" class="text-danger">Please Enter Country</div>
      </div>
    </div>
    <div class="form-group">
      <label for="Contact Number">Contact Number</label>
      <input type="text" class="form-control" id="billPhone" name="billPhone" formControlName="billPhone">  
      <div *ngIf="addressFormSubmitted && addressForm.controls.billPhone.errors">
        <div *ngIf="addressForm.controls.billPhone.errors.required" class="text-danger">Please Enter Contact Number</div>
        <!-- <div *ngIf="addressForm.controls.billPhone.errors.maxLength || addressForm.controls.billPhone.errors.minLength" class="text-danger">The Zipcode must Contain 10 Numbers</div> -->
        <div *ngIf="addressForm.controls.billPhone.errors.pattern" class="text-danger">Please Enter only Numbers</div>
      </div>
    </div>
    <!--same address div start---->
    <div class="ac-info-sec-content full">
      <label class="padding10"  >
        <input type="checkbox" class="" (change)="changeAddressCheckbox()" id="sameaddressFlag" name="sameaddressFlag"  formControlName="sameaddressFlag" >Check here to Make shipping address same as Billing Address 
      </label>
      <mat-accordion>
        <mat-expansion-panel [expanded]="!sameShippingAddress">
          <h5>Shipping Address</h5>
          <div class="form-group">
            <label for="Address Title">Address Title*</label>
            <input type="text" class="form-control" id="shipAddressTitle" name="shipAddressTitle" formControlName="shipAddressTitle" [required]="!sameShippingAddress">
            <div *ngIf="addressFormSubmitted && addressForm.controls.shipAddressTitle.errors">
              <div *ngIf="addressForm.controls.shipAddressTitle.errors.required" class="text-danger">Please Enter the Address Title</div>
            </div>
          </div>
          <div class="form-group">
            <label for="Name">Name*</label>
            <input type="text" class="form-control" id="shipName" name="shipName" formControlName="shipName" [required]="!sameShippingAddress">
            <div *ngIf="addressFormSubmitted && addressForm.controls.shipName.errors">
              <div *ngIf="addressForm.controls.shipName.errors.required" class="text-danger">Please Enter the Name</div>
            </div>
          </div>
          <div class="form-group">
            <label for="Email Address">Email Address*</label>
            <input type="text" class="form-control" id="shipEmail" name="shipEmail" formControlName="shipEmail" [required]="!sameShippingAddress">
            <div *ngIf="addressFormSubmitted && addressForm.controls.shipEmail.errors && !sameShippingAddress">
              <div *ngIf="addressForm.controls.shipEmail.errors.required" class="text-danger">Please Enter Email Address</div>
              <div *ngIf="addressForm.controls.shipEmail.errors.email " class="text-danger">Please Enter Valid Email Address</div>
            </div>
          </div>
          <div class="form-group">
            <label for="Address 1">Address 1*</label>
            <textarea  class="form-control"  name="shipAddress1" formControlName="shipAddress1" id="shipAddress1" cols="30" rows="10" [required]="!sameShippingAddress" ></textarea>
            <div *ngIf="addressFormSubmitted && addressForm.controls.shipAddress1.errors">
              <div *ngIf="addressForm.controls.shipAddress1.errors.required" class="text-danger">Please Enter Address1</div>
            </div>
          </div>
          <div class="form-group">
            <label for="Address 2">Address 2</label>
            <textarea  class="form-control" name="shipAddress2" formControlName="shipAddress2" id="shipAddress2" cols="30" rows="10" ></textarea>
          </div>
          <div class="form-group">
            <label for="Landmark">Landmark</label>
            <input type="text" class="form-control" id="shipLandmark" name="shipLandmark" formControlName="shipLandmark">
          </div>
          <div class="form-group">
            <label for="City">Zipcode</label>
            <input type="text" class="form-control" id="shipZipcode" name="shipZipcode" formControlName="shipZipcode" [required]="!sameShippingAddress">
            <div *ngIf="addressFormSubmitted && addressForm.controls.shipZipcode.errors && !sameShippingAddress">
              <div *ngIf="addressForm.controls.shipZipcode.errors.required" class="text-danger">Please Enter City</div>
              <!-- <div *ngIf="addressForm.controls.shipZipcode.errors.maxLength || addressForm.controls.shipZipcode.errors.minLength " class="text-danger">The Zipcode must Contain 6 Numbers</div> -->
              <div *ngIf="addressForm.controls.shipZipcode.errors.pattern " class="text-danger">Please Enter only Numbers</div>
            </div>
          </div>
          <div class="form-group">
            <label for="City">City</label>
            <input type="text" class="form-control" id="shipCity" name="shipCity" formControlName="shipCity" [required]="!sameShippingAddress">
            <div *ngIf="addressFormSubmitted && addressForm.controls.shipCity.errors">
              <div *ngIf="addressForm.controls.shipCity.errors.required" class="text-danger">Please Enter City</div>
            </div>
          </div>
          <div class="form-group">
            <label for="State">State</label>
            <input type="text" class="form-control" id="shipState" name="shipState" formControlName="shipState" [required]="!sameShippingAddress">
            <div *ngIf="addressFormSubmitted && addressForm.controls.shipState.errors">
              <div *ngIf="addressForm.controls.shipState.errors.required" class="text-danger">Please Enter State</div>
            </div>
          </div>
          <div class="form-group">
            <label for="Country">Country</label>
            <input type="text" class="form-control" id="shipCountry" name="shipCountry" formControlName="shipCountry" [required]="!sameShippingAddress">
            <div *ngIf="addressFormSubmitted && addressForm.controls.shipCountry.errors">
              <div *ngIf="addressForm.controls.shipCountry.errors.required" class="text-danger">Please Enter Country</div>
            </div>
          </div>
          <div class="form-group">
            <label for="Contact Number">Contact Number</label>
            <input type="text" class="form-control" id="shipPhone" name="shipPhone" formControlName="shipPhone" [required]="!sameShippingAddress">  
            <div *ngIf="addressFormSubmitted && addressForm.controls.shipPhone.errors  && !sameShippingAddress">
              <div *ngIf="addressForm.controls.shipPhone.errors.required" class="text-danger">Please Enter Contact Number</div>
              <!-- <div *ngIf="addressForm.controls.shipPhone.errors.maxLength || addressForm.controls.shipPhone.errors.minLength" class="text-danger">The Zipcode must Contain 10 Numbers</div> -->
              <div *ngIf="addressForm.controls.shipPhone.errors.pattern" class="text-danger">Please Enter only Numbers</div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="alert alert-success" [@enterAnimation]  *ngIf="alertSuccess !='' " >
      {{alertSuccess}}
    </div>
    <div class="alert alert-danger "  [@enterAnimation] *ngIf="alertDanger != '' ">
      {{alertDanger}}
    </div>
    <div class="col-sm-12 text-center">
      <a class="main-button" href="javascript:void(0)" (click)="onSubmit('addressForm')"><span>Save</span></a>&nbsp;&nbsp;
      <a class="main-button" href="javascript:void(0)" (click)="addressForm.reset();addressFormSubmitted=false;" >Reset</a>&nbsp;&nbsp;
      <a class="main-button" href="javascript:void(0)" (click)="onNoClick()" >Cancel</a>
    </div>
  </div>
  <mat-divider></mat-divider>
  <br>
  
  
</form>