<section class="col-lg-12 row" *ngIf="productLoading" >
  <app-loading></app-loading>
</section>
<section class="title-product-section container-fluid" >
  <div class="title-section">
    <div class="title-image-section"><span>Cart</span></div>
  </div>
</section>
<section class="choose-a-category-section container-fluid lisiting-section cart-section" *ngIf="!emptyFlag && !productLoading" >
  <div class="cart-table-main full">
    <div class="cart-table-inner full">
      <div class="cart-table-hd">
        <div class="cart-table-hd-list">
          <div class="cart-table-hd-list-col">
            <span>PRODUCT NAME</span>
          </div>
          <div class="cart-table-hd-list-col">
            <span>UNIT PRICE</span>
          </div>
          <div class="cart-table-hd-list-col">
            <span>QUANTITY</span>
          </div>
          <!-- <div class="cart-table-hd-list-col">
            <span>COLOR</span>
          </div> -->
          <div class="cart-table-hd-list-col">
            <span>SUBTOTAL</span>
          </div>
          <div class="cart-table-hd-list-col">
            <span>Action</span>			
          </div>
        </div>
      </div>
      <div class="cart-table-content">
        <div class="cart-table-content-list" *ngFor="let cart_items of cartDetails;let i = index;">
          <div class="cart-table-content-list-col" data-th="PRODUCT NAME">
            <div class="pro-info-cart full">
              <div class="pro-info-cart-col">
                <a href="products-details/{{cart_items.link}}">
                  <img src="{{cart_items.product_image_path}}" alt="mitashi-img">
                </a>
              </div>
              <div class="pro-info-cart-col">
                <a href="products-details/{{cart_items.link}}">
                  <h5>{{cart_items.product_sku}}</h5>
                  <p>{{cart_items.product_name}}</p>
                </a>
              </div>
            </div>
          </div>
          <div class="cart-table-content-list-col" data-th="UNIT PRICE">
            <p class="cart-price">₹ {{cart_items.product_price | number:'3.2-5'}}</p>
          </div>
          <div class="cart-table-content-list-col " data-th="QUANTITY">
            <div id="field1">
              <button type="button " id="sub" class="sub btn btn-primary" (click)="substractQuantity(i)">-</button>
              <input type="text" id="1" min="1" [(ngModel)]="cart_items.quantity" min="1" max="100"  class="number" disabled/>
              <button type="button" id="add" class="add  btn btn-primary" (click)="addQuantity(i)">+</button>
            </div>
          </div>
         <!--  <div class="cart-table-content-list-col" data-th="COLOR">
            <select name="product_color[i]" id="" class="form-control"  (change)="changeColor(i,$event.target.value)"> 
              <option value="{{colors.color_id}}" [selected]="colors.color_id == cart_items.product_color" *ngFor="let colors of cart_items.product_colors">
                {{colors.color_name}}
              </option>
            </select>
          </div> -->
          <div class="cart-table-content-list-col" data-th="SUBTOTAL">
            <p class="cart-price">₹ {{cart_items.quantity * cart_items.product_price | number:'3.2-5' }}</p>
            <input type="hidden" [(ngModel)]="cart_items.quantity * cart_items.base_price">
          </div>
          <div class="cart-table-content-list-col trash-col" data-th="">
            <a href="javascript:void(0);" (click)="removeCartProduct(i)"  class="main-button">
              <span>
                <i class="fa fa-remove"></i>
              </span>
            </a>
            <!-- <a class="trash-del"><i class="fa fa-remove" aria-hidden="true"></i></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-table-submit full category-box">
    <div class="cart-table-submit-col">
      <a class="main-button" routerLink="/"><span>Back to Home</span></a>
    </div>
    <div class="cart-table-submit-col">
      <a class="main-button" href="javascript:void(0);" (click)="updateShoppingCart()"><span>Update Shopping Cart</span></a>
    </div>
    <div class="cart-table-submit-col">
      <a class="main-button" href="javascript:void(0);" (click)="clearShoppingCart()" ><span>Clear Shopping Cart</span></a>
    </div>
  </div>
  <div class="cart-order-total full pr-20">
    <div class="cart-order-total-inner  ">
      <div class="cart-order-total-hd full">
        <h3>Order total</h3>
      </div>
      <div class="cart-order-total-content full">
        <div class="grand-total full">
          <div class="grand-total-col">
            <h4>Grand Total</h4>
          </div>
          <div class="grand-total-col">
            <h4>₹ {{productTotalAmount | number:'3.2-5'}}</h4>
          </div>
        </div>
      </div>
      <div class="full category-box text-center ">
        <a class="main-button proceed-checkout-btn" href="javascript:void(0);" (click)="proceedToCheckout()"><span>Proceed To Checkout</span></a>
      </div>
    </div>
  </div>
</section>
<section class="choose-a-category-section container-fluid lisiting-section text-center" *ngIf="emptyFlag && !productLoading" >
  <img src="{{assetsUrl}}images/emptycart.png" alt="">
</section>