.cart-section{
	margin-top:20px;
}
.cart-section .counter-group{
	width:130px;
}
.table-xs .item-row img {
	width:100px;
}
.trash-del{
	font-size:20px !important;
}
.trash-del:hover{
	background: red;
	padding: 5px 9px;
	border-radius: 50%;
	color: #fff;
}
.add.btn.btn-primary,.sub.btn.btn-primary{
	border-radius: 0px;
	padding: 2px 10px 2px 10px;
	height: 27px;
	margin-top: -1px;
}
.proceed-checkout-btn.main-button{
	height: 50px !important;
	width: 300px !important;
	font-size: 18px !important;
	padding-top: 8px !important;
}
.pr-20{
	padding-right:20px !important;
}
@media (max-width: 500px) {
	.cart-section .table-xs tr,
	.cart-section .table-xs td,
	.cart-section .table-xs tbody,
	.cart-section .table-xs thead,
	.cart-section .table-xs tfoot,
	.cart-section .table-xs th {
	  display: table;
	  width: 100%;
	  border-collapse: separate;
	}
	.cart-section .table-xs > tbody tr:first-child {
	  position: absolute;
	  top: -9999px;
	  left: -9999px;
	}
	.cart-section .table-xs td[title]:before {
	  content: attr(title) ": ";
	}
	.cart-section .table-xs td:before {
	  white-space: nowrap;
	  width: 50%;
	  display: table-cell;
	  text-align: left;
	  font-weight: bold;
	}
	.cart-section .table-xs .item-row td:first-child,
	.cart-section .table-xs .item-row td:nth-child(2) {
	  border: 0 none;
	}
	.cart-section .table-xs .item-row td:first-child {
	  border: 0 none;
	}
	.cart-section .table-xs .item-row td:last-child {
	  background: #eee;
	  border-bottom: 2px solid #a2a2a2;
	  font-weight: bold;
	}
	.cart-section .table-xs .item-row img {
	  margin-bottom: 1em;
	  width:150px;
	}
	.cart-section .table-xs .total-row td {
	  display: table-cell;
	  width: 1%;
	  border-top: 0 none;
	  border-bottom: 3px double #a2a2a2;
	  font-weight: bold;
	  font-size: 1.5em;
	}
	.cart-section .table-xs .total-row td:first-child {
	  width: 99%;
	}
	.add.btn.btn-primary,.sub.btn.btn-primary{
		margin-top: -2px;
	}
}
	


