.clearfix{
    line-height:0;
}
.m-auto{
    margin:0 auto;
}
section.aboutus{
    color:#333;
}
section.aboutus h1.page-title-primary{
    font-size:2rem;
    margin:30px 0 20px 0;
    color:#1c4899;
}
h2.page-title-secondary{
    font-size:2rem;
    margin:15px 0;
    color:#1c4899;
}
.text-center{
    text-align:center;
}
div.our-principles{
    padding:30px 0;
    background:#F4F4F4;
    text-align:center;
    font-size:15px;
}
div.principles-list div{
    display:inline-block;
    padding:15px;
    color:#1c4899;
    font-size:16px;
    text-transform: uppercase;
}
div.vision-mission{
    padding:20px;
}
div.vision-mission .row{
    margin:30px 0 0 0;
}
div.our-timelines{
    padding:20px;
}
div.timeline-aboutus {
    width: 70%;
    margin: auto;
  }
  
  div.timeline-aboutus p {
  
    border-top: 2px dashed;
    border-color: #1c4899 !important;
    margin:0; padding: 30px;
  }
  
  
  
  div.timeline-aboutus p:nth-child(even) {
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px; 
    padding-right: 0;
  }
  
  div.timeline-aboutus p:nth-child(odd) {
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px; 
    padding-left: 0;
  }
  
  div.timeline-aboutus p:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
  }
  
  div.timeline-aboutus p:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
  }
  div.timeline-aboutus span.year{
    display:block; 
    margin:8px 0;
    font-size:20px;
    font-weight:bold;
    color:#1c4899
  }
  div.timeline-aboutus span.year-text{
    display:block;
    margin:3px 0;    
    color:#333
  }
  div.timeline-aboutus strong{
      color:#1c4899
  }
  div.exclusive-creations{
    text-align:center;
  }

