<section class="col-lg-12 row" *ngIf="productLoading">
  <app-loading></app-loading>
</section>
<section class="title-product-section container-fluid" #aboutUsTop>
  <div class="title-section">
    <div class="title-image-section"><span>About Us</span></div>
  </div>
</section>
<div class="clearfix">&nbsp;</div>
<section class="container aboutus">
  <h1 class="page-title-primary">Our Philosophy</h1>
  <p>Interlinking hearts and synchronizing emotions, we, at Mitashi weave a dream with every creation of ours. Making
    the recipe of life the most tingling to our senses, we add the unique ingredients of education, entertainment,
    innovation, creativity, feelings and dedication to serve you the best of the products, manufactured with detailed
    precision.</p>
  <p>"One's philosophy is not best expressed in words; it is expressed in the choices one makes… and the choices we make
    are ultimately our responsibility."</p>
  <p><img src="assets/images/about-animated-img.png" alt="About Us" class="img-fluid mx-auto d-block" /></p>
  <div class="our-principles">
    <h2 class="page-title-secondary text-center">Our Principles</h2>
    <p>"There are three constants in life: change, choice and principles."</p>
    <p>Our business principles are our core values which we worship while we work.</p>
    <div class="principles-list">
      <div>HONESTY</div>
      <div>INTEGRITY </div>
      <div>DETERMINATION </div>
      <div>DEDICATION </div>
      <div>DISCIPLINED </div>
      <div>TEAM SPIRIT </div>
      <div>ETHICAL PRACTICES</div>
      <div>TRANSPARENCY</div>
      <div>SOCIAL ACCOUNTABILITY</div>
      <div>PURSUIT OF PERFECTION</div>
      <div>CORPORATE SOCIAL RESPONSIBILITY</div>
      <div>IMPECCABILITY OF PRODUCTION</div>
      <div>RESPECT FOR ALL</div>
      <div>INNOVATION AND CREATIVITY</div>
    </div>
  </div>
  <div class="vision-mission">
    <div class="row">
      <div class="col">        
        <p>"Vision is the art of seeing what is invisible to others."</p>
        <p>We at Mitashi are focussed about our vision and as a team we dedicate our efforts to the foresight of our
          pioneering leaders.</p>
      </div>
      <div class="col">
        <img src="assets/images/our-vision.png" alt="About Us" class="img-fluid d-block" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/images/our-mission.png" alt="About Us" class="img-fluid d-block" />
      </div>
      <div class="col">       
        <p>"To succeed in your mission, you must have single-minded devotion towards your goal." We at Mitashi blend our
          core values, principles and vision towards achieving the Mission of providing innovative creations catering to
          edutainment needs.</p>
      </div>
    </div>
  </div>
  <div class="our-timelines">
    <h2 class="page-title-secondary text-center">Our Timelines</h2>
    <div class="timeline-aboutus">
      <p>
        <span class="year">1998</span>
        <span class="year-text">The dream of two pioneering foresighted entrepreneurs; <strong>Rakesh Dugar</strong> and <strong>Hasmukh Gada</strong> saw the limelight
          of reality when <strong>Mitashi was launched</strong> as a brand that provides Indian consumers with high quality <strong>education</strong>
          and<strong> entertainment products</strong> at an affordable price. </span>
      </p>
      <p>
          <span class="year">2004</span>
          <span class="year-text"><strong>Mitashi</strong> entered the <strong>Consumer Electronics segment</strong> and became the first company in India to launch the
            <strong>DIV-X DVD Player and Progressive Scan DVD Player.</strong> Mitashi marked its presence as the largest home grown DVD Player producer
            in the country.</span>

      </p>
      <p>
        <span class="year">2010</span>
        <span class="year-text">
            <strong>In 2010, Mitashi</strong> achieved a Milestone in its journey. It launched <strong>LCD</strong> and <strong>LED televisions</strong>
            and established itself as a producer of Fully Featured Quality Televisions. For three consecutive years, <strong>Mitashi</strong> bagged itself
            the honour of being awarded in the segment of producing the Best Television. The award was bestowed by <strong>AV MAX</strong>; one of the
            oldest and most reputed tech magazine in India. 
        </span>
      </p>
      <p>
        <span class="year">2012</span>
        <span class="year-text">
            <strong>In 2012, Mitashi</strong> took its journey heads on while diving into the vibrant segment of <strong>Tablets</strong> and
            <strong>E-Commerce Solutions</strong>. With the constant zeal of endeavouring excellence with every innovation and creation of ours, we at
            <strong>Mitashi</strong> feel confident about emerging as one of the leading players in India's dream of becoming a <strong>Global Manufacturing
            Destination.</strong>
        </span>
      </p> 
    </div>
  </div>
  <div class="exclusive-creations">
    <h2 class="page-title-secondary text-center">Our Exclusive Creations</h2>
    <p>"Innovation distinguishes between a leader and a follower."</p> 
    <p>Our Innovation includes the following brands:</p>
    <div class="row">
        <div class="col">
          <img src="assets/images/creations-logo1.png" alt="Our Exclusive Creations" class="img-fluid mx-auto d-block" />
        </div>
        <div class="col">
          <img src="assets/images/creations-logo2.png" alt="Our Exclusive Creations" class="img-fluid mx-auto d-block" />
        </div>
        <div class="col">
          <img src="assets/images/creations-logo3.png" alt="Our Exclusive Creations" class="img-fluid mx-auto d-block" />
        </div>
        <div class="col">
          <img src="assets/images/creations-logo4.png" alt="Our Exclusive Creations" class="img-fluid mx-auto d-block" />
        </div>
    </div>
    <div class="row">
        <div class="col">
          <img src="assets/images/creations-logo6.png" alt="Our Exclusive Creations" class="img-fluid mx-auto d-block" />
        </div>
        <div class="col">
          <img src="assets/images/creations-logo7.png" alt="Our Exclusive Creations" class="img-fluid mx-auto d-block" />
        </div>
        <div class="col">
          <img src="assets/images/creations-logo8.png" alt="Our Exclusive Creations" class="img-fluid mx-auto d-block" />
        </div>
        <div class="col">
          <img src="assets/images/creations-logo9.png" alt="Our Exclusive Creations" class="img-fluid mx-auto d-block" />
        </div>
    </div> 
  </div>
</section>