<!-- <breadcrumb [allowBootstrap]="true"></breadcrumb> -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
<app-header></app-header>
<div *ngIf="loading" >
    <app-loading ></app-loading>
</div>
<div *ngIf="!loading">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>


<!-- <div class="feedback-section">
    <div class="feedback-title">FEEDBACK</div>
</div> -->