
.review-container{
    box-shadow: 0 1px 8px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.review-wrapper .review-product-detail,.review-wrapper .review-form-wrapper{
    padding: 10px;
    float:left;
    margin:20px auto;
    /* border: 1px solid #f1f1f1; */
    background: #cdcdcd14;
}
.review-wrapper .review-product-detail {
    /* border: 1px solid #f1f1f1; */
}
.review-wrapper .review-product-detail .review-product-detail-image,
.review-wrapper .review-product-detail .review-product-detail-content{
    float: left;
}
.review-wrapper .review-product-detail .review-product-detail-image img{
    float: left;
    width: 100%;
}
.p20{
    padding:20px !important;
}
textarea.review-comments{
    min-height:150px;
    max-width:100%;
}
.product-rating-badge{
    color: #fff !important;
    background: #1c4899 !important;
    border-radius: 4px !important;
    padding: 6px !important;
}
.review-intructions{
    float:left;
    text-align: left;
    padding: 0px;
}
.review-intructions h4{
    text-align: left;
}
.review-intructions ul{
    padding:0px;
    text-align: left;
}
.review-intructions ul li{
    border-bottom:1px solid #cdcdcd;
    padding:20px 0px; 
}
.error-container.alert{
    text-align: center !important;
    float:right;
}