<section class="title-product-section container-fluid" >
  <div class="title-section"  data-aos="fade-up">
    <div class="title-image-section"><span>Review & Rating</span></div>
  </div>
</section>
<section class="all-specs-section container-fluid detail-setion review-wrapper" >
  <div class="review-container container" *ngIf="!reviewNotAvailableFlag">
    <div class="review-product-detail ccol-sm-12 col-md-12 col-lg-12" >
      <div  class="review-product-detail-image col-sm-12 col-md-3 col-lg-3">
        <a href="javascript:void(0)" routerLink="//products-details/{{productLink}}">
          <img src="{{productImage}}" alt="">
        </a>
      </div>
      <div class="review-product-detail-content col-sm-12 col-md-9 col-lg-9">
        <a href="javascript:void(0)" routerLink="//products-details/{{productLink}}">
          <h4>{{productName}}</h4>
        </a>
        <p>₹ {{productPrice | number:'3.2-5'}}</p>
        <!-- <p>
          <span _ngcontent-c1="" class="badge product-rating-badge badge-success">
            4.4 <i class="fa fa-star"></i>
          </span>
        </p> -->
      </div>
    </div>
    <div class="review-form-wrapper col-sm-12 col-md-12 col-lg-12">
      <form action="" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="hidden" name="productId" formControlName="productId" [(ngModel)]="productId">
          <label for="">Rate Product<span class="text-danger">*</span></label>
          <star-rating value="{{Rating}}" checkedcolor="#1c4899" uncheckedcolor="#c1c1c1" size="35px"    readonly="false" (rate)="onRate($event)">
          </star-rating>
          <label for="" class="pull-left" *ngIf="Rating == 1" style="color:#ff6161"><b>Very Bad</b></label>
          <label for="" class="pull-left" *ngIf="Rating == 2" style="color: #ff9f00 "><b>Bad</b></label>
          <label for="" class="pull-left" *ngIf="Rating == 3" style="color: #388e3c"><b>Good</b></label>
          <label for="" class="pull-left" *ngIf="Rating == 4" style="color: #388e3c"><b>Very Good</b></label>
          <label for="" class="pull-left" *ngIf="Rating == 5" style="color: #388e3c"><b>Excellent</b></label>
          <input type="hidden" name="" id="" [(ngModel)]="Rating" formControlName="Rating">
          <div *ngIf="reviewFormSubmit && reviewForm.controls.Rating.errors"  >
            <div *ngIf="reviewForm.controls.Rating.errors.required" class="text-danger">Please rate product.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Title<span class="text-danger">*</span></label>
          <input type="text" name="" id="" class="form-control" formControlName="Title">
          <div *ngIf="reviewFormSubmit && reviewForm.controls.Title.errors">
            <div *ngIf="reviewForm.controls.Title.errors.required" class="text-danger">Please Enter the  Title</div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Comments<span class="text-danger">*</span></label>
          <textarea class="form-control review-comments" name="Comments" formControlName="Comments"></textarea>
          <div *ngIf="reviewFormSubmit && reviewForm.controls.Comments.errors">
            <div *ngIf="reviewForm.controls.Comments.errors.required" class="text-danger">Please Enter the Some Comments</div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="main-button" >
            <span>
              Submit
            </span>
          </button>
        </div>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="review-container container p20" *ngIf="reviewNotAvailableFlag">
      <div class="alert text-center col-sm-8 col-lg-8 col-md-8 error-container">
        <img src="{{assetsUrl}}/images/error.png" alt="">
        <h4>
          Oops!
        </h4>
        <p>
          You are not allowed to review this product.
        </p> 
        <a href="javascript:void(0)" routerLink="//products-details/{{productLink}}" class="main-button">
          <span>
            Click here go back to product
          </span>
        </a>
        <div class="clearfix"></div>
      </div>
      <div class="text-center col-sm-4 col-lg-4 col-md-4 text-left review-intructions">
        <h4>
          What makes a good review
        </h4>
        <hr>
        <ul>
          <li>
            <h4>
              Have you used this product?
            </h4>
            <p>
              Your review should be about your experience with the product.
            </p>
          </li>
          <li>
            <h4>
              Why review a product?
            </h4>
            <p>
                Your valuable feedback will help fellow shoppers decide!
            </p>
          </li>
          <li>
            <h4>
              How to review a product?
            </h4>
            <p>
              Your review should include facts. An honest opinion is always appreciated. If you have an issue with the product or service please contact us from the help centre.
            </p>
          </li>
        </ul>
      </div>
    <div class="clearfix"></div>
  </div>
</section>
