<div mat-dialog-content class="text-center">
        <p>{{alertMsg}}</p>
</div>
<div class="text-center">
    <button class="btn btn-primary dialog-close-button" (click)="onNoClick()">Close</button>
</div>