.mat-close{
    width: 30px;
    float:right;
    top: -30px;
    left: -15px;
}
.close-button-container img{
	width: 30px;
    margin-top: -10px;
    margin-left: -10px;
    cursor: pointer;
    float:right;
}
.mat-dialog-container{
    padding:0px !important;
}
.close-button-container{
    float:left;
    width:100%;
}
ngx-image-viewer .image-viewer .img-container{
    background: #fff !important;
}