<div class="close-button-container pull-right" >
    <img src="{{assetsUrl}}images/cross.png" alt="" (click)="onNoClick()">
  </div>
<div style="width: 100%;margin:0px auto;" class="image-viewer">
  <ngx-image-viewer [config]="config" [src]="images" [(index)]="imageIndex"></ngx-image-viewer>
</div>