.search-all-product-div .price-high-to-low-section,.search-all-product-div .search-all-product-div .price-high-to-low-section {
    margin-top:0px !important;
}
.search-filter-div{
    border:1px solid;
    margin:5px 0px;
    padding: 17px 10px 10px;;
    width:100%;
}