<section class="title-product-section container-fluid" id="all-product-section" #allProductDiv>
  <div class="title-section">
      <div class="title-image-section"><span>all products</span></div>
    </div>
</section>
<form #filterForm="ngForm" >
    <section class="all-product-section-top search-all-product-div container-fluid lisiting-section mt-30">
        <div class="row">
            <aside class="col-12 col-md-12 ">
                <div class="col-md-12">
                    <div class="row search-filter-div" >
                        <h3>
                            <span style="margin-top:3px;">Searched Key:</span> 
                            <button type="button" class="btn btn-primary">
                                {{productKey}} &nbsp; <span class="badge badge-light"><i class="fa fa-remove" routerLink="/"></i></span>
                            </button>
                        </h3> 
                        <div class="price-high-to-low-section float-right"  *ngIf="!noProductFound">
                            <select class="form-control" (change)="productSort = $event.target.value;getSearchedProducts();">
                                <option value = "PHTL"> sort by: price high to low</option>
                                <option value = "PLTH"> sort by: price low to high</option>
                                <option value = "NF"> sort by: Newest First</option>
                                <option value = "POPL"> sort by: Popularity</option>
                            </select>
                        </div>
                        <div class="price-high-to-low-section float-left" *ngIf="!noProductFound">
                            <select class="form-control" (change)="itemsPerPage = $event.target.value;getSearchedProducts();" >
                                <option value = "15"> Products Per Page: 15</option>
                                <option value = "30"> Products Per Page: 30</option>
                                <option value = "50"> Products Per Page: 50</option>
                                <option value = "100"> Products Per Page: 100</option>
                            </select>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </section>  
    <section class="all-product-section" >
        <aside class="col-lg-12 row " *ngIf="!noProductFound" >
            <div class="col-12 buy-section">
                <div class="row coming-section categroy-section-row"  *ngFor="let products_by_row of allProducts | paginate: { itemsPerPage: itemsPerPage, currentPage: pageOffset,totalItems: totalProducts  }" style="padding-left: 30px;">
                    <div class="col-sm-6 col-md-3 category-box text-center product-tile-box" *ngFor="let products of products_by_row">
                        <div class="row justify-content-sm-center">
                            <div class="col-12 category-img">
                                <a routerLink="//products-details/{{products.link}}">
                                    <img class="img-fluid lazy" src="{{products.product_image_path}}" alt="" />
                                </a>
                                <div class="like-section" title="Add To Wishlist">
                                    <i (click)="addEditWishList(products)"
                                    [ngClass]="products.wishlisted ? 'fa fa-heart' : 'fa fa-heart-o'"
                                    data-toggle="tooltip">
                                    </i> 
                                </div>
                            </div>
                            <div class="col-12 col-sm-9 col-equal">
                                <div class="row">
                                    <div class="col-12 category-title">{{products.product_model}}</div>
                                    <div class="col-12 category-price">₹ {{products.product_price}}/-</div>
                                    <div class="col-12 ">{{products.product_name}}</div>
                                </div>
                            </div>
                            <!-- <div class="col-12 button-section btn-align-bottom mt-10"><a class="main-button" href="javascript:void(0);" (click)="addTocart(products.product_id)"><span>Add To Cart</span></a></div> -->
                            <div class="col-12 button-section btn-align-bottom mt-12"><a class="main-button" href="javascript:void(0);" routerLink="//products-details/{{products.link}}"><span>Buy Now</span></a></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-12 col-lg-12 col-md-12 text-center" *ngIf="(allProducts | json) != '{}'">
                <hr>
                <pagination-controls (pageChange)="pageOffset = $event;getSearchedProducts();" class=""></pagination-controls>
            </div>
        </aside>
        <aside class="col-lg-12 row " *ngIf="noProductFound" >
            <img src="{{assetsUrl}}images/noproduct_gray.png" alt="" class="center">
            <div class="clearfix"></div>
        </aside>
        <aside class="col-lg-9 row" *ngIf="productLoading">
            <app-loading></app-loading>
        </aside>
    </section>
</form>
<app-recently-viewed></app-recently-viewed>

