/*PDP zoom alone */

div#gallery_pdp {
    margin: 5px;
    width: 100px;
    float: left;
}

.gallery-viewer {
    float: left;
    max-width: 500px;
    margin: 10px;
    margin-top: 5%;
}

.zoomLens {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o- user-select: none;
    user-select: none;
}

.zoomContainer .zoomLens {
    background: url("../images/zoom-icon.png");
    background-repeat: no-repeat;
}

.zoomContainer {
    cursor: url("../images/zoom-icon.png"), auto
}

.magnifylens {
    cursor: url("../images/zoom-icon.png"), auto!important;
}

.demagnifylens {
    cursor: url("../images/zoom-in-icon.png"), auto!important;
}

#enlarge_gallery_pdp {
    display: none;
}


/*fancybox*/

.pdp_enl_opt .fancybox-nav span {
    visibility: visible!important;
}

.pdp_enl_opt .fancybox-skin {
    background: transparent
}

.pdp_enl_opt .fancybox-opened .fancybox-skin {
    box-shadow: none;
}

.pdp_enl_opt .fancybox-nav, .pdp_enl_opt .fancybox-close {
    display: none;
}

.enl_fclose {
    background-position: center;
    background: url(../images/fclose.png) no-repeat center;
    right: 2%;
    top: 5%;
    box-shadow: none;
    border: none;
    width: 30px;
    height: 30px;
    background-size: contain;
    position: fixed;
    z-index: 111;
}

.enl_fright {
    background-position: center;
    background: url(../images/fright.png) no-repeat;
    top: 50%;
    right: 2%;
    box-shadow: none;
    border: none;
    width: 40px;
    height: 40px;
    background-size: contain;
    position: fixed;
    z-index: 111;
}

.enl_fleft {
    background: url(../images/fleft.png) no-repeat;
    top: 50%;
    left: 2%;
    box-shadow: none;
    border: none;
    width: 40px;
    height: 40px;
    background-size: contain;
    position: fixed;
    z-index: 111;
}

.fancybox-inner .enl_butt {
    z-index: 10000;
}

.pdp_enl_opt .fancybox-skin, .pdp_enl_opt .fancybox-wrap {
    background: transparent!important;
    box-shadow: none!important;
}

a.enl_but:hover {
    transform: scale(1.10) !important;
    transition: transform .25s !important;
}

.pdp_enl_opt .fancybox-image {
    max-width: 95%!important;
    margin: 0 auto;
}

img.fancybox-image {
    cursor: url("../images/zoom-icon.png"), auto;
}

#panic {
    cursor: url("../images/zoom-in-icon.png"), auto;
}


/* PDP Zoom End */


/* panning css */

.img-pan-container, .img-pan-container img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.img-pan-container {
    position: fixed;
    overflow: hidden;
    cursor: crosshair;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.img-pan-container img {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    top: 0;
    left: 0;
}


.mega_enl img {
    opacity: 0;
    transition: opacity .6s linear .85s;
}
.mega_enl img.loaded {
    opacity: 1;
}

/*mega enlarge */
.mega_enl {
    display: none
}
.mega_enl {
    position: relative;
    margin: 3%;
    width: 40%;
    height: 60%;
    box-shadow: 0 0 60px rgba(0, 0, 0, .4);
    background: #000;
}

/* version 2.1*/
.owl-item img {
    width: 100%;
}
#fancy_gall .owl-next, #fancy_gall .owl-prev {
    display: none;
}
a#ui-carousel-next {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -10px;
    left: 43%;
    background-image: url(../images/arrowdown.png);
    background-size: 70%;
    background-repeat: no-repeat;
}
a#ui-carousel-prev {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 43%;
    background-image: url(../images/arrowup.png);
    background-size: 70%;
    background-repeat: no-repeat;
}
.gallery_pdp_container {
    position: relative;
    float: left;
    padding: 25px 0;
}
.wrapper a img {
    border: 1px solid #000000;
}
.product-details {
    float: right;
    padding: 15px;
    WIDTH: 50%;
}

/* Page decoration css*/
a {
    color: #E84C3C
}
a.button {
    clear: both;
    text-decoration: none;
    background: #e84c3c;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    color: #f9f9f9;
}
ul {
    margin-bottom: 30px;
}
ul li {
    margin: 10px;
    color: #333333;
}
p.hint-pdp-img {
    text-align: center;
}
h1 {
    margin-top: 0;
}
