<!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery> -->


<div style="width:100%;padding:20px;">
    <nouislider [config]="someKeyboardConfig" [tooltips]="[ true, true ]" style="margin-top: 4em;width:100%;" [(ngModel)]="someValue" (ngModelChange)="onChange($event)" ></nouislider>
</div>