<mat-dialog-content class="text-center">
  <p>
   {{confirmMsg}}
  </p>
</mat-dialog-content>
<div class="text-center">
  <button class="btn btn-primary" (click)="onYesClick()" >YES</button>&nbsp;&nbsp;
  <button class="btn btn-primary" (click)="noClick()" >NO</button>
</div>  

    