.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    height: 24%;
    background: none;
    border-radius: 0px !important;
}

@media(max-width:768px){
    .main-home-div .star-product-title-section {
        margin-top: -56px !important;
    }
    .main-home-div .section-content{
        margin-top: -20px !important;
    }
    .main-home-div .home-second-banner-section{
        padding-top: 20px !important;
    }
}
.mt25{
    margin-top: 25px !important;
}