<section class="col-lg-12 row" *ngIf="preLoading"  >
    <app-loading></app-loading>
</section>
<div class="main-home-div" *ngIf="!preLoading">
  <section class="banner-section">
      <owl-carousel
          [options]="bannerOptions"
          [items]="home_banner"
          [carouselClasses]="['owl-theme', 'row', 'sliding']" style="margin-right:0px;margin-left: 0px;">
          <div class="item" *ngFor="let banner of home_banner;let i = index">
              <div class="thumbnail-image">
                <img src="{{banner.banner_image_url}}" alt="banner1" title="">
                <div class="banner-con">
                  <a class="main-button mr-10" href="{{banner.banner_link}}" ><span>view more</span></a>
                  <a class="main-button" href="{{banner.banner_link1}}" ><span>Buy now</span></a></div>
              </div>
          </div>
      </owl-carousel>
  </section>
  <section class="section-content add-section home-second-banner-section pt-10" >
    <owl-carousel
        [options]="section1Option"
        [items]="section1_images"
        [carouselClasses]="['owl-theme', 'row', 'sliding']" style="margin-right:0px;margin-left: 0px;">
        <div class="item" *ngFor="let section_image of section1_images;let i = index;" >
            <div class="thumbnail-image" >
              <img src="{{section_image.homesetting_section1_image_url}}" alt="banner1" title="">
            </div>
        </div>
    </owl-carousel>
  </section>
  <section class="title-product-section star-product-title-section container-fluid" >
    <div class="title-section">
      <div class="title-image-section"><span>star products</span></div>
    </div>
  </section>
  <section class="section-content add-section" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6 p-0" >
          <img class="img-fluid" src="{{starproduct_image1_url_960X800}}" alt="box1" title="" routerLink={{startProducts.starproduct_image1_link}}>
        </div>
        <div class="col-12 col-sm-6 p-0">
          <div class="row m-0">
            <div class="col-12 col-sm-6 pl-1 pr-0" data-aos="fade-up">
              <img class="img-fluid" src="{{starproduct_image2_url_480X400}}" alt="box2" title="" routerLink={{startProducts.starproduct_image2_link}}>
            </div>
            <div class="col-12 col-sm-6 pl-1 pr-0" data-aos="fade-up">
              <img class="img-fluid" src="{{starproduct_image3_url_480X400}}" alt="box2" title="" routerLink={{startProducts.starproduct_image3_link}}>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 pr-0 pl-1 pt-1" data-aos="fade-up">
              <img class="img-fluid" src="{{starproduct_image4_url_960X400}}" alt="box2" title="" routerLink={{startProducts.starproduct_image4_link}}>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="title-product-section container-fluid" data-aos="fade-up">
    <div class="title-section">
      <div class="title-image-section"><span>products reviews</span></div>
    </div>
  </section>
  <section class="section-content add-section" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6 product-review-box" *ngFor="let review of home_review;let index =index;let isOdd=odd;let isEven=even" [class.add-box-left]="isEven" [class.add-box-right]="isOdd" data-aos="fade-up">
          <img class="img-fluid" src="{{review.review_image_url}}" alt="product-review-box-1" title="">
          <div class="row justify-content-sm-center m-0">
            <div class="col-sm-10">
              <div class="product-review-box-content">
                <div class="product-review-box-title">{{review.review_title}}</div>
                <div class="product-review-box-text">
                  <p>{{review.review_description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="title-product-section container-fluid" data-aos="fade-up">
    <div class="title-section">
      <div class="title-image-section"><span>in the press</span></div>
    </div>
  </section>
  <div class="clearfix"></div>
  <section class="p-0 press-banner-section" data-aos="fade-up">
    <a routerLink="/inpress">
      <img class="img-fluid" src="{{press_image_url}}" alt="press-banner" title="">
    </a>
  </section>
  <section class="title-product-section container-fluid" data-aos="fade-up">
    <div class="title-section">
      <div class=" contact-image-section ">
        <span style="min-height: 50px;" class="hexagon-blue">Get your question answered about product setup, use and care, repair and maintenance issues. We can help. </span>
      </div>
    </div>
  </section>
  <section class="contact-section container-fluid"  data-aos="fade-up">
    <div class="row justify-content-sm-center">
      <div class="col-md-10">
        <div class="contact-boxes">
          <div class="contact-box contact-email-box text-center" data-aos="fade-up">
            <img class="img-fluid" src="{{assetsUrl}}images/Register-BG.png">
            <div class="contact-content-cox mt25">
              <div class="contact-icon">
                <img class="img-fluid" src="{{assetsUrl}}images/Email-Icon.png" alt="Email-Icon.png" title="">
              </div>
              <h3 class="">Email</h3>
              <p class="contact-text">Send a message to</p>
              <p class="contact-text">Mitashi customer support</p >
            </div>
          </div>
          <div class="contact-box contact-phone-box text-center" data-aos="flip-down"><img class="img-fluid" src="{{assetsUrl}}images/Phone-BG.png">
            <div class="contact-content-cox">
              <div class="contact-icon"><img class="img-fluid" src="{{assetsUrl}}images/Phone-Icon.png" alt="Phone-Icon.png" title=""></div>
              <h3 class="">Phone</h3>
              <h4 class="contact-text-blue">1800 102 9705</h4>
              <p class="contact-text">Monday to Saturday.<br>09:30am to 07:00pm</p>
            </div>
          </div>
          <div class="contact-box contact-register-box text-center"  data-aos="fade-up"><img class="img-fluid" src="{{assetsUrl}}images/Register-BG.png">
            <div class="contact-content-cox mt25">
              <div class="contact-icon">
                  <img class="img-fluid" src="{{assetsUrl}}images/signup-footer-mitashi.png" alt="signup-footer-mitashi.png" title="">
              </div>
              <h3 class="">Register</h3>
              <p class="contact-text">Your product</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="title-product-section container-fluid" data-aos="fade-up">
    <div class="title-section">
      <div class="title-image-section"><span>Recycle</span></div>
    </div>
  </section>
  <section class="recycle-section add-section" data-aos="fade-up" >
    <div class="container-fluid">
      <div class="row d-flex align-items-sm-center">
        <div class="col-md-5 add-box-left">
          <div class="gray-section">
            <h3 class="recycle-section-title">Recycle e-waste for better tomorrow.</h3>
            <p class="recycle-section-content">Dispose your old electronics & contribute towards a safe environment.</p>
          </div>
          <div class="button-section"><a class="main-button mr-10" href="javascript:;"><span>know more</span></a></div>
        </div>
        <div class="col-md-7 add-box-right"><img class="img-fluid" src="{{recycle_image_url}}" alt="recycle_banner" title=""></div>
      </div>
    </div>
  </section>
  <!-- <div class="clearfix"></div> -->
</div>