@font-face {
    font-family: 'HLR';
    src: url('../fonts/helvetica/HLR.eot');
    src: url('../fonts/helvetica/HLR.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helvetica/HLR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Roman';
    src: url('../fonts/helvetica/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg'),
        url('../fonts/helvetica/HelveticaNeue-Roman.ttf') format('truetype'),
        url('../fonts/helvetica/HelveticaNeue-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeue-Roman';
    src: url('../fonts/helvetica/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/helvetica/HelveticaNeue-Roman.woff') format('woff'), 
        url('../fonts/helvetica/HelveticaNeue-Roman.ttf')  format('truetype'), 
        url('../fonts/helvetica/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-65-Medium_22443';
    src: url('../fonts/helvetica/Helvetica-65-Medium_22443.eot');
    src: url('../fonts/helvetica/Helvetica-65-Medium_22443.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helvetica/Helvetica-65-Medium_22443.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('../fonts/helvetica/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg'),
        url('../fonts/helvetica/HelveticaNeue-Medium.ttf') format('truetype'),
        url('../fonts/helvetica/HelveticaNeue-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica-75-Bold_22447';
    src: url('../fonts/helvetica/Helvetica-75-Bold_22447.eot');
    src: url('../fonts/helvetica/Helvetica-75-Bold_22447.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helvetica/Helvetica-75-Bold_22447.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('../fonts/helvetica/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg'),
        url('../fonts/helvetica/HelveticaNeue-Bold.ttf') format('truetype'),
        url('../fonts/helvetica/HelveticaNeue-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}