.slider {
	margin: 6px 0 50px;
	float: left;
	width: calc(100% - 26px)
}
.startyear,
.endyear {
	float: left;
	width: 10px;
	color: #333;
	text-align: right;
	font-weight: bold;
	display: none;
}
.endyear {
	text-align: left;
}
.setyear {
	position: absolute;
	bottom: -2.5em;
	left: 0;
	width: 60px;
	height: 1em;
	text-align: center;
	color: #333;
	font-weight: bold;
	white-space: nowrap;
}
.range {
	position: relative;
	float: left;
	width: 100%;
	padding: 0 0.9375rem;
}
input[type=range] {
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 1px;
	padding: 0;
	border-radius: 4px;
	background: #1d4a99;
	box-sizing: content-box;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 19px;
	height: 16px;
	background-image: url('//src/assets/images/Price-Range-Slide-Button.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background-position: center auto;*/
}
/* Would be nice doesn't show in Chrome
input[type=range]::-webkit-slider-thumb:before {
	content: attr(data-count);
	display: block;
	background: green;
	width: 10px;
	height: 10px;
}
*/