#slider-thumbs {
    height: 480px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/Slider-Bar.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
}
 #slider-thumbs img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-bottom: 10px
}
 .selected img {
    opacity: 1 !important;
}
.carousel-control {
    color: #FFF;
    top: 250px;
}
.carousel-control.left {
    left: 0;
}
.carousel-control.right {
    right: 6px;
}
 #thumb-slider {
    position: absolute;
    top: 0;
    z-index: 1;
    bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.carousel-ctrl {
    position: absolute;
    display: block;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    /* background-color:#ebecec; */
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    background: #fff;
}
#slider-thumbs  .carousel-ctrl img {
    width: 13px;
    height: 10px;
    margin-bottom: 0;
    
}
.carousel-ctrl.top {
    top: 0px;
    background-image: url('../images/Slider-Bar-top-arrow.png');
    background-repeat: no-repeat;
    background-position: top center;
}
.carousel-ctrl.bottom {
    bottom: 0px;
    background-image: url('../images/Slider-Bar-bottom-arrow.png');
    background-repeat: no-repeat;
    background-position: bottom center;
}
.carousel-control:hover,
.carousel-control:focus,
.carousel-control:active {
    color: #FFF;
}
.carousel-control i {
    background-color: rgba(0,0,0,0.6);
    padding: 15px 10px;
}
 .pic-slc {
    display: block;
    transition: all 0.3s ease;
}
.p-related-slider {
    /* background-image: url("../images/texture.gif"); */
    padding: 40px;
}
.p-related-slider h1.title {
    text-align: left;
    display: inline-block;
    float: left;
}
.p-related-slider:before,
 .p-related-slider:after {
    content: " ";
    display: table;
    clear: both;
    visibility: hidden;
}
.related-slider #nlprev,
.related-slider #nlnext {
    position: absolute;
    top: 20%;
}
.related-slider .item {
    padding-right: 20px;
}
.related-slider #nlprev {
    left: 5px;
}
.related-slider #nlnext {
    right: 23px;
}
#n-related-slider .item {
    width: 100%;
    margin: 0 auto;
}
#n-related-slider .item h4,
#n-related-slider .item p {
    margin-left: 8px;
}