<section class="title-product-section container-fluid" id="all-product-section" *ngIf="recentlyViewedData?.length > 0">
  <div class="title-section">
      <div class="title-image-section"><span>Recently viewed</span></div>
  </div>
</section>
<section class="recently-section container-fluid lisiting-section section-content" *ngIf="recentlyViewedData?.length > 0">
    <div class="col-sm-12 text-right" *ngIf="allrecentViewFlag">
        <a href="javascript:void(0)" routerLink="//all-recently-viewed" class="main-button button250">
            <span>
                View all recently viewed
            </span>
        </a>
    </div>
    <owl-carousel [options]="recentlyViewedOptions" [items]="recentlyViewedData" [carouselClasses]="['owl-theme', 'row', 'sliding']" style="margin-right:0px;margin-left: 0px;">
        <div class="row "  *ngFor="let products of recentlyViewedData | recentlyViewOrder" >
            <div class="row justify-content-sm-center text-center">
                <div class="col-12 category-img">
                    <a routerLink="//products-details/{{products.link}}">
                        <img class="img-fluid lazy owl-image" src="{{products.product_image_path}}" alt="" />
                    </a>
                </div>
                <div class="col-12 col-sm-9 col-equal text-center">
                    <div class="row text-center">
                        <div class="col-12 category-title">{{products.product_model}}</div>
                        <div class="col-12 category-price">₹ {{products.product_price}}/-</div>
                        <div class="col-12 category-product-title">{{products.product_name  }}</div>
                    </div>
                </div>
                <div class="col-12 button-section btn-align-bottom mt-12 text-center"><a class="main-button" href="javascript:void(0);" routerLink="//products-details/{{products.link}}"><span>Buy Now</span></a></div>
            </div>
        </div>
    </owl-carousel>
</section>
