<section class="title-product-section container-fluid" >
  <div class="title-section">
    <div class="title-image-section"><span>Compare</span></div>
  </div>
</section>
<section class="choose-a-category-section container-fluid lisiting-section text-center" *ngIf="compareEmptyFlag" >
  <img src="{{assetsUrl}}images/noproduct_gray.png" alt="">
</section>
<section class="choose-a-category-section container-fluid lisiting-section cart-section" *ngIf="!compareEmptyFlag" >
  <div class="table-responsive">
    <table class="compare-table table table-bordered">
        <thead>
          <tr>
            <th>Products</th>
            <th *ngFor="let products of productDeatils;let i= index">
              <button (click)="removeProductFromCompare(i,products[0].product_id)" class="remove-btn"><i class="fa fa-remove"></i></button>
              <a href="javascript:void(0);" routerLink="//products-details/{{products[0].link}}"> 
                <img src="{{products[0].product_big_image_url}}" class="image-responsive"alt="">
                <p>
                  {{products[0].product_name}}
                </p>
              </a>
              <p>
                <i (click)="addEditWishList(products[0])"
                [ngClass]="products[0].wishlisted ? 'fa fa-heart' : 'fa fa-heart-o'"
                data-toggle="tooltip">
                </i> 
              </p>
              <p>₹ {{products[0].product_price | number:'3.2-5'}}</p>
              <a href="javascript:void(0);" class="main-button"  routerLink="//products-details/{{products[0].link}}"><span><i class="fa fa-shopping-cart"></i> Buy Now</span></a>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="productTechnicalFeatures?.length>0" >
          <tr *ngIf="keyFeatures?.length>0">
            <th>Key Features</th>
            <td *ngFor="let products of productDeatils;let k = index;">
              <ul class="text-left">
                <li *ngFor="let keyfeature of keyFeatures[k]">
                  {{keyfeature.short_features_title}}
                </li>
              </ul>
            </td>
          </tr>
          <tr *ngIf="productColors?.length>0">
            <th>Colors</th>
            <td *ngFor="let products of productDeatils;let k = index;">
              <ul class="text-left">
                <li *ngFor="let colors of productColors[k]">
                  {{colors.color_name}}
                </li>
              </ul>
            </td>
          </tr>
          <tr *ngFor="let techfeatures of productTechnicalFeatures[0];let i = index;">
            <th>{{techfeatures.attribute_group_name}}</th>
            <td *ngFor="let products of productDeatils;let k = index;">
              <ul class="text-left">
                <li *ngFor="let techattrvalue of productTechnicalFeatures[k][i].technical_attributes">
                    {{techattrvalue.attribute_name}} : {{techattrvalue.attribute_value}}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</section>