
table.compare-table {
    th{
      text-align: center;
      position: relative;
    }
    tr td{
      text-align:center;
      vertical-align: top !important;
    }
    .image-responsive{
      width:200px;
      margin:0px auto;
    }
    tr td ul{
      padding: 10px;
    }
    tr td ul li{
      padding: 5px;
      border-bottom: 1px solid #f1f1f1;
    }
    thead{
      background: #f1f1f152;
    }
    thead th {
      vertical-align: top !important;
    }
    thead th .remove-btn{
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 4px 10px;
      background: #1c4899;
      color: #fff;
    }
    .fa.fa-heart-o{
      color:#cdcdcd;
      font-size: 20px;
    }
    .fa.fa-heart{
      font-size: 20px;
    }
}

