<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Mitashi</title>
		<link rel="icon" type="image/x-icon"  href="http://attoinfotech.website/demo/mitashi/mitashi/assets/images/favicon.ico">
	</head>
	<body data-aos-easing="ease-in-out-sine" data-aos-duration="400" data-aos-delay="0">
		<header class="header-section">
			<div class="container-fluid">
			    <div class="row">
			        <div class="col-md-12 header-section-top">
			            <ul class="nav row">
			                <li class="col-12 col-md-2 top-menu-items logo-section">
								<div >
									<a routerLink="/"><img class="img-fluid" src="{{assetsUrl}}images/logo.png" alt="Mitashi logo" title="Mitashi"></a>
								</div>
								<div class="header-bar-menu-icon-div">
									<div class="header-bar-menu-icon-menu-bar">
										<button class="menuicon" type="button">
											<span class="menuline"></span>
											<span class="menuline"></span>
											<span class="menuline"></span>
										</button>
									</div>
									<!-- <div class="header-bar-menu-icon-cart">
										<a class="nav-link" href="javascript:;" routerLink="/cart" style="width: 50px;">
											<i class="fa fas fa-shopping-cart" ></i>
											<span class='badge bg-red' id='lblCartCount' [innerHTML]="cartCount"></span>
										</a>
									</div> -->
								</div>
							</li>
							<li class="dropdown  nav-item" *ngFor="let menu_data of menuData;let i = index">
								<a class="nav-link dropbtn custom-top-menu" href="javascript:void(0);" ><span>{{menu_data.menu_group_name}}</span></a>
								<div class="dropdown-content" id="fixed" #dropdownMenu>
									<div *ngFor="let category_data of menu_data.categories" class="column" >
										<a href="javascript:void(0)" class="nav-link category-heading-nav" routerLink="products/{{category_data[0].category_link}}">
											{{category_data[0].category_name}}
										</a>
										<div *ngFor="let subcategory_data of category_data">
											<a href="javascript:void(0)" routerLink="products/{{category_data[0].category_link}}/{{subcategory_data.subcategory_link}}" class="nav-link subcategory-nav-link">
												{{subcategory_data.subcategory_name}}
											</a>
										</div>
									</div>
								</div>
							</li>
			                <li class="col-md-1 nav-item top-menu-items">
			                    <a class="nav-link custom-top-menu" href="javascript:;"><span>Support</span></a>
			                </li>
			                <li class="col-md-3 nav-item top-menu-items last-li-nav">
			                    <ul>
			                       <!--  <li>
			                            <a class="nav-link" href="javascript:;" routerLink="/cart">
			                                <i class="fa fas fa-shopping-cart" ></i>
			                                <span class='badge  bg-red' id='lblCartCount' [innerHTML]="cartCount"></span>
			                            </a>
			                        </li> -->
			                        <li class="user-nav-item w50"><a class="nav-link nav-link-submenu" href="javascript:;"><i class="fas fa-user"></i></a>
			                            <ul class="nav nav-submenu flex-column">
			                                <li class="nav-item text-left" *ngIf="!auth.isUserLoggedIn()"><a class="nav-link"  href="javascript:;" (click)="loginOrRegister()" ><i class="fa fa-lock"></i> Log in</a></li>
			                                <li class="nav-item text-left" *ngIf="auth.isUserLoggedIn()"><a class="nav-link"   href="javascript:;" routerLink="my-account"><i class="fa fa-user"></i> My Account</a></li>
			                                <!-- <li class="nav-item text-left" *ngIf="auth.isUserLoggedIn()"><a class="nav-link" href="javascript:;" routerLink="my-account/orders"><i class="fa fa-list"></i> Track Your Order</a></li> -->
			                                <li class="nav-item text-left" *ngIf="auth.isUserLoggedIn()"><a href="javascript:;" class="nav-link" (click)="auth.logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
			                            </ul>
			                        </li>
			                        <li class="search-box w50">
			                            <form class="app-search" >
			                                <!-- <div class="search-input-box" *ngIf="searchToggle" [@EnterLeave] >
			                                    <input class="search-control" type="text" placeholder="Search here"  [(ngModel)]="searchText" name="searchText" >
			                                    <button class="search-icon" type="submit" (click)="onSubmit(searchText);" ><i class="fas fa-search" ></i></button>
											</div> -->
			                                <a class="nav-link" href="javascript:;" (click)="searchToggle = true" *ngIf="!searchToggle" ><i class="fa fa-search"></i></a>
			                                <a class="nav-link" href="javascript:;" (click)="searchToggle = false" *ngIf="searchToggle"><i class="fa fa-remove"></i></a>
										</form>
										
			                        </li>
			                        <li class="kids-section ">
			                            <a href="javascript:;" class="pl-0"><span>Kids</span></a>
			                        </li>
			                    </ul>
			                </li>
			            </ul>
			        </div>
			    </div>
			    <div class="menusection-menu">
			        <div class="close-menu"><i class="fa fa-remove"></i></div>
			        <form action="">
			            <div class="clearfix"></div>
			            <div class="search-wrapper">
			                <input type="text" class="form-control" placeholder="Search here"  [(ngModel)]="searchText" name="searchText" >
			                <button class="btn btn-primary nav-link"   type="submit" (click)="onSubmit(searchText);">GO</button>
			            </div>
					</form>
					
			        <mat-accordion class="mat-accordion-menu" >
			            <mat-expansion-panel class="mat-menu-group" *ngFor="let menu_data of menuData;let i = index">
			                <mat-expansion-panel-header>
								<a  href="javascript:void(0);" ><span>{{menu_data.menu_group_name}}</span></a>
			                </mat-expansion-panel-header>
							<mat-action-row class="inner-mat-accordion-menu" *ngFor="let category_data of menu_data.categories" >
								<mat-expansion-panel >
									<mat-expansion-panel-header>
										<a href="javascript:void(0)" routerLink="products/{{category_data[0].category_link}}" class="nav-link">
											{{category_data[0].category_name}}
										</a>
									</mat-expansion-panel-header>
									<mat-action-row *ngFor="let subcategory_data of category_data" >
										<a href="javascript:void(0)" routerLink="products/{{category_data[0].category_link}}/{{subcategory_data.subcategory_link}}" class="nav-link mat-subcategory-nav-link" >
											{{subcategory_data.subcategory_name}}
										</a>
									</mat-action-row> 
								</mat-expansion-panel>
			                </mat-action-row>
			            </mat-expansion-panel>
			            <mat-card>
							<a class="nav-link" href="javascript:;">
								<i class="fa fa-child"></i> Kids
							</a>
						</mat-card>
			            <mat-card>
							<a class="nav-link" href="javascript:;">
								<i class="fa fa-support"></i> Support
							</a>
						</mat-card>
			            <mat-expansion-panel>
			                <mat-expansion-panel-header>
			                    <i class="fas fa-user"></i>&nbsp;Account
			                </mat-expansion-panel-header>
			                <mat-action-row class="nav-item text-left" *ngIf="!auth.isUserLoggedIn()"><a class="nav-link" (click)="loginOrRegister()">Log in</a></mat-action-row>
			                <mat-action-row class="nav-item text-left" *ngIf="auth.isUserLoggedIn()"><a class="nav-link" routerLink="my-account">My Account</a></mat-action-row>
			                <!-- <mat-action-row class="nav-item text-left" *ngIf="auth.isUserLoggedIn()"><a class="nav-link" href="javascript:;" routerLink="my-account/orders">Track Your Order</a></mat-action-row> -->
			                <mat-action-row class="nav-item text-left" *ngIf="auth.isUserLoggedIn()"><a href="javascript:;" class="nav-link logout" (click)="auth.logout()">Logout</a></mat-action-row>
			            </mat-expansion-panel>
			        </mat-accordion>
			    </div>
			</div>
			<div class="p10 search-input-wrapper slide-animation" *ngIf="searchToggle" >
				<div class="input-group  search-input-wrapper">
					<input type="text" class="form-control search-input" placeholder="Search here"  [(ngModel)]="searchText" name="searchText" class="form-control search-input" placeholder="Search here" (focusout)="focusOutFunction()" >
					<div class="input-group-append">
						<button class="input-group-text search-btn" (click)="onSubmit(searchText);"><i class="fa fa-search"></i>&nbsp;SEARCH</button>
					</div>
				</div>
			</div>
			</header> 
			<!-- <form class="example-form">
				<mat-form-field class="example-full-width">
					<input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
					<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
					<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
						{{option.name}}
					</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</form> -->
		