header{
    /* position:fixed;
    z-index:9999; */
    /* right:0;
    left:0; */
}
.p10{
    padding:10px !important;
}

/* searchbox */
.search-btn{
    background: #1d4a99;
    color: #fff;
}
.w50{
    width:50px !important;
}
.slide-animation {
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    padding:5em 3em;
}
.search-input-wrapper{
    background:#eceded;
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    
}
.search-input-wrapper .search-input{
    height:35px !important;
    border-radius: 0px !important;
    border:0px !important;
    outline: 0 !important;
    outline-width: 0 !important;    
}
.search-input-wrapper .search-input:focus{
    outline: 0 !important;
    outline-width: 0 !important;
}
.search-input-wrapper .input-group-prepend .input-group-text,.search-input-wrapper .input-group-append .input-group-text{
    border-radius:0px !important;
}

/* searchbox */

.menusection-menu {
    background: #fff;
    z-index: 99999;
}

.mat-accordion .mat-card {
    padding-left: 24px !important;
    border-bottom: 0.5px solid #cdcdcd;
    border-radius: 0px;
    box-shadow: unset !important;
}

.mat-accordion .nav-link {
    padding: 0px !important;
}

.mat-accordion .mat-expansion-panel {
    border-bottom: 0.5px solid #cdcdcd;
}

.mat-accordion .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: unset;
}

.mat-accordion a {
    color: #000;
}

.mat-accordion .mat-action-row {
    justify-content: left;
    padding: 16px 8px 16px 50px;
}
.mat-subcategory-nav-link {
    padding: 16px 8px 16px 50px !important;
}
.inner-mat-accordion-menu mat-expansion-panel{
    width:100% !important;
    border-bottom:0px !important;
    padding:0px 0px 0px 20px !important;
}
.inner-mat-accordion-menu{
    padding:0px 0px 0px 20px !important;
}
.close-menu {
    float: left;
    width: 100%;
    text-align: center;
}

.close-menu span {
    margin-top: 6px;
    background: #1c4a99;
    padding: 17px;
    border-radius: 50%;
    width: 50px;
    color: #fff;
}

.display-none{
    display:none !important;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
  
.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 2px 5px 0px 5px;
    vertical-align: top;
    margin-left: -10px; 
}



header .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header .dropdown {
    float: left;
    overflow: hidden;
    z-index:999;
    margin-top: 10px;
  
}

header .dropdown .dropbtn {
    border: none;
    outline: none;
}


header .dropdown-content {
    /* display: none; */
    position: absolute;
    background-image: linear-gradient(#fff,#f1f1f147) !important;
    background: #fff;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

header .dropdown-content .header {
    padding: 16px;
    color: white;
}

header .dropdown:hover .dropdown-content {
    background: yello;
    display: block;
    visibility: visible;
    opacity: 1;
}


header .column {
    width:30%;
    float:left;
    padding: 0px 10px;
    
}
header .dropdown .dropdown-content{
    padding-left: 16% !important;
    padding-top: 20px !important;
    padding-bottom:20px !important;
}

/* header .dropdown:nth-child(2) > .dropdown-content{
    padding-left: 21%;
}
header .dropdown:nth-child(3) > .dropdown-content{
    padding-left: 34%;
}
header .dropdown:nth-child(4) > .dropdown-content{
    padding-left: 51.5%;
} */

header .column a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
}
header .column .category-heading-nav{
    font-size: 16px !important;
    font-weight:bold;
}

header .column a:hover {
    color:#1d4a99;
}
header .column .subcategory-nav-link{
    padding-top: 2px;
    padding-bottom: 2px;
}

header .row:after {
    content: "";
    display: table;
    clear: both;
}



.logo-section img{
    width: 82% ;
}
a.custom-top-menu{
    text-decoration: none !important;
}
a.custom-top-menu.active{
    color:#1c4899;
}
header .nav.nav-submenu a.nav-link{
    margin-top:0px !important;
}
header .last-li-nav{
    position: absolute !important;
    right:0 !important;
}
.header-bar-menu-icon-div{
    width:160px;float:right;
}
.header-bar-menu-icon-div .header-bar-menu-icon-cart{
    width:70px;float:right;text-align:right;
}
.header-bar-menu-icon-div .header-bar-menu-icon-cart .fa.fa-shopping-cart{
    color: #1c4899 ;
    font-size: 25px;
    margin-top: 1px;
}
.header-bar-menu-icon-div .header-bar-menu-icon-menu-bar{
    width:50px;float:right;
}
.header-bar-menu-icon-div .header-bar-menu-icon-cart{
    display: none;
}

@media(max-width:768px){
    .header-bar-menu-icon-div .header-bar-menu-icon-cart{
        display: block;
    }
    .header-bar-menu-icon-cart .nav-link{
        width:70px !important;
    }
}
/* ================================================= */
/* Body Styles */

