.page-not-found-section{
    width:100%;
    float:left;
    text-align:center;
    min-height: 400px;
    display: inline-table;
}
.page-not-found-section .page-notfount-content{
    margin:0p auto;
    display: table-cell;
    vertical-align:middle;
}
.page-not-fount-section .page-notfount-content img{
    width:100%;
    height:100%;
    margin-bottom:20px;
}