<section class="title-product-section container-fluid" >
  <div class="title-section">
    <div class="title-image-section"><span>Reset Password</span></div>
  </div>  
</section>
<section class="choose-a-category-section container-fluid " >
  <div class="overlay" *ngIf="productLoading">
    <div id="loading-img">loading</div>
  </div>
  <div class="reset-form" *ngIf="linkError =='' && linkValidFlag">
      <div class="login-register-main full" >
          <div class="login-register-main-col" >
            <div class="login-main full">
              <div class="login-main-content full">
                <div class="login-main-form-div full">
                  <div class="login-heading text-center" >
                    <h4 >Reset Password</h4>
                    <p >Enter New Password</p>
                  </div>
                  <form action="" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                      <div class="form-group" >
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" formControlName="password">
                        <div *ngIf="resetPasswordFormSubmitted && resetPasswordForm.controls.password.errors">
                          <div *ngIf="resetPasswordForm.controls.password.errors.required" class="text-danger">Please Enter the Password</div>
                        </div>
                      </div>
                      <div class="form-group" >
                        <input type="password" class="form-control" id="cnfPassword" name="cnfPassword" placeholder="Confirm Password" formControlName="cnfPassword" compare="password">
                        <div *ngIf="resetPasswordFormSubmitted && resetPasswordForm.controls.cnfPassword.errors">
                            <div *ngIf="resetPasswordForm.controls.cnfPassword.errors.required" class="text-danger">Please Enter the Confirm password</div>
                            <div *ngIf="resetPasswordForm.controls.cnfPassword.errors.compare" class="text-danger">Mismatched Confirm password</div>
                        </div>
                      </div>
                    <div class="alert alert-danger " *ngIf="alertResetMsgError !== '' ">{{alertResetMsgError}}</div>
                    <div class="alert alert-success" *ngIf="alertResetMsgSuccess !== '' ">{{alertResetMsgSuccess}}</div>
                    <button type="submit" class="btn btn-primary action_button ">
                    Submit</button>
                  </form>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="clearfix"></div>
  <div class="reset-error" *ngIf="linkError!='' && !linkValidFlag">
    <div class="alert alert-danger text-center">
      {{linkError}}
    </div>
  </div>
</section>
