<div class="close-button-container pull-right" >
	<img src="{{assetsUrl}}images/cross.png" alt="" (click)="onNoClick()">
	<!-- <button class="modal-close-button" type="button" ><i class="fa fa-remove"></i></button> -->
</div>
<section class="login-main-container"> 
	<div class="overlay" *ngIf="productLoading">
		<div id="loading-img">loading</div>
	</div>
	<br>
	<mat-dialog-content class="mat-typography login-mat-container" style="padding:0px">
		<!-- <div class="login-left-heading" style="width:300px;float:left;padding-top:50%;"> 
			<img src="http://attoinfotech.website/demo/mitashi/mitashi/assets/images/logo.png" alt="" width="250px">
		</div> -->
		<div class="login-register-main full" >
			<div class="login-register-main-col" *ngIf="loginFlag" [@slideInOut]>
				<div class="alert alert-success alert-dismissible" *ngIf="logoutAlert">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Success!</strong> LoggedOut Successfully.
				</div>
				<div class="login-main full">
					<div class="login-main-content full">
						<div class="login-main-form-div full">
							<div class="login-heading">
								<h4 >Login to our site</h4>
								<p >Enter username and password to log in</p>
							</div>
							<form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit('login')">
								<div class="form-group" >
									<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username" formControlName="username" name="username">
									<div *ngIf="loginSubmitted && loginForm.controls.username.errors">
										<div *ngIf="loginForm.controls.username.errors.required"  class="text-danger">Please Enter the Username</div>
										<div *ngIf="loginForm.controls.username.errors.email"  class="text-danger">Please enter Valid Email Id</div>
									</div>
								</div>
								<div class="form-group" >
									<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password" name="password">
									<div *ngIf="loginSubmitted && loginForm.controls.password.errors">
										<div *ngIf="loginForm.controls.password.errors.required" class="text-danger">Please Enter the Password</div>
									</div>
									<a href="javascript:void(0);" (click)="loginAction('forgotpassword')" ><span class="arrow-right">Forgot password ?</span></a>
								</div>
								<div class="alert alert-danger" *ngIf="alertMsgError !== '' ">{{alertMsgError}}</div>
								<div class="alert alert-success" *ngIf="alertMsgSuccess !== '' ">{{alertMsgSuccess}}</div>
								<button type="submit" class="btn btn-primary action_button ">
								Submit</button>
							</form>
						</div>
						<div class="col-sm-12 pl-0">
							<a href="javascript:void(0);" class="login-toggle-link-a" (click)="loginAction('guest')" ><span class="arrow-right">Login as a guest.</span></a>
							<a href="javascript:void(0);" class="login-toggle-link-a" (click)="loginAction('register')" ><span class="arrow-right"> Register as new user.</span></a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="login-register-main-col" *ngIf="registerFlag" [@slideInOut]>
				<div class="register-main full">
					<div class="register-main-content full">
						<div class="register-main-form-div full">
							<div class="login-heading">
								<h4>Sign up now</h4>
								<p >Fill in the form below to get instant access</p>
							</div>
							<form action="" [formGroup]="registerForm" (ngSubmit)="onSubmit('register')">
								<div class="form-group" >
									<input type="text" class="form-control" id="first_name" name="firstName" placeholder="First Name" formControlName="firstName">
									<div *ngIf="registerSubmitted && registerForm.controls.firstName.errors">
										<div *ngIf="registerForm.controls.firstName.errors.required" class="text-danger">Please Enter the First Name</div>
									</div>
								</div>
								<div class="form-group" >
									<input type="text" class="form-control" id="middleName" name="middleName" placeholder="Middle Name" formControlName="middleName">
								</div>
								<div class="form-group" >
									<input type="text" class="form-control" id="lname" name="lastName" placeholder="Last Name" formControlName="lastName">
									<div *ngIf="registerSubmitted && registerForm.controls.lastName.errors">
										<div *ngIf="registerForm.controls.lastName.errors.required" class="text-danger">Please Enter the Last Name</div>
									</div>
								</div>
								<div class="form-group" >
									<input type="text" class="form-control" id="contactNo" name="contactNo" placeholder="Contact Number" formControlName="contactNo">
									<div *ngIf="registerSubmitted && registerForm.controls.contactNo.errors">
										<div *ngIf="registerForm.controls.contactNo.errors.required" class="text-danger">Please Enter the Contact Number</div>
										<div *ngIf="registerForm.controls.contactNo.errors.pattern" class="text-danger">Please Enter only Numbers</div>
									</div>
								</div>
								<div class="form-group" >
									<input type="email" class="form-control" id="emailId" name="emailId" placeholder="Email Address" formControlName="emailId">
									<div *ngIf="registerSubmitted && registerForm.controls.emailId.errors">
										<div *ngIf="registerForm.controls.emailId.errors.required" class="text-danger">Please Enter the Email Address</div>
										<div *ngIf="registerForm.controls.emailId.errors.email" class="text-danger">Invalid Email Id</div>
									</div>
								</div>
								<div class="form-group" >
									<input type="password" class="form-control" id="password" name="password" placeholder="Password" formControlName="password">
									<div *ngIf="registerSubmitted && registerForm.controls.password.errors">
										<div *ngIf="registerForm.controls.password.errors.required" class="text-danger">Please Enter the Password</div>
									</div>
								</div>
								<div class="form-group" >
									<input type="password" class="form-control" id="cnfPassword" name="cnfPassword" placeholder="Confirm Password" formControlName="cnfPassword" compare="password">
									<div *ngIf="registerSubmitted && registerForm.controls.cnfPassword.errors">
											<div *ngIf="registerForm.controls.cnfPassword.errors.required" class="text-danger">Please Enter the Confirm password</div>
											<div *ngIf="registerForm.controls.cnfPassword.errors.compare" class="text-danger">Mismatched Confirm password</div>
									</div>
								</div>
								<div class="alert alert-danger" *ngIf="alertRegisterMsgError !== '' ">{{alertRegisterMsgError}}</div>
								<div class="alert alert-success" *ngIf="alertRegisterMsgSuccess !== '' ">{{alertRegisterMsgSuccess}}</div>
								<div class="form-group"  >
									<button type="submit" class="btn btn-primary pull-left">Submit Now</button>
								</div>
								<div class="form-group" >
									<button type="reset" class="btn btn-primary pull-right" (click)="registerForm.reset();registerSubmitted = false ">Clear Now</button>
								</div>
							</form>
						</div>
						<div class="col-sm-12 pl-0">
							<a href="javascript:void(0);" class="login-toggle-link-a" (click)="loginAction('guest')" > Login as a guest.</a>
							<a href="javascript:void(0);" class="login-toggle-link-a" (click)="loginAction('login')"> Already have a account? Login here.</a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="login-register-main-col" *ngIf="guestFlag" [@slideInOut]>
				<div class="login-main full">
					<div class="login-main-content full">
						<div class="login-main-form-div full">
							<div class="login-heading">
								<h4 >Login to our site</h4>
								<p >Enter Email and log in</p>
							</div>
							<form action="" [formGroup]="guestloginForm" (ngSubmit)="onSubmit('guestLogin')">
								<div class="form-group" >
									<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email Id" formControlName="email_id" name="email_id">
									<div *ngIf="guestLoginSubmitted && guestloginForm.controls.email_id.errors">
										<div *ngIf="guestloginForm.controls.email_id.errors.required"  class="text-danger">Please Enter the Email Id</div>
										<div *ngIf="guestloginForm.controls.email_id.errors.email"  class="text-danger">Please enter Valid Email Id</div>
									</div>
								</div>
								<div class="alert alert-danger " *ngIf="alertGuestMsgError !== '' ">{{alertGuestMsgError}}</div>
								<div class="alert alert-success" *ngIf="alertGuestMsgSuccess !== '' ">{{alertGuestMsgSuccess}}</div>
								<button type="submit" class="btn btn-primary action_button ">
								Login as Guest</button>
							</form>
						</div>
						<div class="col-sm-12 pl-0">
							<a href="javascript:void(0);" class="login-toggle-link-a" (click)="loginAction('login')"> Login as a register user</a>
							<a href="javascript:void(0);" class="login-toggle-link-a" (click)="loginAction('register')"> Register as new user </a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="login-register-main-col" *ngIf="forgotFlag" [@slideInOut]>
				<div class="login-main full">
					<div class="login-main-content full">
						<div class="login-main-form-div full">
							<div class="login-heading">
								<h4 >Forgot Password</h4>
								<p >Enter Email and reset password</p>
							</div>
							<form action="" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit('forgotpassword')">
								<div class="form-group" >
									<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email Id" formControlName="forgot_email_id" name="forgot_email_id">
									<div *ngIf="forgotPasswordSubmitted && forgotPasswordForm.controls.forgot_email_id.errors">
										<div *ngIf="forgotPasswordForm.controls.forgot_email_id.errors.required"  class="text-danger">Please Enter the Email Id</div>
										<div *ngIf="forgotPasswordForm.controls.forgot_email_id.errors.email"  class="text-danger">Please enter Valid Email Id</div>
									</div>
								</div>
								<div class="alert alert-danger " *ngIf="alertForgotMsgError !== '' ">{{alertForgotMsgError}}</div>
								<div class="alert alert-success" *ngIf="alertForgotMsgSuccess !== '' ">{{alertForgotMsgSuccess}}</div>
								<button type="submit" class="btn btn-primary action_button ">
								Submit</button>
							</form>
						</div>
						<div class="col-sm-12 text-center pl-0">
							<a href="javascript:void(0);" class="login-toggle-link-a text-left" (click)="loginAction('login')" > Back to login.</a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</mat-dialog-content>
</section>
