.login-register-main-col{
	margin:0px auto !important;
	float:none !important;
	width:100%;
	padding:0px !important;
}
.login-toggle-link-a{
	float:left !important;
	width:50% !important;
	text-align:center;
	padding:20px 0px;
}

.mat-typography h4 {
    font: 400 22px/24px Roboto,"Helvetica Neue",sans-serif;
    margin: 0 0 16px;
}
.close-button-container img{
	width: 30px;
    margin-top: -10px;
    margin-left: -10px;
    cursor: pointer;
    float:right;
}
.mat-dialog-container{
    padding:0px !important;
}
.close-button-container{
    float:left;
    width:100%;
}
.login-main,.register-main {
    border:none !important;
}
.login-heading{
    text-align: center;
    border-bottom: 1px solid #cdcdcc;
    margin-bottom: 15px;
    margin-top: -20px;
}
