

/* green */
.icheckbox_flat-green,
.iradio_flat-green {
    display: inline-block;
    *display: inline;
    vertical-align: top;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 30px;
    background: url(radio_button.png) no-repeat;
    background-size: 80% !important; 
    border: none;
    cursor: pointer;
    float: right;
}

.icheckbox_flat-green {
    background-position: 0 0;
}
    .icheckbox_flat-green.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-green.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-green.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-green {
    /*background-position: -86px 0;*/
}
    .iradio_flat-green.checked {
        background: url(check_radio_button.png) no-repeat;
    }
    .iradio_flat-green.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-green.checked.disabled {
        background-position: -154px 0;
    }

