<section class="title-product-section container-fluid" >
  <div class="title-section"  data-aos="fade-up">
    <div class="title-image-section"><span>Review & Rating</span></div>
  </div>
</section>
<aside class="col-lg-9 row" *ngIf="productLoading">
    <app-loading></app-loading>
</aside>
<section class="all-specs-section container-fluid detail-setion review-wrapper" *ngIf="!productLoading" >
    <div class="review-container container" *ngIf="!reviewNotAvailableFlag">
      <div class="review-product-detail ccol-sm-12 col-md-12 col-lg-12" >
        <div class="pull-right col-sm-12 col-md-2 col-lg-2">
          <a href="javascript:void(0);" routerLink="//add-review/{{productLink}}" class="main-button pull-right">
            <span>
                Add Review
            </span>
          </a>
          <div class="clearfix"></div>
        </div>
        <div  class="review-product-detail-image col-sm-12 col-md-3 col-lg-3">
          <a href="javascript:void(0)" routerLink="//products-details/{{productLink}}">
            <img src="{{productImage}}" alt="">
          </a>
        </div>
        <div class="review-product-detail-content col-sm-12 col-md-7 col-lg-7">
          <a href="javascript:void(0)" routerLink="//products-details/{{productLink}}">
            <h4>{{productName}}</h4>
          </a>
          <p>₹ {{productPrice | number:'3.2-5'}}</p>
        </div>
      </div>
      <div class="review-form-wrapper col-sm-12 col-md-12 col-lg-12">
        <div class="col-sm-12 col-md-12 col-lg-12"  >
          <div class="col-sm-4 col-md-2 col-lg-2 pull-left text-center pt-20">
            <h2>
              {{overAllRating }} <i class="fa fa-star"></i>
            </h2>
            <p>
              Reviews & Ratings <br>
              <i class="fa fa-user"></i> {{totalReviewCount}} 
            </p>
          </div>
          <div class="col-sm-8 col-md-4 col-lg-4 pull-left">
            <div class="progress">
              <span>
                5<i class="fa fa-star"></i>
              </span>
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': rating5+'%'}" >
              </div>
            </div>
            <div class="progress">
              <span>
                4<i class="fa fa-star"></i>
              </span>
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': rating4+'%'}">
              </div>
            </div>
            <div class="progress">
              <span>
                3<i class="fa fa-star"></i>
              </span>
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
              aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': rating3+'%'}">
              </div>
            </div>
            <div class="progress">
              <span>
                2<i class="fa fa-star"></i>
              </span>
              <div class="progress-bar progress-bar-light-danger" role="progressbar" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': rating2+'%'}">
              </div>
            </div>
            <div class="progress">
              <span>
                1<i class="fa fa-star"></i>
              </span>
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': rating1+'%'}">
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 pull-left reviews-list-wrapper" *ngIf="productReviewDetails?.length>0">
          <div class="clearfix"></div>
          <ul>
            <li *ngFor="let reviews of productReviewDetails | paginate: { itemsPerPage: itemsPerPage, currentPage: pageOffset,totalItems: totalProducts  }">
              <h5>
                <span _ngcontent-c1="" class="badge product-rating-badge badge-info" 
                  [class.badge-success] ="reviews.rating == 5"
                  [class.badge-info] ="reviews.rating == 4"
                  [class.badge-warning] ="reviews.rating == 3"
                  [class.badge-light-danger] ="reviews.rating == 2"
                  [class.badge-danger] ="reviews.rating == 2"
                >
                  {{reviews.rating}} <i class="fa fa-star"></i>
                </span>
              
                {{reviews.review_title}}
              </h5>
              <p>
                {{reviews.review_content}}
              </p>
              <p>
                <span class="rating-user"> 
                  <i class="fa fa-user"></i>{{reviews.name}}              
                </span>             
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-12 col-lg-12 col-md-12 text-center" *ngIf="productReviewDetails?.length>0">
          <hr>
          <pagination-controls (pageChange)="pageOffset = $event;getAllReviews();" class=""></pagination-controls>
      </div>
      <br>
      <div class="clearfix"></div>
    </div>
</section>