.footer-subscribe-input{
  width: 70% !important;
  padding-right: 40px !important;
}
.pl-15percent{
  padding-left: 15%;
}
.compare-wrapper{
  position: fixed;
  background: #1c4899;
  padding: 16px 10px;
  color: #fff;
  border: 1px solid;
  bottom: 50px;
  z-index:99999;
  left: 10px;
  cursor:pointer;
  box-shadow: 0 1px 8px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.compare-wrapper .compare-count{
  background: #fff;
  color:#1c4899;
  padding: 3px 8px;
  border: 1px solid;
}
.compare-wrapper .compare-btn-span{
  background: #fff;
  padding: 9px;
  color: #1c4899;
  margin-left: 0px;
}
.compare-wrapper .compare-btn-span:hover{
  background:#1c4899;
  color:#fff;
  border:1px solid #fff;
}
.compare-wrapper .compare-ul-list{
  width: 270px;
  padding: 0px;
  margin-top:20px;
  overflow: auto;
  max-height: 270px;
  background: #fff;
  color: #1c4899;
}
.compare-wrapper .compare-ul-list li{
  padding:15px;
  border-bottom:1px solid #cdcdcd;
  width: 100%;
  float: left;
}
.compare-wrapper .compare-ul-list li span{
  float:left;
}
.compare-wrapper .compare-ul-list li span .compare-img{
  width: 50%;
  float:left
}

.compare-wrapper .compare-ul-list li span:nth-child(1){
  width:40%;
}
.compare-wrapper .compare-ul-list li span:nth-child(2){
  width:50%;
  font-size: 12px;
}
.compare-wrapper .compare-ul-list li span:nth-child(3){
  width:10%;
  float:right !important;
}
.compare-wrapper .fa.fa-eye-slash{
  padding: 10px;
  background: #fff;
  color: #1c4899;
  position: absolute;
  top: 10px;
  right: 10px;
}
.compare-wrapper .fa.fa-eye-slash:hover{
  background:#1c4899;
  color:#fff;
  border:1px solid #fff;
}
.compare-wrapper .fa.fa-eye.compare-eye-view{
  margin-left: 10px;
}
.compare-wrapper .compare-products{
  margin-bottom: -16px;
}
.compare-wrapper .compare-products .remove-compare-product{
  float: right;
}