<section class="title-product-section container-fluid" >
  <div class="title-section">
    <div class="title-image-section"><span>Subscribe</span></div>
  </div>
</section>
<footer class="footer-section" >

  <div class="compare-wrapper grow"  *ngIf="compareCount > 0 && compareFlag">
    <span href="javascript:void(0);" class="compare-btn-span" (click)="gotoCompare()">
      COMPARE
      <span class="compare-count">{{compareCount}}</span>
    </span>
    <div class="compare-products" *ngIf="compareListFlag">
      <div class="text-right">
        <i class="fa fa-eye-slash pull-right" title="hide list" (click)="showHideCompareList('hide')"></i>
      </div>
      <ul class="compare-ul-list">
        <li *ngFor="let products of compareProducts;let i = index;">
          <span>
            <img class="compare-img" src="{{products.product_image_path}}" alt="">
          </span>
          <span>{{products.product_name}}</span>
          <span><i class="fa fa-remove pull-right remove-compare-product" title="Remove" (click)="removeFromCompare(i)"></i></span>
        </li>
        <div class="clearfix"></div>
      </ul>
      <div class="clearfix"></div>
    </div>
    <i class="fa fa-eye pull-right compare-eye-view" title="show list" (click)="showHideCompareList('show')" *ngIf="!compareListFlag"></i>
  </div>
  <div class="subscribe-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 col-lg-8">
          <div class="row">
            <div class="col-sm-7 col-md-7 col-lg-8 text-center">
              <form  [formGroup]="subscriptionForm" >
                <h3 class="subscribe-title mb-0">Let's stay in touch</h3>
                <p class="black-text">Get updates on sales specials and more</p>
                <div class="input-group subscribe-input-group">
                  <input class="subscribe-input footer-subscribe-input" type="text" name="subscribeEmail" id="subscribeEmail"  formControlName="subscribeEmail" value="" placeholder="Enter Your Email ID" >
                  <div class="input-group-append">
                      <a class="main-button" href="javascript:;" (click)="onSubmit()"><span>Subscribe</span></a>
                  </div>
                </div>
                <div *ngIf="subscriptionFormSubmitted && subscriptionForm.controls.subscribeEmail.errors">
                  <div *ngIf="subscriptionForm.controls.subscribeEmail.errors.required"  class="text-danger text-left pl-15percent">Please Enter the Email Id</div>
                  <div *ngIf="subscriptionForm.controls.subscribeEmail.errors.email"  class="text-danger text-left pl-15percent">Please enter Valid Email Id</div>
                </div>
              </form>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-4 text-center">
              <h3 class="subscribe-title mb-0">Follow Us</h3>
              <p class="black-text">We want to hear from you!</p>
              <a class="social-icon" href="https://www.facebook.com/mitashikhelegakya">
                  <img class="img-fluid" src="{{assetsUrl}}images/facebook.png" alt="facebook" title="">
              </a>
              <a class="social-icon" href="https://www.youtube.com/user/mitashiworld">
                <img class="img-fluid" src="{{assetsUrl}}images/youtube.png" alt="youtube" title="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gray-text-bg">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class="black-text mt-10">Images shown are for representation purpose only,actual may vary,connection survey to home inverter capacity.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-link-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-9">
              <h3 class="footer-title">Site Map</h3>
              <ul class="tagList list-unstyled font14">
                <div class="row">
                  <div class="col-sm-4 col-md-3">
                    <li><a routerLink="aboutus">About Us</a></li>
                    <li><a href="javascript:;">Warranty</a></li>
                    <li><a href="javascript:;">Service Center</a></li>
                    <li><a href="javascript:;">Customer Service</a></li>
                    <li><a href="javascript:;">Find Offers</a></li>
                  </div>
                  <div class="col-sm-4 col-md-3">
                    <li><a href="javascript:;" routerLink="/career">Careers</a></li>
                    <li><a href="javascript:;">Environment</a></li>
                    <li><a href="javascript:;">Mitashi Recycling</a></li>
                  </div>
                </div>
              </ul>
              <!-- <p class="copy-right mb-0">Copyright &#169; 2005-2019 MITASHI All Rights reserved.</p> -->
            </div>
            <div class="col-sm-3 d-flex align-content-between flex-wrap float-right">
              <div class="footer-logo"><a href="javascript:;"><img class="img-fluid" src="{{assetsUrl}}images/footer-logo.png" alt="footer-logo" title=""></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-9">
          <div class="row">
            <div class="col-md-9">
              <div class="footer-nav ">
                <span class="footer-link-a"><a>Accessibility help</a></span><span class="footer-delimiter hidden-xs"> | </span>
                <span class="footer-link-a"><a routerLink="privacypolicy">privacy</a></span><span class="footer-delimiter hidden-xs"> | </span><span class="footer-link-a"><a>legal</a></span><span class="footer-delimiter hidden-xs"> | </span><span class="footer-link-a"><a>csr policy</a></span>
              </div>
              <div class="footer-text ">
                <p class="mb-0 ewaste-recycle-footer">Mitashi india encourages its customers for e-waste recycling.</p>
              </div>
              <div class="footer-text">
                <p class="mb-0">Please call 1800-1029705 for more details.</p>
              </div>
            </div>
            <div class="col-md-3 float-right text-right">
              <p>India / English</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="scrollToTop" href="javascript:;">
      <img src="{{assetsUrl}}images/top-arrow.png" alt="">
  </a>
  <div class="gray-text-bg">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class="black-text mt-10 font14">Copyright &#169; 2005-2019 MITASHI All Rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>