/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "~nouislider/distribute/nouislider.min.css";
.noUi-target.noUi-ltr.noUi-horizontal{
    height:5px !important;
    background:#cdcdcd;
}
.noUi-connect {
    background:#1c4899;
    height:5px !important;
}
.noUi-base{
    height:5px !important;
}
.noUi-handle {
    background: #1c4899 !important;
    box-shadow: none !important;
    width: 15px !important;
}
.noUi-horizontal .noUi-handle {
    top: -13px !important;
}
.noUi-handle:after, .noUi-handle:before {
    width: 2px !important;
    background: #fff !important;
    left: 5.3px !important;
}
.noUi-handle:after, .noUi-handle:before {
    left: 6px !important;   
}
.noUi-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #1c4899 transparent transparent transparent;
}
.noUi-horizontal .noUi-handle {
    right: -10px !important;
}
.noUi-horizontal .noUi-tooltip {
    bottom: 145% !important;
}