.checkout-address .cols{
    float: left;
    padding:10px;
}
.checkout-address .cols .address-tiles{
    box-shadow: 0 1px 8px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22) !important;
    border-radius: 0px !important;
    background: #f1f1f180 !important;
}
.checkout-address .cols .address-tiles ul{
    padding-left:0px !important;
}
.address-tiles-wrapper .address-deliver-btn{
    border-radius: 0px !important;
    outline: none !important;
}
.address-tiles-action{
    width:100%;
    float:left;
    background:#d6d6d68f;
}
.address-tiles-action span{
    width: 50%;
    float:left;
    padding: 10px;
    text-align: center;
    height: 40px;
}   
.address-tiles-action span:nth-child(2){
    border-left:1px solid #cdcdcd;
}
.pull-right{
    float:right;
}
.add-new-address-btn{
    margin-top:0px !important;
}
.coupon-subscribe-input{
    width: 75% !important;
    padding-right: 40px !important;
}
.discount-coupon-group{
    margin:20px 0px ;
    width:100%;
}
.font18{
    font-size: 18px !important;
}
.pay-now-btn{
    height: 50px !important;
    padding-top: 8px !important;
    width: 200px !important;
    font-size: 20px !important;
    float:right;
}
.pay-now-btn:hover{
    color:#fff !important;
}
.coupon-form-wrapper{
    margin-top:20px !important;
}
.remove-coupon{
    font-size: 14px !important;color: red !important;margin-top: 3px !important;float:right;
}
@media (max-width: 500px) {
    .pay-now-btn{
        width: 100% !important;
    }
}

