<section class="title-product-section container-fluid">
  <div class="title-section">
    <div class="title-image-section"><span>Checkout</span></div>
  </div>
</section>
<section class="choose-a-category-section container-fluid lisiting-section checkout-section ">
  <div class="checkout-main full">
    <div class="checkout-main-inner full">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default" *ngIf="userId == ''">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">CHECKOUT METHOD</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in show">
            <div class="panel-body">
              <div class="checkout-reg-log full">
                <div class="checkout-reg-log-col">
                  <div class="checkout-reg-log-col-inner full">
                    <div class="checkout-reg-log-hd full">
                      <h4>CHECKOUT AS A GUEST OR REGISTER</h4>
                    </div>
                    <div class="checkout-reg-log-content full">
                      <div class="selection-rad full">
                        <a (click)="loginOrRegister()" class="main-button" href="javascript:void();"><span> <i class="fa fa-lock"></i> Loing / Register </span></a>
                      </div>
                      <div class="selection-info full">
                        <p>Register and save time!</p>
                        <p>Register with us for future convenience:</p>
                        <ol>
                          <li>Fast and easy check out</li>
                          <li>Easy access to your order history and status</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true">SHIPPING INFORMATION</a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse in show ">
            <div class="panel-body">
              <div class="checkout-reg-log-hd full">
                <a  class="submit main-button pull-right add-new-address-btn" data-toggle="modal" href="javascript:void(0);" (click)="addAddressDialog()"><span>Add New Address</span></a>
                <h4>Select Address For Shipping</h4>
              </div>
              <div class="shipping-info-main full checkout-address "  *ngIf="addressDetails?.length>0">
                <div class="col-sm-6 col-xs-12 col-md-4 col-lg-3 cols address-tiles-wrapper" *ngFor="let address of addressDetails" >
                  <div class="address-tiles">
                    <div class="address-tiles-action"> 
                      <span> 
                        <label for="">
                            <mat-radio-button  disableRipple value="address.address_id" layout-align="right right" [checked] ="address.default_add == 'Yes'" (click)="makeDeliveryAddress(address.address_id,address.default_add,address.shipping_address_title)">
                              Deliver here
                            </mat-radio-button>
                          </label>
                      </span>
                      <span>
                          <a href="javascript:void(0);" title="Edit" (click)="addAddressDialog(address.address_id)" ><i class="fa fa-pencil-square-o font20" aria-hidden="true"></i> Edit</a>
                      </span>
                    </div>
                    <div class="clearfix"></div>
                    <mat-expansion-panel [expanded]="address.default_add == 'Yes'"   >
                      <mat-expansion-panel-header class="account-accordian-header">
                          <mat-panel-title class="account-accordian-header-title">
                            <h5 class="pull-left"> 
                              {{address.shipping_address_title}}
                            </h5>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="col-sm-12">
                          <ul>
                            <li>Name : {{address.shipping_name_add}}</li>
                            <li>Phone :  {{address.shipping_phone_add}}</li>
                            <li>Email : {{address.shipping_email_id}}</li>
                            <li>Address 1 : {{address.shipping_street_add}}</li>
                            <li>Address 1 : {{address.shipping_street_add2}}</li>
                            <li>Landmark  : {{address.shipping_landmark_add}}</li>
                            <li>City : {{address.shipping_city_add}}</li>
                            <li>Pincode : {{address.shipping_pincode_add}}</li>
                            <li>State : {{address.shipping_state_add}}</li>
                            <li>Country : {{address.shipping_country_add}}</li>
                          </ul>
                        </div>
                    </mat-expansion-panel>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" >ORDER REVIEW</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse in show" *ngIf="userId !=''">
            <div class="panel-body">
              <div class="cart-table-main full">
                <div class="cart-table-inner full">
                  <div class="cart-table-hd">
                    <div class="cart-table-hd-list">
                      <div class="cart-table-hd-list-col">
                        <span>PRODUCT NAME</span>
                      </div>
                      <div class="cart-table-hd-list-col">
                        <span>UNIT PRICE</span>
                      </div>
                      <div class="cart-table-hd-list-col">
                        <span>QUANTITY</span>
                      </div>
                      <div class="cart-table-hd-list-col">
                        <span>COLOR</span>
                      </div>
                      <div class="cart-table-hd-list-col">
                        <span>SUBTOTAL</span>
                      </div>
                    </div>
                  </div>
                  <div class="cart-table-content" >
                    <div class="cart-table-content-list" *ngFor="let products of orderDetails">
                      <div class="cart-table-content-list-col" data-th="PRODUCT NAME">
                        <div class="pro-info-cart full">
                          <div class="pro-info-cart-col">
                            <a href="javascript:void(0)" routerLink="//products-details/{{products.link}}">
                              <img src="{{products.product_image_path}}" alt="mitashi-img">
                            </a>
                          </div>
                          <div class="pro-info-cart-col">
                            <p>
                              <a href="javascript:void(0)" routerLink="//products-details/{{products.link}}">{{products.product_name}}</a>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="cart-table-content-list-col" data-th="UNIT PRICE">
                        <p class="cart-price">{{products.base_price | number:'3.2-5'}}</p>
                      </div>
                      <div class="cart-table-content-list-col" data-th="QUANTITY">
                        <p class="cart-price">  {{products.quantity}}</p>
                      </div>
                      <div class="cart-table-content-list-col" data-th="COLOR">
                          <p class="cart-price">  {{products.color_name}}</p>
                      </div>
                      <div class="cart-table-content-list-col" data-th="SUBTOTAL">
                        <p class="cart-price">₹{{products.total_amount | number:'3.2-5'}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cart-table-submit full category-box">
                <div class="cart-table-submit-col pull-right">
                  <a class="main-button" routerLink="//cart" href="javascript:void(0)"><span>Edit Cart</span></a>
                </div>
              </div>
              <div class="invoice-div full">
                <div class="invoice-div-inner full">
                  <div class="invoice-div-list full font18">
                    <div class="invoice-div-list-col">
                      <span>Subtotal</span>
                    </div>
                    <div class="invoice-div-list-col">
                      ₹{{productTotalAmount | number:'3.2-5'}}
                    </div>
                  </div>
                  <div class="invoice-div-list full">
                    <div class="invoice-div-list-col">
                      <span>Shipping Charges</span>
                    </div>
                    <div class="invoice-div-list-col">
                      ₹0.00
                    </div>
                  </div>
                  <div class="invoice-div-list full" *ngIf="discountAmount != 0">
                    <div class="invoice-div-list-col">
                      <span>Discount Amount</span>
                    </div>
                    <div class="invoice-div-list-col text-success">
                     - <b>₹{{discountAmount | number:'3.2-5'}}</b>
                    </div>
                  </div>
                  <div class="invoice-div-list full coupon-form-wrapper">
                    <div class="invoice-div-list-col">
                      <form class="invoice-coupn-form " [formGroup]="discountCouponForm" action="">
                        <span>Discount Coupon</span>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="Enter Coupon Code" aria-label="Enter Coupon Code" formControlName="discountCoupon" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <span class="btn input-group-text" (click)="applyCoupon()">Apply</span>
                          </div>
                        </div>
                        <div class="alert alert-danger alert-dismissible " *ngIf="couponError !='' ">
                          <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> -->
                          {{couponError}}
                        </div>
                        <div class="alert alert-success " *ngIf="couponSuccess !='' ">
                            <a href="javascript:void(0)" class="remove-coupon" (click)="removeCoupon()">&times; Remove Coupon </a>
                            {{couponSuccess}}
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="amt-payable full">
                  <div class="amt-payable-inner full">
                    <div class="amt-payable-inner-col">
                      <span class="amt-payable-text">Amount Payable</span>
                    </div>
                    <div class="amt-payable-inner-col">
                      <span class="amt-payable-num">₹{{productTotalAmount-discountAmount | number:'3.2-5'}}</span>
                    </div>
                  </div>
                </div>
                <div class="payment-main full ">
                    <a  class="submit main-button pay-now-btn"><span>PAY NOW</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>