<section class="col-lg-12 row" *ngIf="productLoading">
  <app-loading></app-loading>
</section>
<section class="title-product-section container-fluid">
  <div class="title-section">
    <div class="title-image-section"><span>Privacy Policy</span></div>
  </div>
</section>
<div class="clearfix">&nbsp;</div>
<section class="container privacy-policy">
  <h1 class="page-title-primary">Scope</h1>
  <p>MITASHI Edutainment Private Limited and our affiliates know how important privacy is to our
    customers, and we strive to be clear about how we collect,use, disclose, transfer and store your information. This
    Privacy
    Policy provides an overview of our information practices. The Privacy Policy applies to MITASHI devices & products,
    websites or online applications that refer to or link to the Privacy Policy.
    Please note that the Privacy Policy applies to your usage of MITASHI devices (which are among the Services covered
    by this Privacy Policy, along with our websites and online applications). It also applies regardless of
    whether you use a computer, mobile phone, tablet, TV, or other device to access our Services. It is important that
    you read the Privacy Policy carefully because anytime you use our Services, you consent to the practices
    we describe in the PrivacyPolicy and the supplements. If you do not agree to the practices described in the Privacy
    Policy, you should not use our Services.</p>
  
    <p class="upper-alpha">A. Information Collected</p>    
    <p>
      This privacy policy applies only to information collected on this website and does not apply to information
      collected by MITASHI Edutainment Pvt Ltd through any other means.
      We collect two types of information from
      visitors to this website: (1) Personally Identifiable Information; and (2) Non- Personally Identifiable
      Information, such as your IP address or cookies.
    </p>    
    <p class="decimal">(1) Personally Identifiable Information</p>    
    <p>"Personally Identifiable Information" is information that identifies you personally, such as your name, address, telephone number, email address, or company name. MITASHI collects and stores the personally identifiable information that you have provided to us. Here are some examples of manners in which we may collect your personally identifiable information on this 
      website:</p>
    <p>We may collect your first and last name and product or service details if you contact us with a question related to our products or services;We may collect your first and last name and mailing address if you request a product on this website; We may collect your name, email address or phone number if you contact us with a question.We may collect your first and last name, date of birth and email address if you choose to participate in a contest or sweepstakes; and/or The above list provides an example of the personally identifiable information that may be collected on this website. If you do notwant MITASHI to collect your personally identifiable information, please do not provide it to us.</p>
    <p class="decimal">(2) Non-Personally Identifiable Information</p>
    <p>"Non-Personally Identifiable Information" can be technical information or it can be demographic information, such as your age, location, gender or interests.Non-personally identifiable information does NOT identify you personally. Here are some examples of the non-personally identifiable information that is collected via this website: Internet Protocol (IP) address -- Your IP address is a number that lets computers attached to the Internet know where to send you data -- such as the web pages you view. </p>   
    <p>Cookie -- A "cookie" is a small text file that may be used to collect information about your activity on this website. For example, when someone visits a page within this website, a cookie is placed on the user's machine (if the user accepts cookies) or is read if the user has visited this website previously. You may set most browsers to notify you if you receive a cookie, or you may choose to block cookies with your browser, but if you do, you may not be able to take advantage of the personalized features enjoyed by other users to our Sites. Some of the cookies we use may be flash cookies or Adobe cookies. While they are harmless, they may contain non-personally identifiable information and depending on your browser these cookies may not normally be deleted when your cookies are deleted. Please check your browser to determine where these types of cookies are stored and how they may be deleted and lets computers attached to the Internet know where to send you data -- such as the web pages you view. We collect the above non-personally identifiable information from all visitors to our Sites. If you do not want MITASHI to have access to this information, please do not visit our Sites.</p>
    <p class="upper-alpha">B. Use of Information Collected Via this website</p>
    <p class="decimal">(1) Personally Identifiable Information</p>
    <p>We use your personally identifiable information that is collected on these Sites primarily for the following purposes:</p>
    <p>To alert you to special offers, updated information and other new products or services from MITASHI or other third parties, or to forward promotional materials to you; </p> 
    <p>To complete a transaction or service requested by you from MITASHI; </p>
    <p>To fulfill the terms of a promotion; </p>
    <p>To ensure this website are relevant to your needs;</p>
    <p>To help us create and publish content most relevant to you; </p>
    <p>To notify you about a material change to this privacy policy or the Terms of Use Agreement, if necessary; </p>
    <p>To allow you access to limited-entry areas of this website; and To contact you in response to sign up forms such as Contact Us or other inquiry. </p>
    <p>To optimize our services we may wish to use your personal data for direct marketing. As we respect your privacy we will only use your personal data for this purpose when you are aware thereof and if required we will request your consent prior to using your personal data for direct marketing. </p>
    <p class="decimal">(2) Non-Personally Identifiable Information</p>
    <p>Non-personally identifiable information is used as described above and in other ways as permitted by applicable laws, including combining non-personally identifiable information with personally identifiable information. We use cookies to learn more about the way you interact with our content and help us to improve your experience when visiting our website. Cookies remember the type of browser you use and which additional browser software you have installed. They also remember your preferences, such as language and region, which remain as your default settings when you revisit the website. Cookies also allow you to rate pages and fill in comment forms. Some of the cookies we use are session cookies and only last until you close your browser, others are persistent cookies which are stored on your computer for longer</p>  
    <p class="upper-alpha">C. Sharing and Disclosure of Information</p>   
    <p class="decimal">(1) Personally Identifiable Information</p>
    <p>To track and analyze non-identifying and aggregate usage and volume statistical information from our visitors and customers and provide such information to third parties. MITASHI may offer you the possibility to connect your accounts from third party social networking sites, such as Facebook and Twitter (each, a “Social Networking Site”), with the Services by an application programming interface or other software. If you allow MITASHI to connect the Services with your accounts on such Social Networking Sites, we may access your account information and other information, which may include Personal Data, from such Social Networking Sites. In addition, we may collect, use and store such information as set forth in this Privacy Policy and we may combine this information with other information in our records. While your account from such Social Networking Site is connected to the Services, we can display on the Services information about your social networking activity and account. It is your choice whether to use any such Social Networking Site, and you understand that in some instances such Social Networking Sites may request permission to access and publish information about you or your friends that is included in your MITASHI account.To protect against potential fraud, we may verify with third parties the information collected from these Sites. In the course of such verification, we may receive personally identifiable information about you from such services. Except as described in this Privacy Policy or atthe time we request the information, we do not otherwise use, share or otherwise disclose your personally identifiable information to any third parties.</p>
    <p class="decimal">(2) Non-Personally Identifiable Information</p>
    <p>We use non-personally identifiable information collected on this website in the manner disclosed above, in the Section A (2). We may share thisnon-personal information with third parties.</p>
    <p class="upper-alpha">D. Collection and Use of Information from Children Under the Age of 18</p>
    <p>MITASHI does not knowingly collect or solicit Personal Information from anyone under the age of 18 or knowingly allow such persons to use this website.If you are under 13 please do not attempt to register on this website or send us any Personal Information.</p>
    <p class="upper-alpha">E. Third Party Web Sites</p>
    <p>This statement applies solely to information collected on this website. This website may contain links to other web sites. We are not responsible for the privacy practices or the content of these other web sites.</p>  
    <p class="upper-alpha">F. Changes to this Privacy Policy</p>
    <p>We reserve the right to change this privacy policy from time to time in our sole discretion. When we do, we will also revise the "last update" date at the bottom of this privacy policy.</p>
    <p class="upper-alpha">G. Security</p>
    <p>No data transmissions over the Internet can be guaranteed to be 100% secure. Consequently, we cannot ensure or warrant the security of any information you transmit to us and you understand that any information that you transfer to MITASHI is done at your own risk. </p>
    <p>Once we receive your transmission, we make reasonable efforts to ensure security on our systems. We use firewalls to protect your information from unauthorized access, disclosure, alteration, or destruction. However, please note that this is not a guarantee that such information may not be accessed, disclosed, altered or destroyed by breach of such firewalls and secure server software. </p>
    <p>If we learn of a security systems breach we may attempt to notify you electronically so that you can take appropriate protective steps. By using these Sites or providing personally identifiable information to us you agree that we can communicate with you electronically regarding security, privacy and administrative issues relating to your use of these Sites. We may post a notice on our Sites if a security breach occurs. We may also send an email to you at the email address you have provided to us in these circumstances. Depending on where you live, you may have a legal right to receive notice of a security breach in writing. </p>
    <p>As we value yourpersonal information, we will ensure an adequate level of protection. As mentioned above we have therefore implemented technology and policies with the objective of protecting your privacy from unauthorized access and improper use and will update these measures as new technology becomes available, as appropriate.</p>
    <p class="upper-alpha">H. Cookies, Beacons and Similar Technologies</p>
    <p>We, as well as certain third parties that provide content, advertising, or other functionality on our Services, may use cookies, beacons, and other technologies in certain areas of our Services.</p>
    <p class="decimal">Cookies</p>
    <p>Cookies are small files that store information on your computer, TV, mobile phone or other device. They enable the entity that put the cookie on your device to recognise you across different websites, services, devices, and/or browsing sessions. Cookies serve many useful purposes. For example:</p>
    <ul class="privacy-list">
      <li>Cookies can remember your sign-in credentials so you don’t have to enter those credentials each time you log on to a service.</li>
      <li>Cookies help us and third parties understand which parts of our Services are the most popular because they help us to see which pages and features visitors are accessing and how much time they are spending on the pages. </li>
      <li>By studying this kind of information, we are better able to adapt the Services and provide you with a better experience.</li>
      <li>Cookies help us and third parties understand which ads you have seen so that you don't receive the same ad each time you access a Service.</li>
      <li>Cookies help us and third parties provide you with relevant content and advertising by collecting information about your use of our Services and other websites and apps.When you use a web browser to access the Services, you can configure your browser to accept all cookies, reject all cookies, or notify you when a cookie is sent. Each browser is different, so check the "Help" menu of your browser to learn how to change your cookie preferences. The operating system of your device may contain additional controls for cookies.</li>
      <li>Please note, however, that some Services may be designed to work using cookies and that disabling cookies may affect your ability to use those Services, or certain parts of them.</li>
    </ul>
    <p class="decimal">Other Local Storage</p>
    <p>We, along with certain third parties, may use other kinds of local storage technologies, such as Local Shared Objects (also referred to as “Flash cookies”) and HTML5 local storage, in connection with our Services. These technologies are similar to the cookies discussed above in that they are stored on your device and can be used to store certain information about your activities and preferences. However, these technologies may make use of different parts of your device from standard cookies, and so you might not be able to control them using standard browser tools and settings. For information about disabling or deleting information contained in Flash cookies, please click here .</p>
    <p class="decimal">Beacons</p>
    <p>We, along with certain third parties, also may use technologies called beacons (or “pixels”) that communicate information from your device to a server. Beacons can be embedded in online content, videos, and emails, and can allow a server to read certain types of information from your device, know when you have viewed particular content or a particular email message, determine the time and date on which you viewed the beacon, and the IP address of your device. We and certain third parties use beacons for a variety of purposes, including to analyse the use of our Services and (in conjunction with cookies) to provide content and ads that are more relevant to you. By accessing and using our Services, you consent to the storage of cookies, other local storage technologies, beacons and other information on your devices. You also consent to the access of such cookies, local storage technologies, beacons and information by us and by the third parties mentioned above.If you wish to make a complaint about our handling of your personal information, you may contact us using the details set out in this Privacy Policy with your full name and contact details and a detailed description of your complaint. We will use reasonableefforts to respond to you as soon as possible to acknowledge your complaint and inform you of the next steps we will take in dealing with your complaint.</p>
    <p class="upper-alpha">I. Contacting MITASHI</p>
    <p>If you feel that the MITASHI India web site (http://www.lg.com/in) is not abiding by its posted privacy policy, please contact Webmaster of MITASHI India on <strong>MITASHI Edutainment Pvt. Ltd, 404 Bhaweshwar Arcade, LBS Marg, Ghatkopar (W) Mumbai 400 086, India</strong>. All information you provide in any written communication will also be covered by this policy. If you have any specific questions, please contact us at (022) 25006661 or write to us at support@mitashi.com</p>
    <p class="privacy-small">This Privacy Policy, including all revisions and amendments thereto, is governed by and construed in accordance with the laws of the jurisdiction in India where you are a resident, without regard to its conflict or choice of law principles which would requireapplication of the laws of another jurisdiction.</p>
</section>