section.privacy-policy{
    color:#333;
}
h1.page-title-primary{
    font-size:18px;    
    color:#1c4899; 
    margin:30px 0 0 0;
    padding:10px 0;   
}
.clearfix{
    line-height:0;
}
p.upper-alpha{
    list-style-type: upper-alpha;
    color:#1c4899;
    font-weight:bold;
    font-size:15px;
}
p.decimal{
    list-style-type: decimal;
    color:#333;
    font-weight:bold;
    font-size:15px;
}
ul.privacy-list li{
    margin:10px 0;
}
p.privacy-small{
    font-size:11px;
}