<section class="title-product-section container-fluid">
  <div class="title-section">
    <div class="title-image-section"><span>My Account</span></div>
  </div>
</section>
<section class="choose-a-category-section container-fluid lisiting-section" (window:resize)="onResize($event)" (window:load)="onResize($event)">
  <div id="main-content">
    <!-- for window width -->
    <mat-tab-group  disableRipple animationDuration="500ms" md-dynamic-height #tabGroup (selectedTabChange)="myAccountTabChange()" [selectedIndex]="selectedTab" #matTabElement *ngIf="!mobile_screen">
      <mat-tab label="Account Dashboard">
        <div class="mydash-main full" id="sec1ac"  *ngIf="accountDetails">
          <div class="mydash-all-sec mydash-sec1 full">
            <h5>MY DASHBOARD</h5>
            <div class="mydash-all-sec-content full">
              <h6 class="name">HELLO, <span class="admin-name">{{accountDetails.contact_details[0].first_name}}</span></h6>
              <p>From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.</p>
            </div>
          </div>
          <div class="mydash-all-sec mydash-sec2 full">
            <h5 class="ac-info-manage">ACCOUNT INFORMATION </h5>
            <div class="mydash-all-sec-content full">
              <div class="contact-news full">
                <div class="contact-news-col col-sm-12 col-xs-12">
                  <div class="contact-news-block full">
                    <div class="contact-news-block-hd full">
                      <h6>CONTACT INFORMATION  
                        <a href="javascript:void(0)" (click)="tabGroup.selectedIndex = 1;changePassword = false;" class="edit" *ngIf="!guestUserFlag">
                          <i class="fa fa-pencil-square-o font20" aria-hidden="true"></i>
                        </a>
                      </h6>
                    </div>
                    <div class="contact-news-block-content full">
                      <p>
                        {{accountDetails.contact_details[0].first_name}}&nbsp;
                        {{accountDetails.contact_details[0].middle_name}}&nbsp;
                        {{accountDetails.contact_details[0].last_name}}&nbsp;
                      </p>
                      <p>Contact Number : <span>{{accountDetails.contact_details[0].phone_no}}</span>	</p>
                      <p>Email : <span>{{accountDetails.contact_details[0].email_id}}</span></p>
                      <a href="javascript:void(0)" (click)="tabGroup.selectedIndex = 1;changePassword = true;" class="contact-news-change-pass main-button" *ngIf="!guestUserFlag"><span> Change Password </span></a>
                    </div>
                    <div class="contact-news-block-pass full">
                    </div>
                  </div>
                </div>
                <div class="contact-news-col">
                  <div class="contact-news-block full">
                    <div class="contact-news-block-hd full">
                      <h6>NEWSLETTERS </h6>
                    </div>
                    <div class="contact-news-block-content full"  >
                      <p *ngIf="newsletterDetails">You are currently subscribed to our newsletter.</p>
                      <p *ngIf="!newsletterDetails">You are currently Not subscribed to our newsletter.</p>
                    </div>
                    <div class="input-group-append">
                      <a class="main-button" href="javascript:void(0);" *ngIf="newsletterDetails" (click)="newsLetterUnSubscribe()"><span>Unsubscribe Now</span></a>
                      <a class="main-button" href="javascript:void(0);" *ngIf="!newsletterDetails" (click)="newsLetterSubscribe()"><span>Subscribe Now</span></a>
                    </div>                 
                    <div class="contact-news-block-pass full">  
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <br>
              <div class="address-book full" >
                <h5 class="pull-left">Address Book &nbsp;[&nbsp; <a href="javascript:void(0)" (click)="tabGroup.selectedIndex = manageAddressTab" class="pull-right"> Manange Addresses</a> &nbsp;]</h5>
                <div class="contact-news full" *ngIf="accountDetails.default_add_details.length > 0">
                  <div class="contact-news-col">
                    <div class="contact-news-block full">
                      <div class="contact-news-block-hd full" >
                        <h6>DEFAULT BILLING ADDRESS <a href="javascript:void(0)" (click)="addAddressDialog(accountDetails.default_add_details[0].address_id)" class="edit"><i class="fa fa-pencil-square-o font20" aria-hidden="true"></i></a></h6>
                      </div>
                      <div class="contact-news-block-content full">
                        <p>
                          Name : {{accountDetails.default_add_details[0].name_add}} <br>
                          Email Id : {{accountDetails.default_add_details[0].email_id}} <br>
                          Address 1 : {{accountDetails.default_add_details[0].street_add}} <br>
                          Address 2 : {{accountDetails.default_add_details[0].street_add2}} <br>
                          Landmark : {{accountDetails.default_add_details[0].landmark_add}}<br>
                          City : {{accountDetails.default_add_details[0].city_add}} <br>
                          State : {{accountDetails.default_add_details[0].state_add}} <br>
                          Country : {{accountDetails.default_add_details[0].country_add}} <br>
                          Pincode : {{accountDetails.default_add_details[0].pincode_add}} <br>
                          Contact No : {{accountDetails.default_add_details[0].phone_add}} <br>
                        </p>
                      </div>
                      <div class="contact-news-block-pass full">
                      </div>
                    </div>
                  </div>
                  <div class="contact-news-col">
                    <div class="contact-news-block full">
                      <div class="contact-news-block-hd full">
                        <h6>DEFAULT SHIPPING ADDRESS <a href="javascript:void(0)" (click)="addAddressDialog(accountDetails.default_add_details[0].address_id)" class="edit"><i class="fa fa-pencil-square-o font20" aria-hidden="true"></i></a></h6>
                      </div>
                      <div class="contact-news-block-content full">
                        <p>
                          Name : {{accountDetails.default_add_details[0].name_add}} <br>
                          Email Id : {{accountDetails.default_add_details[0].email_id}} <br>
                          Address 1 : {{accountDetails.default_add_details[0].street_add}} <br>
                          Address 2 : {{accountDetails.default_add_details[0].street_add2}} <br>
                          Landmark : {{accountDetails.default_add_details[0].landmark_add}}<br>
                          City : {{accountDetails.default_add_details[0].city_add}} <br>
                          State : {{accountDetails.default_add_details[0].state_add}} <br>
                          Country : {{accountDetails.default_add_details[0].country_add}} <br>
                          Pincode : {{accountDetails.default_add_details[0].pincode_add}} <br>
                          Contact No : {{accountDetails.default_add_details[0].phone_add}} <br>
                        </p>
                      </div>
                      <div class="contact-news-block-pass full">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="alert alert-danger" *ngIf="accountDetails.default_add_details.length == 0">No Address Found <a href="javascript:void(0)" (click)="tabGroup.selectedIndex = manageAddressTab">Click here to Manage Address</a></div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Account Information" *ngIf="!guestUserFlag" >
        <form class="ac-info-personal" [formGroup]="accountInformationForm" (ngSubmit)="onSubmit('accountInformationForm')">
          <div class="ac-info-sec-content full">
            <h5>Account Information</h5>
            <div class="form-group">
              <label for="efname">First Name*</label>
              <input type="text" class="form-control" id="first_name" name="first_name" formControlName="first_name">
              <div *ngIf="accountFormSubmitted && accountInformationForm.controls.first_name.errors">
                <div *ngIf="accountInformationForm.controls.first_name.errors.required" class="text-danger">Please Enter the First Name</div>
              </div>
            </div>
            <div class="form-group">
              <label for="emname">Middle Name/Initial</label>
              <input type="text" class="form-control" id="middle_name" name="middle_name"  formControlName="middle_name">
              <div *ngIf="accountFormSubmitted && accountInformationForm.controls.middle_name.errors">
                <div *ngIf="accountInformationForm.controls.middle_name.errors.required" class="text-danger">Please Enter the Middle Name</div>
              </div>
            </div>
            <div class="form-group">
              <label for="elname">Last Name*</label>
              <input type="text" class="form-control" id="last_name" name="last_name"  formControlName="last_name">
              <div *ngIf="accountFormSubmitted && accountInformationForm.controls.last_name.errors">
                <div *ngIf="accountInformationForm.controls.last_name.errors.required" class="text-danger">Please Enter the Last Name</div>
              </div>
            </div>
            <div class="form-group">
              <label for="econtact">Contact No.*</label>
              <input type="text" class="form-control" id="contact_number" name="contact_number"  formControlName="contact_number"  minlength=10 maxlength=10>
              <div *ngIf="accountFormSubmitted && accountInformationForm.controls.contact_number.errors">
                <div *ngIf="accountInformationForm.controls.contact_number.errors.required" class="text-danger">Please Enter the Contact Number</div>
                <div *ngIf="accountInformationForm.controls.contact_number.errors.pattern" class="text-danger">Please Enter only Number </div>
              </div>
            </div>
            <div class="form-group" >
              <label for="regemail">Email Address*</label>
              <input type="email" class="form-control" id="email_id" name="email_id"  formControlName="email_id" >
              <div *ngIf="accountFormSubmitted && accountInformationForm.controls.email_id.errors">
                <div *ngIf="accountInformationForm.controls.email_id.errors.required" class="text-danger">Please Enter the Email Address</div>
                <div *ngIf="accountInformationForm.controls.email_id.errors.email" class="text-danger">Please Valid Email Address</div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="ac-info-sec-content full">
            <label>
              <input type="checkbox" class="check-pass" (change)="changePasswordCheckbox()" id="change_password_check" name="change_password_check"  formControlName="change_password_check" [checked]="changePassword" >Change Password 
            </label>
            <mat-accordion>
              <mat-expansion-panel [expanded]="changePassword" class="change-password-tab">
                <h5>CHANGE PASSWORD</h5>
                <div class="form-group">
                  <label for="cpass">Current Password*</label>
                  <input type="password" class="form-control" id="current_password"  name="current_password" formControlName="current_password"  [required]="changePassword" >
                  <div *ngIf="accountFormSubmitted && accountInformationForm.controls.current_password.errors">
                    <div *ngIf="accountInformationForm.controls.current_password.errors.required" class="text-danger">Please Enter the Current Password</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="npass">New Password*</label>
                  <input type="password" class="form-control" id="new_password" name="new_password"  formControlName="new_password"  [attr.notEqual]="changePassword?current_password:null"  [required]="changePassword">
                  <div *ngIf="accountFormSubmitted && accountInformationForm.controls.new_password.errors">
                    <div *ngIf="accountInformationForm.controls.new_password.errors.required" class="text-danger">Please Enter the New Password</div>
                    <div *ngIf="accountInformationForm.controls.new_password.errors.notEqual" class="text-danger">New Password should not equal to Current Password</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="cnpass">Confirm New Password*</label>
                  <input type="password" class="form-control" id="confirm_password" name="confirm_password"  formControlName="confirm_password" [attr.compare]="changePassword?new_password:null" [required]="changePassword">
                  <div *ngIf="accountFormSubmitted && accountInformationForm.controls.confirm_password.errors">
                    <div *ngIf="accountInformationForm.controls.confirm_password.errors.required" class="text-danger">Please Enter the Confirm password</div>
                    <div *ngIf="accountInformationForm.controls.confirm_password.errors.compare" class="text-danger">Mismatched Confirm password</div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="clearfix"></div>
          <div class="alert alert-success" [@enterAnimation]  *ngIf="alertSuccess !='' " >
            {{alertSuccess}}
          </div>
          <div class="alert alert-danger "  [@enterAnimation] *ngIf="alertDanger != '' ">
            {{alertDanger}}
          </div>
          <div class="com-submit-btn-main full">
            <div class="login-check-form-submit category-box">
              <button class="main-button" type="submit"><span>Save</span></button>&nbsp;&nbsp;
              <button class="main-button" type="button" (click)="tabGroup.selectedIndex = 0"><span>Back</span></button>&nbsp;&nbsp;
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Address Book" class="address-tab">
        <div class="contact-news-block-hd-header-tiles">
          <h5>Address Book </h5>
        </div>
        <div class="text-right">
            <a class="main-button"  (click)="addAddressDialog()"><span>Add Address</span></a>
        </div>
        <div class="clearfix"></div>
        <div class="text-danger">(Click the Checkbox to change the default Billing and Shipping Address.)</div>
        <hr>
        <div *ngIf="addressDetails != ''">
          <h5>Default Address</h5>
          <div class="contact-news full" *ngFor="let address of addressDetails">
            <div class="contact-news-col" *ngIf="address.default_add == 'Yes'">
              <div class="contact-news-block full">
                <div class="contact-news-block-hd full">
                  <div class="contact-news-block-hd-header-tiles">
                    <h6>{{address.address_title}}</h6>
                  </div>
                  <div class="contact-news-block-hd-header-tiles text-right">
                    <mat-radio-button  disableRipple value="address.address_id" layout-align="right right" [checked] ="address.default_add == 'Yes'" (click)="makeDefaultAddress(address.address_id,address.default_add)"></mat-radio-button>/&nbsp;
                      <!-- <input type="radio" name="" id="" value="address.address_id" [checked] ="address.default_add == 'Yes'" (click)="makeDefaultAddress(address.address_id,address.default_add)"> -->
                      <a href="javascript:void(0);" title="Edit" (click)="addAddressDialog(address.address_id)" class="edit pull-right"><i class="fa fa-pencil-square-o font20" aria-hidden="true"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="contact-news-block-content full">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Billing Address[ {{address.name_add}} ]
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p class="padding10">
                        Name : {{address.name_add}} <br>
                        Email Id : {{address.email_id}} <br>
                        Address 1 : {{address.street_add}} <br>
                        Address 2 : {{address.street_add2}} <br>
                        Landmark : {{address.landmark_add}}<br>
                        City : {{address.city_add}} <br>
                        State : {{address.state_add}} <br>
                        Country : {{address.country_add}} <br>
                        Pincode : {{address.pincode_add}} <br>
                        Contact No : {{address.phone_add}} <br>
                      </p>
                    </mat-expansion-panel>
                  
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Shipping Address [ {{address.name_add}} ]
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="padding10">
                      Name : {{address.name_add}} <br>
                      Email Id : {{address.email_id}} <br>
                      Address 1 : {{address.street_add}} <br>
                      Address 2 : {{address.street_add2}} <br>
                      Landmark : {{address.landmark_add}}<br>
                      City : {{address.city_add}} <br>
                      State : {{address.state_add}} <br>
                      Country : {{address.country_add}} <br>
                      Pincode : {{address.pincode_add}} <br>
                      Contact No : {{address.phone_add}} <br>
                    </p>
                  </mat-expansion-panel>
                </div>
                <div class="contact-news-block-pass full">
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr>
          <h5>Other Address</h5>
          <div class="contact-news full" *ngFor="let address of addressDetails" >
            <div class="contact-news-col" *ngIf="address.default_add == 'No'">
                <div class="contact-news-block full">
                  <div class="contact-news-block-hd full">
                    <div class="contact-news-block-hd-header-tiles">
                      <h6>{{address.address_title}}</h6>
                    </div>
                    <div class="contact-news-block-hd-header-tiles text-right">
                      <mat-radio-button  disableRipple value="address.address_id" layout-align="right right" [checked] ="address.default_add == 'Yes'" (click)="makeDefaultAddress(address.address_id,address.default_add)"></mat-radio-button>/&nbsp;
                      <!-- <input type="radio" name="" id="" value="address.address_id" [checked] ="address.default_add == 'Yes'" (click)="makeDefaultAddress(address.address_id,address.default_add)"> -->
                      <a href="javascript:void(0);" title="Edit" (click)="addAddressDialog(address.address_id)" class="edit pull-right"><i class="fa fa-pencil-square-o font20" aria-hidden="true"></i></a>&nbsp;/&nbsp; 
                      <a href="javascript:void(0);" title="Delete" (click)="deleteAddressDialog(address.address_id)" class="delete pull-right"><i class="fa fa-trash font20" aria-hidden="true"></i></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="contact-news-block-content full">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Billing Address [ {{address.name_add}} ]
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p class="padding10">
                        Name : {{address.name_add}} <br>
                        Email Id : {{address.email_id}} <br>
                        Address 1 : {{address.street_add}} <br>
                        Address 2 : {{address.street_add2}} <br>
                        Landmark : {{address.landmark_add}}<br>
                        City : {{address.city_add}} <br>
                        State : {{address.state_add}} <br>
                        Country : {{address.country_add}} <br>
                        Pincode : {{address.pincode_add}} <br>
                        Contact No : {{address.phone_add}} <br>
                      </p>
                    </mat-expansion-panel>
                  
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Shipping Address [ {{address.name_add}} ]
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="padding10">
                      Name : {{address.name_add}} <br>
                      Email Id : {{address.email_id}} <br>
                      Address 1 : {{address.street_add}} <br>
                      Address 2 : {{address.street_add2}} <br>
                      Landmark : {{address.landmark_add}}<br>
                      City : {{address.city_add}} <br>
                      State : {{address.state_add}} <br>
                      Country : {{address.country_add}} <br>
                      Pincode : {{address.pincode_add}} <br>
                      Contact No : {{address.phone_add}} <br>
                    </p>
                  </mat-expansion-panel>
                </div>
                <div class="contact-news-block-pass full">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="addressDetails == '' ">No Address Found</div>
      </mat-tab>
      <mat-tab label="My orders">
        <h5>My Orders</h5>
        <div class="order-wrapper">

        </div>
        <div class="alert alert-danger text-center" *ngIf="orderDetails?.length <= 0">No orders Found .. !</div>
        <div class="order-div" *ngIf="orderDetails?.length > 0">Orders Found</div>
      </mat-tab>
      <mat-tab label="My Wishlist">
        <h5>My Wishlist</h5>
        <div class="alert alert-danger text-center" *ngIf="wishlistDetails?.length<=0"> No Wishlist Data Found ..!</div>
        <div class="wishlist-section" *ngIf="wishlistDetails?.length>0">  
          <div class="col-sm-12 text-right">
            <!-- <a href="javascript:void(0)" class="main-button pull-right" (click)="removeAllProductFromWishlist()"><span>Clear Wishlist</span></a> -->
            <!-- <a href="javascript:void(0)" class="main-button pull-right" (click)="addAllToCartFromWishlist()"><span>Add All To Cart</span></a> -->
          </div>
          <div class="cart-table-main ">
            <div class="cart-table-inner ">
              <div class="cart-table-hd">
                <div class="cart-table-hd-list">
                  <div class="cart-table-hd-list-col">
                    <span>PRODUCT NAME</span>
                  </div>
                  <!-- <div class="cart-table-hd-list-col">
                    <span>COLOR</span>
                  </div> -->
                  <div class="cart-table-hd-list-col">
                    <span>UNIT PRICE</span>
                  </div>
                  <div class="cart-table-hd-list-col">
                    <span>ACTION</span>			
                  </div>
                </div>
              </div>
              <div class="cart-table-content">
                <div class="cart-table-content-list" *ngFor="let wishlist_data of wishlistDetails;let i = index;">
                  <div class="cart-table-content-list-col" data-th="PRODUCT NAME">
                    <div class="pro-info-cart ">
                      <div class="pro-info-cart-col">
                        <a href="javascript:void(0)" routerLink="//products-details/{{wishlist_data.link}}">
                          <img src="{{wishlist_data.product_image_path}}" alt="mitashi-img">
                        </a>
                      </div>
                      <div class="pro-info-cart-col">
                        <a href="javascript:void(0)" routerLink="//products-details/{{wishlist_data.link}}">
                          <h4>{{wishlist_data.product_name}}</h4>
                          <p>{{wishlist_data.product_sku}}</p>
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="cart-table-content-list-col" data-th="COLOR">
                  <select name="product_color[i]" id="" class="form-control"  (change)="changeColor(i,$event.target.value)"> 
                      <option value="{{colors.color_id}}" [selected]="colors.color_id == wishlist_data.color_id" *ngFor="let colors of wishlist_data.product_colors">
                        {{colors.color_name}}
                      </option>
                    </select>
                  </div> -->
                  <div class="cart-table-content-list-col" data-th="UNIT PRICE">
                    <p class="cart-price">{{wishlist_data.product_price}}</p>
                  </div>
                  <div class="cart-table-content-list-col trash-col" data-th="">
                    <a class="main-button btn-block" href="javascript:void(0)" (click)="removeProductFromWishlist(wishlist_data.wishlist_id,i)">
                      <span>
                        <i class="fa fa-remove" aria-hidden="true"></i> Remove
                      </span>
                    </a>
                    <a  class="main-button btn-block" href="javascript:void(0)" (click)="addToCartFromWishlist(wishlist_data.wishlist_id,i)">
                      <span>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-12 text-right">
            <a href="javascript:void(0)" class="main-button pull-right rlp-20" (click)="updateWishlist()"><span><i class="fa fa-heart" aria-hidden="true"></i> Update Wishlist</span></a>&nbsp;
            <a href="javascript:void(0)" class="main-button pull-right rlp-20" (click)="addAllToCartFromWishlist()"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add All To Cart</span></a>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <!-- for mobile -->
    <mat-accordion  class="account-accordian" *ngIf="mobile_screen">
      <mat-expansion-panel [expanded]="accordian_step === 0" (opened)="setStep(0)"  class="account-accordian-panel">
        <mat-expansion-panel-header class="account-accordian-header">
          <mat-panel-title class="account-accordian-header-title">
            <h5>MY DASHBOARD</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mydash-main full" id="sec1ac"  *ngIf="accountDetails" style='padding:20px;'>
          <div class="mydash-all-sec mydash-sec1 full">
            <div class="mydash-all-sec-content full">
              <h6 class="name">HELLO, <span class="admin-name">{{accountDetails.contact_details[0].first_name}}</span></h6>
              <p>From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.</p>
            </div>
          </div>
          <div class="mydash-all-sec mydash-sec2 full">
            <h5 class="ac-info-manage">ACCOUNT INFORMATION </h5>
            <div class="mydash-all-sec-content full">
              <div class="contact-news full">
                <div class="contact-news-col col-sm-12 col-xs-12">
                  <div class="contact-news-block full">
                    <div class="contact-news-block-hd full">
                      <h6>CONTACT INFORMATION  
                        <a href="javascript:void(0)" (click)="setStep(1);changePassword = false;" class="edit" *ngIf="!guestUserFlag">
                          <i class="fa fa-pencil-square-o font20" aria-hidden="true"></i>
                        </a>
                      </h6>
                    </div>
                    <div class="contact-news-block-content full">
                      <p>
                        {{accountDetails.contact_details[0].first_name}}&nbsp;
                        {{accountDetails.contact_details[0].middle_name}}&nbsp;
                        {{accountDetails.contact_details[0].last_name}}&nbsp;
                      </p>
                      <p>Contact Number : <span>{{accountDetails.contact_details[0].phone_no}}</span>	</p>
                      <p>Email : <span>{{accountDetails.contact_details[0].email_id}}</span></p>
                      <a href="javascript:void(0)" (click)="setStep(1);changePassword = true;" class="contact-news-change-pass main-button" *ngIf="!guestUserFlag"><span> Change Password </span></a>
                    </div>
                    <div class="contact-news-block-pass full">
                    </div>
                  </div>
                </div>
                <div class="contact-news-col">
                    <div class="contact-news-block full">
                        <div class="contact-news-block-hd full">
                          <h6>NEWSLETTERS </h6>
                        </div>
                        <div class="contact-news-block-content full"  >
                          <p *ngIf="newsletterDetails">You are currently subscribed to our newsletter.</p>
                          <p *ngIf="!newsletterDetails">You are currently Not subscribed to our newsletter.</p>
                        </div>
                        <div class="input-group-append">
                          <a class="main-button" href="javascript:void(0);" *ngIf="newsletterDetails" (click)="newsLetterUnSubscribe()"><span>Unsubscribe Now</span></a>
                          <a class="main-button" href="javascript:void(0);" *ngIf="!newsletterDetails" (click)="newsLetterSubscribe()"><span>Subscribe Now</span></a>
                        </div>                 
                        <div class="contact-news-block-pass full">  
                        </div>
                    </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <br>
              <div class="address-book full" >
                <h5 class="pull-left">Address Book &nbsp;[&nbsp; <a href="javascript:void(0)" (click)="setStep(2)" class="pull-right"> Manange Addresses</a> &nbsp;]</h5>
                <div class="contact-news full" *ngIf="accountDetails.default_add_details.length > 0">
                  <div class="contact-news-col">
                    <div class="contact-news-block full">
                      <div class="contact-news-block-hd full" >
                        <h6>DEFAULT BILLING ADDRESS <a href="javascript:void(0)" (click)="addAddressDialog(accountDetails.default_add_details[0].address_id)" class="edit"><i class="fa fa-pencil-square-o font20" aria-hidden="true"></i></a></h6>
                      </div>
                      <div class="contact-news-block-content full">
                        <p>
                          Name : {{accountDetails.default_add_details[0].name_add}} <br>
                          Email Id : {{accountDetails.default_add_details[0].email_id}} <br>
                          Address 1 : {{accountDetails.default_add_details[0].street_add}} <br>
                          Address 2 : {{accountDetails.default_add_details[0].street_add2}} <br>
                          Landmark : {{accountDetails.default_add_details[0].landmark_add}}<br>
                          City : {{accountDetails.default_add_details[0].city_add}} <br>
                          State : {{accountDetails.default_add_details[0].state_add}} <br>
                          Country : {{accountDetails.default_add_details[0].country_add}} <br>
                          Pincode : {{accountDetails.default_add_details[0].pincode_add}} <br>
                          Contact No : {{accountDetails.default_add_details[0].phone_add}} <br>
                        </p>
                      </div>
                      <div class="contact-news-block-pass full">
                      </div>
                    </div>
                  </div>
                  <div class="contact-news-col">
                    <div class="contact-news-block full">
                      <div class="contact-news-block-hd full">
                        <h6>DEFAULT SHIPPING ADDRESS <a href="javascript:void(0)" (click)="addAddressDialog(accountDetails.default_add_details[0].address_id)" class="edit"><i class="fa fa-pencil-square-o font20" aria-hidden="true"></i></a></h6>
                      </div>
                      <div class="contact-news-block-content full">
                        <p>
                          Name : {{accountDetails.default_add_details[0].name_add}} <br>
                          Email Id : {{accountDetails.default_add_details[0].email_id}} <br>
                          Address 1 : {{accountDetails.default_add_details[0].street_add}} <br>
                          Address 2 : {{accountDetails.default_add_details[0].street_add2}} <br>
                          Landmark : {{accountDetails.default_add_details[0].landmark_add}}<br>
                          City : {{accountDetails.default_add_details[0].city_add}} <br>
                          State : {{accountDetails.default_add_details[0].state_add}} <br>
                          Country : {{accountDetails.default_add_details[0].country_add}} <br>
                          Pincode : {{accountDetails.default_add_details[0].pincode_add}} <br>
                          Contact No : {{accountDetails.default_add_details[0].phone_add}} <br>
                        </p>
                      </div>
                      <div class="contact-news-block-pass full">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="alert alert-danger" *ngIf="accountDetails.default_add_details.length == 0">No Address Found <a href="javascript:void(0)" (click)="setStep(2)">Click here to Manage Address</a></div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="accordian_step === 1"   class="account-accordian-panel" *ngIf="!guestUserFlag" >
        <mat-expansion-panel-header class="account-accordian-header">
          <mat-panel-title class="account-accordian-header-title">
            <h5>ACCOUNT INFORMATION</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="col-sm-12"><br>
          <form class="ac-info-personal" [formGroup]="accountInformationForm" (ngSubmit)="onSubmit('accountInformationForm')">
            <div class="ac-info-sec-content full">
              <div class="form-group">
                <label for="efname">First Name*</label>
                <input type="text" class="form-control" id="first_name" name="first_name" formControlName="first_name">
                <div *ngIf="accountFormSubmitted && accountInformationForm.controls.first_name.errors">
                  <div *ngIf="accountInformationForm.controls.first_name.errors.required" class="text-danger">Please Enter the First Name</div>
                </div>
              </div>
              <div class="form-group">
                <label for="emname">Middle Name/Initial</label>
                <input type="text" class="form-control" id="middle_name" name="middle_name"  formControlName="middle_name">
                <div *ngIf="accountFormSubmitted && accountInformationForm.controls.middle_name.errors">
                  <div *ngIf="accountInformationForm.controls.middle_name.errors.required" class="text-danger">Please Enter the Middle Name</div>
                </div>
              </div>
              <div class="form-group">
                <label for="elname">Last Name*</label>
                <input type="text" class="form-control" id="last_name" name="last_name"  formControlName="last_name">
                <div *ngIf="accountFormSubmitted && accountInformationForm.controls.last_name.errors">
                  <div *ngIf="accountInformationForm.controls.last_name.errors.required" class="text-danger">Please Enter the Last Name</div>
                </div>
              </div>
              <div class="form-group">
                <label for="econtact">Contact No.*</label>
                <input type="text" class="form-control" id="contact_number" name="contact_number"  formControlName="contact_number"  minlength=10 maxlength=10>
                <div *ngIf="accountFormSubmitted && accountInformationForm.controls.contact_number.errors">
                  <div *ngIf="accountInformationForm.controls.contact_number.errors.required" class="text-danger">Please Enter the Contact Number</div>
                  <div *ngIf="accountInformationForm.controls.contact_number.errors.pattern" class="text-danger">Please Enter only Number </div>
                </div>
              </div>
              <div class="form-group" >
                <label for="regemail">Email Address*</label>
                <input type="email" class="form-control" id="email_id" name="email_id"  formControlName="email_id" >
                <div *ngIf="accountFormSubmitted && accountInformationForm.controls.email_id.errors">
                  <div *ngIf="accountInformationForm.controls.email_id.errors.required" class="text-danger">Please Enter the Email Address</div>
                  <div *ngIf="accountInformationForm.controls.email_id.errors.email" class="text-danger">Please Valid Email Address</div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ac-info-sec-content full">
              <label>
                <input type="checkbox" class="check-pass" (change)="changePasswordCheckbox()" id="change_password_check" name="change_password_check"  formControlName="change_password_check" [checked]="changePassword" >Change Password 
              </label>
              <mat-accordion>
                <mat-expansion-panel [expanded]="changePassword" >
                  <h5>CHANGE PASSWORD</h5>
                  <div class="form-group">
                    <label for="cpass">Current Password*</label>
                    <input type="password" class="form-control" id="current_password"  name="current_password" formControlName="current_password"  [required]="changePassword" >
                    <div *ngIf="accountFormSubmitted && accountInformationForm.controls.current_password.errors">
                      <div *ngIf="accountInformationForm.controls.current_password.errors.required" class="text-danger">Please Enter the Current Password</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="npass">New Password*</label>
                    <input type="password" class="form-control" id="new_password" name="new_password"  formControlName="new_password"  [attr.notEqual]="changePassword?current_password:null"  [required]="changePassword">
                    <div *ngIf="accountFormSubmitted && accountInformationForm.controls.new_password.errors">
                      <div *ngIf="accountInformationForm.controls.new_password.errors.required" class="text-danger">Please Enter the New Password</div>
                      <div *ngIf="accountInformationForm.controls.new_password.errors.notEqual" class="text-danger">New Password should not equal to Current Password</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="cnpass">Confirm New Password*</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password"  formControlName="confirm_password" [attr.compare]="changePassword?new_password:null" [required]="changePassword">
                    <div *ngIf="accountFormSubmitted && accountInformationForm.controls.confirm_password.errors">
                      <div *ngIf="accountInformationForm.controls.confirm_password.errors.required" class="text-danger">Please Enter the Confirm password</div>
                      <div *ngIf="accountInformationForm.controls.confirm_password.errors.compare" class="text-danger">Mismatched Confirm password</div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="clearfix"></div>
            <div class="alert alert-success" [@enterAnimation]  *ngIf="alertSuccess !='' " >
              {{alertSuccess}}
            </div>
            <div class="alert alert-danger "  [@enterAnimation] *ngIf="alertDanger != '' ">
              {{alertDanger}}
            </div>
            <div class="com-submit-btn-main full">
              <div class="login-check-form-submit category-box">
                <button class="main-button" type="submit"><span>Save</span></button>&nbsp;&nbsp;
                <button class="main-button" type="button" (click)="setStep(0);"><span>Back</span></button>&nbsp;&nbsp;
              </div>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="accordian_step === 2"   class="account-accordian-panel">
        <mat-expansion-panel-header class="account-accordian-header">
          <mat-panel-title class="account-accordian-header-title">
            <h5>ADDRESS BOOK</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="col-sm-12"><br>
          <div class="text-right">
              <a class="main-button"  (click)="addAddressDialog()"><span>Add Address</span></a>
          </div>
          <div class="clearfix"></div>
          <div class="text-danger">(Click the Radio button to change the default Billing and Shipping Address.)</div>
          <hr>
          <div *ngIf="addressDetails != ''">
              <h5>Default Address</h5>
              <div class="contact-news full" *ngFor="let address of addressDetails">
                <div class="contact-news-col" *ngIf="address.default_add == 'Yes'">
                  <div class="contact-news-block full">
                    <div class="contact-news-block-hd full">
                      <div class="contact-news-block-hd-header-tiles">
                        <h6>{{address.address_title}}</h6>
                      </div>
                      <div class="contact-news-block-hd-header-tiles text-right">
                        <mat-radio-button  disableRipple value="address.address_id" layout-align="right right" [checked] ="address.default_add == 'Yes'" (click)="makeDefaultAddress(address.address_id,address.default_add)"></mat-radio-button>/&nbsp;
                          <!-- <input type="radio" name="" id="" value="address.address_id" [checked] ="address.default_add == 'Yes'" (click)="makeDefaultAddress(address.address_id,address.default_add)"> -->
                          <a href="javascript:void(0);" title="Edit" (click)="addAddressDialog(address.address_id)" class="edit pull-right"><i class="fa fa-pencil-square-o font20" aria-hidden="true"></i></a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="contact-news-block-content full">
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Billing Address[ {{address.name_add}} ]
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p class="padding10">
                            Name : {{address.name_add}} <br>
                            Email Id : {{address.email_id}} <br>
                            Address 1 : {{address.street_add}} <br>
                            Address 2 : {{address.street_add2}} <br>
                            Landmark : {{address.landmark_add}}<br>
                            City : {{address.city_add}} <br>
                            State : {{address.state_add}} <br>
                            Country : {{address.country_add}} <br>
                            Pincode : {{address.pincode_add}} <br>
                            Contact No : {{address.phone_add}} <br>
                          </p>
                        </mat-expansion-panel>
                      
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Shipping Address [ {{address.name_add}} ]
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="padding10">
                          Name : {{address.name_add}} <br>
                          Email Id : {{address.email_id}} <br>
                          Address 1 : {{address.street_add}} <br>
                          Address 2 : {{address.street_add2}} <br>
                          Landmark : {{address.landmark_add}}<br>
                          City : {{address.city_add}} <br>
                          State : {{address.state_add}} <br>
                          Country : {{address.country_add}} <br>
                          Pincode : {{address.pincode_add}} <br>
                          Contact No : {{address.phone_add}} <br>
                        </p>
                      </mat-expansion-panel>
                    </div>
                    <div class="contact-news-block-pass full">
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <hr>
              <h5>Other Address</h5>
              <div class="contact-news full" *ngFor="let address of addressDetails" >
                <div class="contact-news-col" *ngIf="address.default_add == 'No'">
                  <div class="contact-news-block full">
                    <div class="contact-news-block-hd full">
                      <div class="contact-news-block-hd-header-tiles">
                        <h6>{{address.address_title}}</h6>
                      </div>
                      <div class="contact-news-block-hd-header-tiles text-right">
                        <mat-radio-button  disableRipple value="address.address_id" layout-align="right right" [checked] ="address.default_add == 'Yes'" (click)="makeDefaultAddress(address.address_id,address.default_add)"></mat-radio-button>/&nbsp;
                        <a href="javascript:void(0);" title="Edit" (click)="addAddressDialog(address.address_id)" class="edit pull-right"><i class="fa fa-pencil-square-o font20" aria-hidden="true"></i></a>&nbsp;/&nbsp; 
                        <a href="javascript:void(0);" title="Delete" (click)="deleteAddressDialog(address.address_id)" class="delete pull-right"><i class="fa fa-trash font20" aria-hidden="true"></i></a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="contact-news-block-content full">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Billing Address [ {{address.name_add}} ]
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="padding10">
                          Name : {{address.name_add}} <br>
                          Email Id : {{address.email_id}} <br>
                          Address 1 : {{address.street_add}} <br>
                          Address 2 : {{address.street_add2}} <br>
                          Landmark : {{address.landmark_add}}<br>
                          City : {{address.city_add}} <br>
                          State : {{address.state_add}} <br>
                          Country : {{address.country_add}} <br>
                          Pincode : {{address.pincode_add}} <br>
                          Contact No : {{address.phone_add}} <br>
                        </p>
                      </mat-expansion-panel>
                    
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Shipping Address [ {{address.name_add}} ]
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p class="padding10">
                        Name : {{address.name_add}} <br>
                        Email Id : {{address.email_id}} <br>
                        Address 1 : {{address.street_add}} <br>
                        Address 2 : {{address.street_add2}} <br>
                        Landmark : {{address.landmark_add}}<br>
                        City : {{address.city_add}} <br>
                        State : {{address.state_add}} <br>
                        Country : {{address.country_add}} <br>
                        Pincode : {{address.pincode_add}} <br>
                        Contact No : {{address.phone_add}} <br>
                      </p>
                    </mat-expansion-panel>
                  </div>
                  <div class="contact-news-block-pass full">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="addressDetails == '' ">No Address Found</div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="accordian_step === 3"   class="account-accordian-panel">
        <mat-expansion-panel-header class="account-accordian-header">
          <mat-panel-title class="account-accordian-header-title">
            <h5>MY ORDERS</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="alert alert-danger text-center" *ngIf="orderDetails?.length<=0">No orders Found .. !</div>
        <div class="order-div" *ngIf="orderDetails?.length>0">Orders Found</div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="accordian_step === 4" class="account-accordian-panel">
        <mat-expansion-panel-header class="account-accordian-header">
          <mat-panel-title class="account-accordian-header-title">
            <h5>MY WISHLIST</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="alert alert-danger text-center" *ngIf="wishlistDetails?.length<=0"> No Wishlist Data Found ..!</div>
        <div class="wishlist-section" *ngIf="wishlistDetails?.length>0">  
          <div class="col-sm-12 text-right">
            <a href="javascript:void(0)" class="main-button pull-right" (click)="addAllToCartFromWishlist()"><span>Add All To Cart</span></a>
          </div>
          <div class="cart-table-main ">
            <div class="cart-table-inner ">
              <div class="cart-table-content wishlist-table-content">
                <div class="cart-table-content-list" *ngFor="let wishlist_data of wishlistDetails;let i = index;">
                  <div class="col-sm-12" >
                    <div class="pro-info-cart ">
                      <div class="pro-info-cart-col">
                        <a href="javascript:void(0)" routerLink="//products-details/{{wishlist_data.link}}">
                          <img class="wishlist-list-img" src="{{wishlist_data.product_image_path}}" alt="mitashi-img">
                        </a>
                      </div>
                      <div class="pro-info-cart-col">
                        <select name="product_color[i]" id="" class="form-control"  (change)="changeColor(i,$event.target.value)"> 
                          <option value="{{colors.color_id}}" [selected]="colors.color_id == wishlist_data.color_id" *ngFor="let colors of wishlist_data.product_colors">
                            {{colors.color_name}}
                          </option>
                        </select>
                      </div>
                      <div class="pro-info-cart-col">
                        <a href="javascript:void(0)" routerLink="//products-details/{{wishlist_data.link}}">
                          <h4>{{wishlist_data.product_name}}</h4>
                          <p>{{wishlist_data.product_sku}}</p>
                          <p>{{wishlist_data.product_price}}</p>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 text-center" >
                    <a class="main-button " href="javascript:void(0)" (click)="removeProductFromWishlist(wishlist_data.wishlist_id,i)">
                      <span>
                        <i class="fa fa-remove" aria-hidden="true"></i> Remove
                      </span>
                    </a>
                    <a  class="main-button " href="javascript:void(0)" (click)="addToCartFromWishlist(wishlist_data.wishlist_id,i)">
                      <span>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-12 text-right">
              <a href="javascript:void(0)" class="main-button pull-right rlp-20" (click)="updateWishlist()"><span><i class="fa fa-heart" aria-hidden="true"></i> Update Wishlist</span></a>&nbsp;
              <a href="javascript:void(0)" class="main-button pull-right rlp-20" (click)="addAllToCartFromWishlist()"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add All To Cart</span></a>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>