.mydash-all-sec{
	margin-bottom: 30px;
}
.mydash-all-sec .mydash-all-sec-hd{
	margin-bottom: 10px;
}
.ac-info-sec-content .mat-expansion-panel-body{
	background: #fff !important;
}
.contact-news-col{
	float: left;
	width:50%;
	padding: 0px 15px;
}
.contact-news-col:nth-child(1){
	padding-left: 0px;
}
.contact-news-col:nth-child(2){
	padding-right: 0px;
}
.contact-news-block{
	border: 1px solid #ccc;
}
.contact-news-block-hd{
	background: #e7e7e7;
	padding: 15px 20px;
}
.contact-news-block-content{
	padding: 15px 20px;
}
.contact-news-block-hd h6{
	position: relative;
	padding-right: 80px;
}
.contact-news-block-hd h6 .edit{
	position: absolute;
right: 0;top: 2px;
}
.address-book h6{
	margin: 20px 0px;
    text-transform: uppercase;
}
.ac-info-manage{
	position: relative;
	padding-right: 150px;
}
.ac-info-manage a{
	position: absolute;
	right: 0;
	top:5px;
	font-size: 13px;
}
.ac-info-manage a i{
	margin-right: 7px;font-size: 13px;
}

.ac-info-personal .form-group
{
	float: left;width: 50%;padding: 0px 10px;
}
.ac-info-personal .form-group.checkbox-div{
	float: left;
    width: 100%;
}
.ac-info-personal .form-group.checkbox-div .check-pass{
	margin-right: 5px;
}
.address-book .contact-news-block-hd h6{
	margin: 0;
}
.contact-news-block-hd h6{
    margin: 0;
}
.change-pass-main{
	margin-top: 30px;
}
.change-pass-form{
	float: left;width: 50%;
}

.change-pass-main.hide{
	display: none;
}
.change-pass-main.show{
	display: block;
}

.manage-add-block{
	    border: 1px solid #ccc;
}
.manage-add-block-hd {
    background: #e7e7e7;
    padding: 15px 20px;
}
.manage-add-block-content {
    padding: 15px 20px;
}
.manage-add-block-hd h6 {
	position: relative;
	padding-right: 200px;
	margin: 0;
}
.manage-add-block-hd h6 .delet{
	position: absolute;
	right: 0;
	top: -4px;
}
.manage-add-all-sec{
	margin-bottom: 25px;
}
.manage-add-block-list .manage-add-block-list-col{
	float: left;width: 50%;margin-bottom: 20px;
}
.manage-add-block-list .manage-add-block-list-col:nth-child(odd){
	padding-right: 10px;
}
.manage-add-block-list .manage-add-block-list-col:nth-child(even){
	padding-left: 10px;
}
.mat-expansion-panel-header {
    padding: 0 10px !important;
}

.mat-expansion-panel-content p {
	padding-left: 10px !important;
}

.mat-expansion-indicator{
	display:none;	
}

.padding10{
	padding:10px !important;
}
.form-group{
	width:100% !important;
}

/* mobile accordian */
.account-accordian-panel{
	border:1px solid #1d4a99;
	margin:20px 0px; 
	border-radius:0px !important;
	color: #1d4a99;
}
.account-accordian-panel .mat-expansion-panel-header:first-child{
	border-bottom:1px solid #1d4a99;
	border-radius:0px !important;
}
.account-accordian-panel .mat-expansion-panel-header:first-child .account-accordian-header-title{
	color: #1d4a99 ;
}
.account-accordian-panel .mat-expansion-panel-header:first-child .account-accordian-header-title h5{
	margin-bottom: 0px;
}
.account-accordian-panel .mat-expansion-panel-header .mat-expansion-indicator::after {
	/* color:#fff !important; */
}
.wishlist-section .cart-table-main{
	padding:10px;
}
.wishlist-section a.main-button{
	padding: 0px 10px !important;
}
.wishlist-section a.main-button.rlp-20{
	padding: 0px 20px !important;
}
.wishlist-section .cart-table-main .cart-table-inner {
	height: auto;
    float: left;
	width: 100%;
	border:1px solid #cccccc;
}
.window-screen{
	display:block;
}
.mobile-screen{
	display:none;
}
@media(max-width:640px){
	.wishlist-list-img{
		width:200px;
		margin:0px auto;
	}
	.wishlist-table-content .pro-info-cart-col{
		text-align:center !important;
	}
}
@media(max-width:800px){
	.window-screen{
		display:none;
	}
	.mobile-screen{
		display:block;
	}
}
/* mobile accordian */