:host {
    >.container {
        max-width: 1264px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background: none;
    }
    /deep/ {
       .mat-tab-group {
            flex-direction: row;
            @media screen and (max-width:780px) {
                flex-direction: column;
                border-top:0px solid;
            }
        }
        .mat-tab-body{
            .mat-tab-body-content{
                // background: #cdcdcd26;
                border-top: 1px solid #cdcdcd;
            }
        }
        .mat-tab-body{
            border-left: 1px solid #cdcdcd;;
            @media screen and (max-width:780px) {
                border-left: none;
            }
        }
        .mat-tab-header {
            border-bottom: none;
            width: 25%;
            @media screen and (max-width:780px) {
                border-bottom: 1px solid #cdcdcd;;
                width:100%;
            }
        }
        .mat-tab-header-pagination {
            display: none !important;
            @media screen and (max-width:780px) {
                display: block !important;
                margin-top: 0px;
                padding-top: 20px;
                padding-left: 13px;
            }
        }
        .mat-tab-header-pagination-after{
            @media screen and (max-width:780px) {
              margin-right: -4px !important;
              margin-left: 11px;
              margin-top: 0px;
              padding-top: 20px;
              padding-left: 8px;
            }
        }

        .mat-tab-labels {
            flex-direction: column;
            @media screen and (max-width:780px) {
                flex-direction: row;
            }
           
        }
        .mat-tab-label{
            color:#fff;
            margin-bottom: 5px;
            @media screen and (max-width:780px) {
                margin-bottom: 0px;
            }
            &:hover{
                font-weight: bold;
            }
        }
        .mat-tab-label-active{
            color:#fff;
            font-weight:bold;
        }
        .mat-ink-bar {
            height: 100%;
            left: 98% !important;
        }
        .mat-tab-body-wrapper {
            flex: 1 1 auto;
        }
        .mat-tab-body-content{
            padding:15px;
        }
        .change-password-tab{
            background: #f8f8f8 !important;
        }
        .address-tab .mat-expansion-panel{
            border-bottom: 1px solid #cdcdcd;
            .mat-expansion-panel-body{
                padding:0px !important;
                p{
                    padding: 0px 15px;
                }
            }
        }
        .change-pass-main{
            h5{
                padding-left: 10px;
            }
        }
        .mydash-main{
            .h5{
                padding:5px 0px !important;
            }
        }
        .contact-news-col {
            margin:10px 0px !important;
            @media screen and (max-width:780px) {
                padding:0px !important;
                margin:20px 0px !important;
                width:100% !important;
            }
        }
        .form-group{
            // @media screen and (max-width:780px) {
                padding:0px !important;
            // }
        }
        .mat-ink-bar {
            visibility: hidden !important;
            transition: unset;
        }
        .contact-news-block-hd-header-tiles{
            width:50% !important;
            float:left;
        }
        .text-right{
            text-align: right;
        }
        .font20{
            font-size:20px;
        }
        .mat-radio-outer-circle{
            border-color: #037bfe !important;
        }
        .mat-radio-inner-circle{
            border-color: #037bfe !important;
        }
    }
}
