<section class="col-lg-12 row" *ngIf="lodingImage"  >
    <app-loading></app-loading>
</section>
<section class="news-section" #NewsDiv>
  <div class="container">  
    <div class="col-lg-12 col-md-12 wow " data-wow-delay="0ms">
      <button class="readmore-btn"  routerLink="/inpress" class="btn btn-primary"><span>ALL NEWS</span></button>
    </div>
    <br>
    <div class="col-lg-12 col-md-12 wow " data-wow-delay="0ms" *ngIf="newsDetails?.length>0">
      <div class="news-item">
        <div class="news_box">
          <div class="newsimg">
            <img class="img-responsive" src="{{newsDetails[0].news_banner_path}}" alt="">
          </div>
          <div class="news-content">
            <h1>{{newsDetails[0].news_heading}}</h1>
            <div class="news_postdate">
              <span>{{newsDetails[0].news_date}}</span>
            </div>
            <br>
            <p [innerHtml]="newsDetails[0].news_description | safeHtml" class="limitText"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
