
.news-section {
    padding:90px 0;
}
  
  .news-content {
      padding: 40px 30px;
  }
  
  .news-item {
      box-shadow: 0 0 15px #abaaaa;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      margin-bottom: 40px;
  }
  
  .news-item:hover {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
      -webkit-box-shadow: 0px 15px 15px 0px #edeaea;
      box-shadow: 0px 15px 15px 0px #edeaea;
  }
  
  .newsimg img {
      width: 100%;
  }
  
  .news_postdate {
      color: #FF3A46;
  }
  
  .news-content h3 {
      color: #1d4a99;
      font-size: 20px;
      margin-bottom: 25px;
  }
  
  .news_authorinfo {
      border: transparent;
      padding: 14px 0px 0px 0px;
      background: transparent;
      font-size: 14px;
  }
  
  .news_authorinfo i {
      margin-right: 6px;
  }
  
  .news_authorinfo span:last-child {
      float: right;
  }
  
  .news_authorinfo a {
      color: #666;
  }
  
  .center .news-content {
      background: linear-gradient(-120deg, #8758ff 0, #614ef9 100%);
  }
  
  .center .news-content h3,
  .center .news-content p {
      color: #fff;
  }
  
  .center .news_authorinfo a,
  .center .news_authorinfo i {
      color: #fff;
  }
  
  .news-slide.owl-carousel .col-lg-4 {
      max-width: 100%;
      padding: 0;
  }
  
  .news-section .owl-theme .owl-nav [class*="owl-"] {
      color: #333;
      font-size: 14px;
      margin: 5px;
      padding: 4px 7px;
      background: #fff;
      display: inline-block;
      cursor: pointer;
      border-radius: 3px;
      border: 1px solid #ddd;
  }
  
  .small-title {
    font-size: 20px;
    text-transform: capitalize;
    color: #FF3A46;
    margin-bottom: 10px;
    margin-top: 0px;
    font-weight: 600;
  }
  .big-title {
      letter-spacing: 0px;
      padding-bottom: 13px;
      position: relative;
      color: #233D63;
      line-height: 50px;
      font-size: 36px;
      text-transform: capitalize;
      font-weight: 600;
  }
  .main-title-box {
      margin-bottom: 60px;
  }

  .limitText{
    max-height:60px;
    overflow: hidden;
    color:#7e7e7e;
  }

  .readmore-btn {
    border-radius: 4px;
    border: none;
    color: #f4511e;
    text-align: left;
    font-size: 14px;
    padding: 10px 0px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .readmore-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .readmore-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .readmore-btn:hover span {
    padding-right: 25px;
  }
  
  .readmore-btn:hover span:after {
    opacity: 1;
    right: 0;
  }
.particles-wrapper {
    position: relative;
    background:linear-gradient(to right,#1cb5e0,#000046);
    color: white;
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.particles-wrapper .description {
    padding:40px;
    text-align: center;
}
.particles-wrapper .description h1{
    margin-top: 80px;
    text-transform: uppercase;
}