<section class="col-lg-12 row" *ngIf="lodingImage"  >
    <app-loading></app-loading>
</section>
<div class="particles-wrapper" #allNewsDiv>
  <app-particles>
  </app-particles>
  <div class=description>
    <h1>In The Press</h1>
  </div>
</div>
<!-- <section class="title-product-section container-fluid" #aboutUsTop>
  <div class="title-section">
    <div class="title-image-section"><span>In The Press</span></div>
  </div>
</section> -->
<div class="clearfix"></div>
<section class="news-section" *ngIf="newsList?.length > 0" data-aos="fade-up" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="30" (scrolled)="onScroll()" [scrollWindow]="true"  >
  <div class="container" >
    <div class="row">
      <!--Single Blog Start-->
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0ms" *ngFor = "let news of newsList">
        <div class="news-item">
          <div class="news_box">
            <div class="newsimg"><img class="img-responsive" src="{{news.news_banner_path}}" alt=""></div>
            <div class="news-content">
              <div class="news_postdate">
                <span>{{news.news_date}}</span>
              </div>
              <a href="javascript:void(0)" routerLink="/inpress/{{news.news_link}}">
                <h3>{{news.news_heading}}</h3>
              </a>
              <p [innerHtml]="news.news_short_description | safeHtml" class="limitText"></p>
              <button class="readmore-btn" routerLink="/inpress/{{news.news_link}}"><span>Read more </span></button>
              <!-- <div class="news_authorinfo">
                <span><i class="fa fa-user"></i>  <a href="">Robert Tylor </a></span>
                <span><i class="fa fa-comment"></i> <a href="">Comments: (2)</a></span>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <!--Single Blog End-->
    </div>
    <div class="col-sm-12 col-lg-12 col-md-12 text-center" class="product-loader" *ngIf="LoaderBottom">
        <img src="{{assetsUrl}}images/product_loader.gif" alt="">
    </div>
  </div>
</section>