<section class="title-product-section container-fluid" id="all-product-section" >
  <div class="title-section">
      <div class="title-image-section"><span>All Recently viewed</span></div>
  </div>
</section>
<section class="all-product-section all-recent-view"  >
  <aside class="col-lg-12 row " *ngIf="(recentlyViewedData | json) != '{}' && !productLoading" >
      <div class="col-12 buy-section">
        <div class="row coming-section categroy-section-row product-listing-wrapper ml-15" >
          <div class="col-sm-6 col-md-3 col-lg-3  category-box text-center product-tile-box" *ngFor="let products of recentlyViewedData | recentlyViewOrder | paginate: { itemsPerPage: itemsPerPage, currentPage: pageOffset,totalItems: totalProducts  } "  style="float:left">
            <div class="row justify-content-sm-center ">
                <div class="col-12 category-img">
                    <a routerLink="//products-details/{{products.link}}">
                        <img class="img-fluid lazy" src="{{products.product_image_path}}" alt="" />
                    </a>
                </div>
                <div class="col-12 col-sm-9 col-equal">
                    <div class="row">
                        <div class="col-12 category-title">{{products.product_sku}}</div>
                        <div class="col-12 category-price">₹ {{products.product_price}}/-</div>
                        <div class="col-12 category-product-title">{{products.product_name  }}</div>
                    </div>
                </div>
                <div class="col-12 button-section btn-align-bottom mt-12"><a class="main-button" href="javascript:void(0);" routerLink="//products-details/{{products.link}}"><span>Buy Now</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-12 col-md-12 text-center" *ngIf="recentlyViewedData?.length > 0">
          <hr>
          <pagination-controls (pageChange)="pageOffset = $event;getRecentlyViewedProducts();" class=""></pagination-controls>
      </div>
  </aside>
  <aside class="col-lg-12 row " *ngIf="recentlyViewedData?.length <= 0 && !productLoading" >
      <img src="{{assetsUrl}}images/noproduct_gray.png" alt="" class="center" >
      <div class="clearfix"></div>
  </aside>
  <aside class="col-lg-9 row" *ngIf="productLoading">
      <app-loading></app-loading>
  </aside>
</section>